.height-100.flex-column.flex-1(translate-namespace="SHIFT")
  bc-tabs(tab="tabs.selectedTab" tab-options="tabs.options" on-select="tabs.select($tab)")
    .shift-logo
      span.mrs.type-sm.hidden-xs(translate="POWERED_BY")
      a(href="https://www.shapeshift.io/" target="_blank" rel="noopener noreferrer")
        img.mbs.tabs-partner-logo(src="img/shapeshift-logo.png")
  .overflow-scroll.flex-1.pt-30.ph-30
    .flex-column.pbvl(ng-show="tabs.selectedTab === 'EXCHANGE'")
      div.width-50.border-desktop.pv-30.ph-30.no-padding-mobile(ng-if="vm.onStep('create')" ng-controller="ShapeShiftCreateController")
        shift-create(on-complete="onComplete(payment, fee, quote)" handle-approximate-quote="approximateQuoteHandler(pair, amount)" handle-quote="quoteHandler(pair, amount)")
      div.width-50.border-desktop.pv-30.no-padding-mobile(ng-if="vm.onStep('confirm')" ng-controller="ShapeShiftConfirmController")
        shift-confirm(on-complete="onComplete(trade)" on-cancel="onCancel()" payment="vm.payment" fee="vm.fee" quote="vm.quote" handle-shift="shiftHandler(payment)")
      div.width-50.border-desktop.pv-30.no-padding-mobile(ng-if="vm.onStep('receipt')" ng-controller="ShapeShiftReceiptController")
        shift-receipt(shift="vm.trade")
    .flex-column.pbvl(ng-show="tabs.selectedTab === 'ORDER_HISTORY'")
      .flex-center.flex-justify.flex-column.mtvl(ng-hide="vm.trades.length")
        .flex-column.mbl.border-bottom.black
          .flex-center.flex-justify
            i.ti-direction-alt.h3.mrm
            h3.em-100(translate=".NO_EXCHANGES")
          p.em-400.pointer(translate=".NO_EXCHANGES_EXPLAIN" ng-click="tabs.select('EXCHANGE')")
      //- Pending Trades
      .width-100.mb-30
        .shift-history.border.bg-light-blue(ng-show="vm.pendingTrades.length")
          .pvs
            span.em-500.pl-25 Status
          .pvs
            span.em-500 Date
          .pvs
            span.em-500 Exchanged
          .pvs
            span.em-500 Received
        exchange-trade(
          ng-repeat="trade in vm.pendingTrades | orderBy:'createdAt':true track by $index"
          ex-trade="trade"
          view-details="vm.openTradeDetails(trade)"
        )
      //- Completed Trades
      .width-100
        span.f-16.em-600 Completed Exchanges
        .shift-history.width-100.border.bg-light-blue.mt-5(ng-show="vm.trades.length")
          .pvs
            span.em-500.pl-25 Status
          .pvs
            span.em-500 Date
          .pvs
            span.em-500 Exchanged
          .pvs
            span.em-500 Received
        exchange-trade(
          ng-repeat="trade in vm.trades | orderBy:'createdAt':true track by $index"
          ex-trade="trade"
          view-details="vm.openTradeDetails(trade)"
        )
  contact-support-footer()
