.flex-column.mbvl
  p.security-red.pointer(ng-show="true")
    i.ti-search.mrm.right-align(ng-click="qa.ukInfo()")  QA UK
    i.ti-search.mrm.right-align(ng-click="qa.dkInfo()")  QA DK
    i.ti-search.mrm.right-align(ng-click="qa.sepaInfo()")  QA Germany(SEPA)
  .flex-column.flex-center.pam
    span.pvm.f-16.mbm Please enter your bank information below.
    .form-group.flex-row.flex-between.width-90(ng-hide="britishBank || showDanish")
      div.width-100
        label.control-label(translate="Bank Account Country")
        div
          ui-select.mtm(ng-model="selectedBankCountry" on-select="selectCountry('bank', $item)")
            ui-select-match(placeholder="Select Country") {{selectedBankCountry.name}}
            ui-select-choices(repeat="c in sepaCountries | filter:$select.search track by c.name") {{c.name}}

  .flex-column.flex-center.pam
    //- form for non-Danish accounts
    form.input-group.width-90.amount-input(
      role="form"
      name="accountInfoForm"
      ng-submit="commitValues()"
      autocomplete="off"
      novalidate
      ng-hide="showDanish")
      .form-group.flex-column.width-100
        label.control-label(translate="International Bank Account Number (IBAN)")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.number"
            ng-change="setParentError()"
            name="bankIban"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-column.width-100
        label.control-label(translate="Bank Identifier Code (SWIFT/BIC)")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.bic"
            ng-change="setParentError()"
            name="bankBic"
            tabindex="1"
            placeholder=""
            required)
      //- .width-100
      //-   a(ng-click="setAccountType('danish')") I have a Danish bank account

    //- form for Danish accounts
    form.input-group.width-90.amount-input(
      role="form"
      name="accountInfoForm"
      ng-submit="commitValues()"
      autocomplete="off"
      novalidate
      ng-show="showDanish")
      .form-group.flex-column.width-100
        label.control-label(translate="Basic Bank Account Number (BBAN)")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.number"
            ng-change="setParentError()"
            name="bankNumber"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-column.width-100
        label.control-label(translate="Bank REG Number")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.bic"
            ng-change="setParentError()"
            name="bankReg"
            tabindex="1"
            placeholder=""
            required)
      //- .width-100
      //-   a(ng-click="setAccountType('international')") I don't have a Danish bank account

    form.input-group.width-90.amount-input(
      role="form"
      name="accountInfoForm"
      ng-submit="commitValues()"
      autocomplete="off"
      novalidate
      ng-show="britishBank")
      .form-group.flex-column.width-100
        label.control-lable(translate="Bank Name")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.bank.name"
            ng-change="setParentError()"
            name="bankName"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-column.width-100
        label.control-label Street and Number
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.bank.address.street"
            ng-change="setParentError()"
            name="bankStreet"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-row.flex-between.width-100
        div.width-45
          label.control-label(translate="City")
          div
            input.form-control(
              type="text"
              ng-model="$parent.bankAccount.bank.address.city"
              ng-change="setParentError()"
              name="bankCity"
              tabindex="1"
              placeholder=""
              required)
        div.width-45
          label.control-label(translate="Postal Code")
          div
            input.form-control(
              type="text"
              ng-model="$parent.bankAccount.bank.address.zipcode"
              ng-change="setParentError()"
              name="bankZip"
              tabindex="1"
              placeholder=""
              required)
