.modal-body
  .flex-column.mb-5
    .flex-column.flex-center.phm.mv-10.pb-15
      span.f-14.width-90(ng-hide="$ctrl.showDanish" translate="SELL.ENTER_BANK_INFO")
      span.f-14.width-90(ng-show="$ctrl.showDanish" translate="SELL.ENTER_DANISH_BANK")
    .flex-column.flex-center.phm.mbm
      form.input-group.width-90.amount-input(
        role="form"
        name="accountInfoForm"
        ng-submit="commitValues()"
        autocomplete="off"
        novalidate
        ng-hide="$ctrl.showDanish")
        .form-group.flex-column.width-100
          label.control-label(translate="International Bank Account Number (IBAN)")
          div
            input.form-control(
              type="text"
              ng-model="$ctrl.bankAccount.account.number"
              ng-change="setParentError(); $ctrl.turnOffIbanError();"
              name="bankIban"
              tabindex="1"
              placeholder=""
              ng-class="{'input-error': $ctrl.ibanError}"
              required)
        .form-group.flex-column.width-100
          label.control-label(translate="Bank Identifier Code (SWIFT/BIC)")
          div
            input.form-control(
              type="text"
              ng-model="$ctrl.bankAccount.account.bic"
              ng-change="setParentError()"
              name="bankBic"
              tabindex="1"
              placeholder=""
              required)
      //- form for Danish accounts
      form.input-group.width-90.amount-input(
        role="form"
        name="accountInfoForm"
        ng-submit="commitValues()"
        autocomplete="off"
        novalidate
        ng-show="$ctrl.showDanish")
        .form-group.flex-column.width-100
          label.control-label(translate="Basic Bank Account Number (BBAN)")
          div
            input.form-control(
              type="text"
              ng-model="$ctrl.account.number"
              ng-change="setParentError()"
              name="bankNumber"
              tabindex="1"
              placeholder=""
              required)
        .form-group.flex-column.width-100
          label.control-label(translate="Bank REG Number")
          div
            input.form-control(
              type="text"
              ng-model="$ctrl.account.bic"
              ng-change="setParentError()"
              name="bankReg"
              tabindex="1"
              placeholder=""
              required)
.modal-footer.flex-end.flex-row
  .flex-1.flex-end
    button.button-muted.mrm(ng-click="$ctrl.close()" translate="CLOSE")
    button.button-primary(
      translate="CONTINUE"
      ng-click="$ctrl.buildBankAccount({account: $ctrl.bankAccount.account}); $ctrl.onComplete();"
      ng-disabled="$ctrl.isDisabled()")
