.modal-body
  .flex-column
    .flex-column.flex-between.pam
      span.f-14.pb-30(translate="SELL.WHO_OWNS")
      form.input-group.width-100.amount-input(
        role="form"
        name="accountInfoForm"
        ng-submit="commitValues()"
        autocomplete="off"
        novalidate)
        .form-group.flex-column.width-100
          label.control-label Account Holder's Full Name
          div
            input.form-control(
              type="text"
              ng-model="$ctrl.bankAccount.holder.name"
              ng-change="setParentError()"
              name="holderName"
              tabindex="1"
              placeholder=""
              required)
        .form-group.flex-column.width-100
          label.control-label Street and Number
          div
            input.form-control(
              type="text"
              ng-model="$ctrl.bankAccount.holder.address.street"
              ng-change="setParentError()"
              name="holderStreet"
              tabindex="1"
              placeholder=""
              required)
        .form-group.flex-row.flex-between.width-100
          div.width-45
            label.control-label(translate="City")
            div
              input.form-control(
                type="text"
                ng-model="$ctrl.bankAccount.holder.address.city"
                ng-change="setParentError()"
                name="holderCity"
                tabindex="1"
                placeholder=""
                required)
          div.width-45
            label.control-label(translate="Postal Code")
            div
              input.form-control(
                type="text"
                ng-model="$ctrl.bankAccount.holder.address.zipcode"
                ng-change="setParentError()"
                name="bankZip"
                tabindex="1"
                placeholder=""
                required)
        .form-group.flex-row.flex-between.width-100.mbn
          div.width-45.width-45-mobile.width-45-tablet
            label.control-label(translate="Country")
            div
              ui-select.mtm(ng-model="$ctrl.selectedBankCountry.name" on-select="$ctrl.selectCountry({country: $item.code})")
                //- ui-select-match {{$ctrl.selectedBankCountry.name}} 
                ui-select-match(placeholder="Select a country")
                ui-select-choices(repeat="c in $ctrl.sepaCountries | filter:$select.search track by c.name") {{c.name}}
.modal-footer.flex-end.flex-row
  .flex-1.flex-end
    button.button-muted.mrm(ng-click="$ctrl.close()" translate="CLOSE")
      //- $ctrl.buildBankHolder({holder: $ctrl.holder}); for ng-click
    button.button-primary(
      translate="CONTINUE"
      ng-click="$ctrl.createBankAccount();"
      ng-disabled="$ctrl.isDisabled() || $ctrl.status.waiting")
