.flex-column
  .flex-column.flex-between.pam
    span.pvm.f-14.mbm(translate="SELL.WHO_OWNS")
    form.input-group.width-100.amount-input(
      role="form"
      name="accountInfoForm"
      ng-submit="commitValues()"
      autocomplete="off"
      novalidate)
      .form-group.flex-column.width-100
        label.control-label Account Holder's Full Name
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.holder.name"
            ng-change="setParentError()"
            name="holderName"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-column.width-100
        label.control-label Street and Number
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.holder.address.street"
            ng-change="setParentError()"
            name="holderStreet"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-row.flex-between.width-100
        div.width-45
          label.control-label(translate="City")
          div
            input.form-control(
              type="text"
              ng-model="$parent.bankAccount.holder.address.city"
              ng-change="setParentError()"
              name="holderCity"
              tabindex="1"
              placeholder=""
              required)
        div.width-45
          label.control-label(translate="Postal Code")
          div
            input.form-control(
              type="text"
              ng-model="$parent.bankAccount.holder.address.zipcode"
              ng-change="setParentError()"
              name="bankZip"
              tabindex="1"
              placeholder=""
              required)
      .form-group.flex-row.flex-between.width-100.mbn.pb-10
        div.width-45.width-45-mobile.width-45-tablet
          label.control-label(translate="Country")
          div
            ui-select.mtm(ng-model="$parent.bankAccount.holder.address.country" on-select="selectCountry('holder', $item)")
              ui-select-match(placeholder="Select Country") {{$parent.bankAccount.holder.address.country}} 
              ui-select-choices(repeat="c in sepaCountries | filter:$select.search track by c.name") {{c.name}}
