.flex-column.mb-5
  p.security-red.pointer.mbn.type-xs(ng-show="true")
    i.ti-search.mrm.right-align(ng-click="qa.ukInfo()")  QA UK
    i.ti-search.mrm.right-align(ng-click="qa.dkInfo()")  QA DK
    i.ti-search.mrm.right-align(ng-click="qa.sepaInfo()")  QA Germany(SEPA)
  .flex-column.flex-center.phm.mv-10
    span.f-14.width-90(ng-hide="showDanish") Please enter your bank information below.
    span.f-14.width-90(ng-show="showDanish") Please enter your information for your Danish bank account.

  .flex-column.flex-center.phm.mbm
    form.input-group.width-90.amount-input(
      role="form"
      name="accountInfoForm"
      ng-submit="commitValues()"
      autocomplete="off"
      novalidate
      ng-hide="showDanish")
      .form-group.flex-column.width-100
        label.control-label(translate="International Bank Account Number (IBAN)")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.number"
            ng-change="setParentError(); turnOffIbanError();"
            name="bankIban"
            tabindex="1"
            placeholder=""
            ng-class="{'input-error': $parent.ibanError}"
            required)
      .form-group.flex-column.width-100
        label.control-label(translate="Bank Identifier Code (SWIFT/BIC)")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.bic"
            ng-change="setParentError()"
            name="bankBic"
            tabindex="1"
            placeholder=""
            required)

    //- form for Danish accounts
    form.input-group.width-90.amount-input(
      role="form"
      name="accountInfoForm"
      ng-submit="commitValues()"
      autocomplete="off"
      novalidate
      ng-show="showDanish")
      .form-group.flex-column.width-100
        label.control-label(translate="Basic Bank Account Number (BBAN)")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.number"
            ng-change="setParentError()"
            name="bankNumber"
            tabindex="1"
            placeholder=""
            required)
      .form-group.flex-column.width-100
        label.control-label(translate="Bank REG Number")
        div
          input.form-control(
            type="text"
            ng-model="$parent.bankAccount.account.bic"
            ng-change="setParentError()"
            name="bankReg"
            tabindex="1"
            placeholder=""
            required)
