div(ng-hide="isSell && sellEmailVerified")
  div(ng-hide="editEmail || rejectedEmail")
    span.type-h5.em-500.flex-start.pts(translate="VERIFY_EMAIL")
    p.mtl.mbm
      span(translate="SENT_VERIFICATION" translate-values="{email: user.email}")
    .mtm
      span.flex-center.pointer(translate="CHANGE_EMAIL" ng-click="toggleEmail()")
  form.clearfix(name="emailForm" ng-show="editEmail || rejectedEmail")
    bc-async-input(type="email"
                   is-required
                   ng-model="user.email"
                   on-cancel="toggleEmail"
                   on-save="changeEmail"
                   action-title="'CHANGE' | translate"
                   inline
                   editing="true")
div(ng-show="isSell && sellEmailVerified")
  div.pbl
    p.type-md.pbm Coinify Account Terms
    span.colon(translate="SELL_TERMS_CREATE_ACCOUNT")
    | 
    span {{user.email}}
  //- form.clearfix(name="acceptTermsForm" role="form" novalidate)
    //- span.type-h5.em-500.flex-start.pts(translate="ACCEPT_TERMS")
    //- p.mvl(translate="PARTNER" translate-values="{email: user.email}")
  div.flex
    div
      input(type="checkbox" checked id="tos" name="tos" ng-model="fields.acceptTOS" ng-disabled="" required)
    div
      label.mlm.em-400(translate="ACCEPT_PARTNER_TOS_PRIVACY" for="tos")
