div
  div(ng-hide="editEmail || rejectedEmail")
    span.type-h5.em-500.flex-start.pts(translate="VERIFY_EMAIL")
    p.mtl.mbm
      span(translate="SENT_VERIFICATION" translate-values="{email: user.email}")
    .mtm
      span.flex-center.pointer(translate="CHANGE_EMAIL" ng-click="toggleEmail()")
  form.clearfix(name="emailForm" ng-show="editEmail || rejectedEmail")
    bc-async-input(type="email"
                   is-required 
                   ng-model="user.email" 
                   on-cancel="toggleEmail" 
                   on-save="changeEmail" 
                   action-title="'CHANGE' | translate" 
                   inline 
                   editing="true")
