sell-modal-header(title="$ctrl.title" transaction="$ctrl.transaction")
.modal-body
  .flex-column
    .flex-column.flex-between.pam
      form.input-group.width-100.amount-input(
        role="form"
        name="sellAccountForm"
        ng-submit="commitValues()"
        autocomplete="off"
        novalidate)
        div(ng-if="$ctrl.viewInfo")
          .flex-column.flex-center.phm.mv-10.pb-15
            span.f-14.width-90(ng-hide="$ctrl.showDanish" translate="SELL.ENTER_BANK_INFO")
            span.f-14.width-90(ng-show="$ctrl.showDanish" translate="SELL.ENTER_DANISH_BANK")
          .flex-column.flex-center.phm.mbm
            .input-group.width-90(ng-hide="$ctrl.showDanish")
              .form-group.flex-column.width-100
                label.control-label(translate="SELL.IBAN")
                div
                  input.form-control(
                    type="text"
                    ng-model="$ctrl.bankAccount.account.number"
                    ng-change="setParentError(); $ctrl.turnOffIbanError(); $ctrl.bankAccount.account.number && $ctrl.formatIban()"
                    name="bankIban"
                    tabindex="1"
                    ng-class="{'input-error': $ctrl.ibanError}"
                    required)
              .form-group.flex-column.width-100
                label.control-label(translate="SELL.BIC")
                div
                  input.form-control(
                    type="text"
                    ng-model="$ctrl.bankAccount.account.bic"
                    name="bankBic"
                    tabindex="1"
                    required)
            //- form for Danish accounts
            .input-group.width-90(ng-show="$ctrl.showDanish")
              .form-group.flex-column.width-100
                label.control-label(translate="SELL.BBAN")
                div
                  input.form-control(
                    type="text"
                    ng-model="$ctrl.bankAccount.account.number"
                    name="bankNumber"
                    tabindex="1"
                    required)
              .form-group.flex-column.width-100
                label.control-label(translate="SELL.REG")
                div
                  input.form-control(
                    type="text"
                    ng-model="$ctrl.bankAccount.account.bic"
                    name="bankReg"
                    tabindex="1"
                    required)  
        div(ng-if="!$ctrl.viewInfo")  
          span.f-14.pb-30(translate="SELL.WHO_OWNS")
          .form-group.flex-column.width-100.mt-30
            label.control-label(translate="SELL.HOLDER_NAME")
            div
              input.form-control(
                type="text"
                ng-model="$ctrl.bankAccount.holder.name"
                name="holderName"
                tabindex="1"
                required)
          .form-group.flex-column.width-100
            label.control-label(translate="SELL.HOLDER_STREET")
            div
              input.form-control(
                type="text"
                ng-model="$ctrl.bankAccount.holder.address.street"
                name="holderStreet"
                tabindex="1"
                required)
          .form-group.flex-row.flex-between.width-100
            div.width-45
              label.control-label(translate="SELL.HOLDER_CITY")
              div
                input.form-control(
                  type="text"
                  ng-model="$ctrl.bankAccount.holder.address.city"
                  name="holderCity"
                  tabindex="1"
                  required)
            div.width-45
              label.control-label(translate="SELL.HOLDER_POSTAL")
              div
                input.form-control(
                  type="text"
                  ng-model="$ctrl.bankAccount.holder.address.zipcode"
                  name="bankZip"
                  tabindex="1"
                  required)
          .form-group.flex-row.flex-between.width-100.mbn
            div.width-45.width-45-mobile.width-45-tablet
              label.control-label(translate="Country")
              div
                ui-select.mtm(ng-model="$ctrl.selectedBankCountry" on-select="$ctrl.changeCountry($item.code)")
                  ui-select-match
                    span {{ $select.selected.name }}
                  ui-select-choices(repeat="c in $ctrl.sepaCountries | filter:$select.search track by c.name")
                    span {{c.name}}
.modal-footer.flex-end.flex-row
  button.button-muted.mrm(ng-click="$ctrl.switchView()" ng-show="!$ctrl.viewInfo" translate="BACK")
  .flex-1.flex-end
    button.button-muted.mrm(ng-click="$ctrl.close()" translate="CLOSE")
    button.button-primary(
      ng-show="$ctrl.viewInfo"
      translate="CONTINUE"
      ng-click="$ctrl.switchView()"
      ng-disabled="$ctrl.isDisabled()")
    button.button-primary(
      ng-hide="$ctrl.viewInfo"
      translate="CONTINUE"
      ng-click="$ctrl.createBankAccount();"
      ng-disabled="$ctrl.isDisabled() || $ctrl.status.waiting")
