.buy-sell.mbvl
  .flex-row.flex-column-tablet(ng-hide="signupCompleted")
    .width-50.border.mrl.pal.flex-column.flex-between.flex-center
      span.type-h4.width-100 Just a few steps away!
      .mvl.flex-column.flex-center.blue.type-h4
        i.type-lrg(ng-class="stepDescription().i")
        span(translate="{{stepDescription().text}}")
      form.width-100(ng-submit="openSfoxSignup()")
        button.btn.button-primary.full(type="submit" focus-when="!signupCompleted" ng-disabled="modalOpen") Continue
  .flex-column(ng-show="signupCompleted")
    .flex-row.flex-between
      span.f-20.em-500 Buy Bitcoin
      .sfox-logo
        span.mrs.type-sm(translate="POWERED_BY")
        a(href="https://www.sfox.com/" target="_blank" rel="noopener noreferrer")
          img.mbs(src="img/sfox-logo.png")
    buy-checkout.width-50.border.mt-15.pt-30.pb-30.pl-15.pr-15(
      buy-limit="buyLimit"
      buy-account="account"
      handle-quote="quoteHandler(amount, baseCurr, quoteCurr)"
      handle-buy="buyHandler(quote)")
  .flex-column.mtl(ng-show="trades.length")
    h4.type-h4(translate="ORDER_HISTORY")
    table.width-100
      tr.border.bg-light-blue
        th.plvl.prl.pvs.width-30.table-indent(translate="STATUS")
        th.phml.pvs.width-25.center-align(translate="DATE")
        th.phml.pvs.center-align.width-25 BTC
        th.phml.pvs.center-align.width-20(translate="TOTAL")
      tr(
        ng-repeat="trade in trades | orderBy:'createdAt':true"
        trade="trade"
        buy="inspectTrade"
        usa="true")
