bc-tabs(tab="tabs.selectedTab" tab-options="tabs.options" on-select="tabs.select($tab)")
  .sfox-logo
    span.mrs.type-sm.hidden-xs(translate="POWERED_BY")
    a(href="https://www.sfox.com/" target="_blank" rel="noopener noreferrer")
      img.mbs(src="img/sfox-logo-trans.png")
.buy-sell.overflow-scroll.flex-1
  .flex-column.pbvl(ng-show="tabs.selectedTab === 'BUY_BITCOIN'")
    .border-desktop.ph-30.pv-50.width-50.no-padding-mobile(ng-controller="SfoxBuyCheckoutController")
      exchange-checkout(
        type="'Buy'"
        fiat="checkout.dollars"
        user-id="checkout.userId"
        conversion="100"
        trading="buying"
        fiat-limits="true"
        limits="buyLimits"
        provider="'sfox'"
        ng-if="checkout.onStep('create')"
        buy-level="checkout.state.buyLevel"
        trade-account="checkout.state.account"
        handle-quote="buyQuoteHandler(amount, baseCurr, quoteCurr)"
        on-success="buying().verificationRequired ? checkout.openSfoxSignup() : buyHandler(quote)")
  .flex-row.pbvl(ng-show="tabs.selectedTab === 'SELL_BITCOIN'")
    .border-desktop.ph-30.pv-50.width-50.no-padding-mobile(ng-controller="SfoxSellCheckoutController")
      exchange-checkout(
        type="'Sell'"
        fiat="checkout.dollars"
        user-id="checkout.userId"
        conversion="100"
        trading="selling"
        limits="sellLimits"
        provider="'sfox'"
        ng-if="checkout.onStep('create')"
        buy-level="checkout.state.buyLevel"
        trade-account="checkout.state.account"
        handle-quote="sellQuoteHandler(amount, baseCurr, quoteCurr)"
        on-success="selling().verificationRequired ? checkout.openSfoxSignup() : buildPayment(quote)")
    //- TODO probably need to make an exchange-confirm component for buy as well that sits within buy ctrl
    exchange-confirm.width-50.border-desktop(
      type="'sell'"
      quote="quote"
      namespace="'SFOX'"
      details="sellDetails"
      trade-account="state.account"
      fiat="dollars"
      ng-if="checkout.onStep('confirm')"
      on-cancel="handleCancel()"
      on-success="goTo('receipt')"
      on-expiration="sellRefresh()"
      handle-trade="sellHandler(quote)")
    .flex-column.width-50.pl-30.prn.pv-10-mobile.no-margin-mobile.hidden-xs(ng-if="checkout.onStep('create') && !hasDismissedSellIntro()")
      .mb-20
        .flex-between
          span.f-24.blue.f-14-mobile(translate="SFOX.sell.INTRODUCING_HEADER")
          .flex-center.pl-10
            i.pointer.ti-close.f-12.mid-grey(ng-click="dismissSellIntro()")
        p.f-12.mt-10(translate="SFOX.sell.INTRODUCING_BODY")
    div.width-50.border-desktop(
      ng-if="checkout.onStep('receipt')"
      ng-include="'partials/sfox/details.pug'")
  .flex-column.pbvl(ng-show="tabs.selectedTab === 'ORDER_HISTORY'")
    .flex-center.flex-justify.flex-column.mtvl(ng-hide="completedTrades().length || pendingTrades().length")
      .flex-column.mbl.border-bottom.black
        .flex-center.flex-justify
          i.ti-direction-alt.h3.mrm
          h3.em-100(translate="NO_TRADES")
        p.em-400.pointer(translate="NO_TRADES_EXPLAIN" ng-click="tabs.select('SELL_BITCOIN')")
    div(ng-show="pendingTrades().length")
      .flex-row.flex-between.flex-center
        h4.type-h5 Pending Orders
      .width-100
        .exchange-trade-header.border.bg-footer-blue
          .pv-5
            span.em-500.pl-25.ph-20-mobile(translate="STATUS")
          .pv-5
            span.em-500(translate="DATE")
          .pv-5.hidden-xs
            span.em-500(translate="BTC")
          .pv-5
            span.em-500(translate="TOTAL")
        div(ng-repeat="trade in pendingTrades() | orderBy:'createdAt':true track by $index"
            user-action-required="trade.state === 'awaiting_transfer_in'"
            inspect-trade="inspectTrade"
            namespace="'SFOX'"
            conversion="1"
            trade="trade")
    div(ng-show="completedTrades().length")
      .flex-row.flex-between.flex-center.mtl
        h4.type-h5 Completed Orders
      .width-100
        .exchange-trade-header.border.bg-footer-blue
          .pv-5
            span.em-500.pl-25.ph-20-mobile(translate="STATUS")
          .pv-5
            span.em-500(translate="DATE")
          .pv-5.hidden-xs
            span.em-500(translate="BTC")
          .pv-5
            span.em-500(translate="TOTAL")
        div(ng-repeat="trade in completedTrades() | orderBy:'createdAt':true track by $index"
            user-action-required="trade.state === 'awaiting_transfer_in'"
            inspect-trade="inspectTrade"
            namespace="'SFOX'"
            conversion="1"
            trade="trade")
contact-support-footer(ng-hide="inMobileBuy")
sift-science(ng-if='siftScienceEnabled' user-id='userId' trade-id='trade.id')
