.buy-sell.mbvl
  .flex-row.flex-column-tablet(ng-hide="signupCompleted")
    .width-50.border.mrl.pal.flex-column.flex-between.flex-center
      span.type-h4.width-100 Just a few steps away!
      .mvl.flex-column.flex-center.blue.type-h4
        i.type-lrg(ng-class="stepDescription().i")
        span(translate="{{stepDescription().text}}")
      button.btn.button-primary.full(ng-click="openSfoxSignup()") Continue
    .flex-column.width-50.mlvl.mtml
      .f-24.blue.em-500.lh1(translate="SIMPLE_SECURE_SEAMLESS")
      .f-16.mtm.basic-grey(translate="BUY_SIMPLE_STEPS")
  .width-50.border.mrl.pal.flex-column.flex-between(ng-show="signupCompleted")
    .flex-between.flex-baseline.mbl
      span.type-h4.em-500 Buy Bitcoin
      .sfox-logo
        span.mrs.type-sm(translate="POWERED_BY")
        a(href="https://www.sfox.com/" target="_blank" rel="noopener noreferrer")
          img.mbs(src="img/sfox-logo.png")
    form.bc-form.mtl(name="checkoutForm" novalidate autocomplete="off")
      fieldset
        .group.mtl
          .item
            .flex-between.flex-baseline.mbs
              span.type-h5.em-500.colon Enter Amount
              span
                div(ng-show="quote && !state.loadFailed")
                  span 1 {{ bitcoin.code }} = ${{ quote.rate }}
                .state-danger-text(ng-show="state.loadFailed")
                  i.ti-alert
                  span.mls Failed to load exchange data
            .flex-center
              .flex-1.flex-center.border
                input.form-control.no-border(
                  type="number"
                  name="fiat"
                  ng-model="state.fiat"
                  ng-max="max"
                  ng-min="0.01"
                  ng-focus="state.baseCurr = dollars"
                  ng-disabled="locked"
                  required)
                span.mhm {{dollars.code}}
              i.ti-arrows-horizontal.h4.aaa.phm
              .flex-1.flex-center.border
                input.form-control.no-border(
                  type="number"
                  name="btc"
                  ng-model="state.btc"
                  ng-focus="state.baseCurr = bitcoin"
                  ng-disabled="locked"
                  transform-currency="bitcoin"
                  required)
                span.mhm {{bitcoin.code}}
            .text.mts
              span.type-sm Your daily buy limit is ${{ max }}
        .group.mtl
          .item
            .mbm
              span.type-h5.em-500.colon Confirm Purchase
            .border.flex-column.bg-light-blue
              div(ng-show="hasMultipleAccounts")
                .flex-between.flex-center.form-control.bg-light-blue.no-border
                  span.colon Send To
                  span {{ btcAccount.label }}
                .border-bottom-light.mhm
              .flex-between.flex-center.form-control.bg-light-blue.no-border
                span.colon BTC Order
                span {{ format(formatSatoshi(state.btc || 0, bitcoin), bitcoin, true) }}
              .border-bottom-light.mhm
              .flex-between.flex-center.form-control.bg-light-blue.no-border
                span.colon Payment Method
                span.capitalize {{ account.accountType }} ({{ account.accountNumber }})
              .border-bottom-light.mhm
              .flex-between.flex-center.form-control.bg-light-blue.no-border.em-500
                span.colon Total Cost
                span {{ format(state.total || 0, dollars, true) }}
        .group.mtl
          button.btn.button-primary.full(ng-click="buy()" ng-disabled="locked || checkoutForm.$invalid || !quote || state.loadFailed") Buy Bitcoin
  .flex-column.mtl(ng-show="trades.length")
    h4.type-h4(translate="ORDER_HISTORY")
    table.width-100
      tr.border.bg-light-blue
        th.phml.pvs(translate="STATUS")
        th.phml.pvs(translate="DATE")
        th.phml.right-align.pvs BTC
        th.phml.right-align.pvs(translate="TOTAL")
      tr(
        ng-repeat="trade in trades | orderBy:'createdAt':true"
        trade="trade"
        buy="inspectTrade"
        usa="true")
