.buy-sell.mbvl
  .flex-row.flex-column-tablet(ng-hide="signupCompleted")
    .width-50.border.mrl.pal.flex-column.flex-between.flex-center
      span.type-h4.width-100 Just a few steps away!
      .mvl.flex-column.flex-center.blue.type-h4
        i.ti-credit-card.bank.type-lrg
        span - Appropriate Step Description
      button.btn.button-primary.full(ng-click="openSfoxSignup()") Continue
    .flex-column.width-50.mlvl.mtml
      .font-2.blue.em-300.lh1(translate="SIMPLE_SECURE_SEAMLESS")
      .type-h4.em-300.mtm.basic-grey(translate="BUY_SIMPLE_STEPS")
  .width-50.border.mrl.pal.flex-column.flex-between(ng-show="signupCompleted")
    .flex-between.flex-baseline.mbl
      span.type-h4.em-500 Buy Bitcoin
      div
        span Powered by
        span &nbsp;
        span.blue.em-500 🐕 SFOX
    form.bc-form.mtl(name="checkoutForm" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .group.mtl
          .item
            .flex-between.flex-baseline.mbs
              span.type-h5.em-500 Enter Amount
              span
                div(ng-show="quote && !state.loadFailed")
                  span 1 {{ bitcoin.code }} = ${{ quote.rate }}
                .state-danger-text(ng-show="state.loadFailed")
                  i.ti-alert
                  span.mls Failed to load exchange data
            .flex-center
              .flex-1.flex-center.border
                input.form-control.no-border(
                  type="number"
                  name="fiat"
                  ng-model="state.fiat"
                  ng-min="min"
                  ng-max="max"
                  ng-focus="state.baseCurr = dollars"
                  required)
                span.mrm {{dollars.code}}
              i.ti-arrows-horizontal.h4.aaa.phm
              .flex-1.flex-center.border
                input.form-control.no-border(
                  type="number"
                  name="btc"
                  ng-model="state.btc"
                  ng-focus="state.baseCurr = bitcoin"
                  transform-currency="bitcoin"
                  required)
                span.mrm {{bitcoin.code}}
            .text.mts
              span.type-sm Your daily buy limit is ${{ max }}
        .group.mtl
          .item
            span.type-h5.em-500.mbm Payment Method
            .border.form-control.flex-center
              span {{ account.accountType }} ({{ account.accountNumber }})
        .group.mtl
          .item
            .mbm
              span.type-h5.em-500 Order Summary
            .border.flex-column
              .flex-between.flex-center.form-control.no-border
                span.colon Send To
                span {{ btcAccount.label }}
              .flex-between.flex-center.form-control.no-border.em-500
                span.colon Total
                span {{ format(state.fiat || 0, dollars, true) }}
        .group.mtl
          button.btn.button-primary.full(ng-click="buy()" ng-disabled="checkoutForm.$invalid || !quote || state.loadFailed") Buy Bitcoin
  .flex-column.mtl(ng-show="trades.length")
    .flex-row.flex-between.flex-baseline
      h4.type-h4(translate="ORDER_HISTORY")
      span.em-300 SFOX Account: {{user.email}}
    table.width-100
      tr.border.bg-light-blue
        th.phml.pvs(translate="STATUS")
        th.phml.pvs(translate="DATE")
        th.phml.right-align.pvs BTC
        th.phml.right-align.pvs(translate="TOTAL")
      tr(
        ng-repeat="trade in trades | orderBy:'createdAt':true"
        trade="trade"
        buy="inspectTrade")
