.flex-row.flex-column-mobile
  .width-40
    .width-80
      h4.f-20.em-500.mvn.mb-10(translate="SFOX Account")
      span.f-16(translate="Please verify your email and phone number to set up your SFOX account.")
  .width-60
    form.bc-form.width-80(name="accountForm" ng-submit="createAccount()" novalidate autocomplete="off")
      fieldset(ng-disabled="locked")
        .group
          .item(ng-show="state.verifiedEmail")
            label Email Address
            .text
              span We have the following email address for you.
            .flex-center
              .width-80
                input(ng-model="state.email" name="email" required)
              a.width-20.center(type="button" ng-show="state.email != user.email" ng-click="changeEmail()") Update
          .item(ng-hide="state.verifiedEmail")
            label Email Address
            .text(ng-hide="state.editEmail")
              span We sent a verification email to 
              b {{state.email}}
              span . Click the verification link to continue.
              | &nbsp;
              span Didn’t get the email? 
              | &nbsp;
              span.blue.pointer(ng-click="changeEmail()") Resend
              | &nbsp;
              | or
              | &nbsp;
              span.blue.pointer(ng-click="toggleEmail()") change email address.
            .flex-center(ng-show="state.editEmail")
              .width-80
                input(ng-model="state.email" name="email" focus-when="state.editEmail" type="email" required)
              a.width-20.center(type="button" ng-click="changeEmail()" ng-disabled="accountForm.email.$invalid") Change
        .group
          .item
            label Phone Number
            .text
              span(ng-show="state.verifiedMobile") We have the following mobile number for you.
              span(ng-hide="state.verifiedMobile") Enter your phone number and we’ll send you a verifcation code via SMS.
            .flex-center
              bc-phone-number.width-80(
                ng-model="state.mobile"
                name="mobile"
                default-country="us"
                preferred-countries="us ca gb au"
                required)
              .width-20.center(ng-hide="accountForm.mobile.$invalid || state.sentCode")
                a(type="button"
                  ng-show="!state.verifiedMobile && state.mobile === format(user.mobileNumber)"
                  ng-click="changeMobile()") Resend Code
                a(type="button"
                  ng-show="state.mobile !== format(user.mobileNumber)"
                  ng-click="changeMobile()") Update
          .item.mtm(ng-hide="state.verifiedMobile")
            .text
              span Enter verification code sent to your mobile phone.
            .flex-center
              .width-80
                input(ng-model="state.confirmMobile" name="confirmMobile" ng-required="!state.verifiedMobile")
              a.width-20.center(type="button" ng-show="state.confirmMobile" ng-click="verifyMobile()") Verify
        .group
          .item.check
            input#terms(type="checkbox" ng-model="state.terms" name="terms" required)
            label(for="terms") I accept SFOX’s Terms of Service and Privacy Policy.
        .group
          button.btn.button-primary.full(type="submit" ng-disabled="accountForm.$invalid || !state.isVerified") Continue
