form(role="form" name="accountForm" ng-submit="submit()" autocomplete="off" novalidate data-preflight-tag="AccountForm")
  .modal-header
    .flex-center.pam
      h3.man.mrm(translate="{{status.edit ? 'RENAME_ACCOUNT':'ADD_WALLET'}}")
      helper-button(ng-hide="status.edit" content="CREATE_NEW_ACCOUNT_MODAL")
  .modal-body
    .form-group.flex-column.flex-justify(ng-class="{'has-error': accountForm.$invalid && accountForm.$dirty}")
      label.control-label(translate="ACCOUNT_NAME")
      input.form-control(
        name="new"
        ng-model="name"
        ng-model-options="{debounce: 250}"
        is-valid="isNameUnused(name)"
        maxlength="17"
        required
        autofocus)
      span.help-block(ng-show="accountForm.$dirty")
        span(translate="ACCOUNT_NAME_TAKEN" ng-show="accountForm.new.$error.isValid")
  .modal-footer.pal.flex-end.flex-center
    button.button-muted.mrm(
      type="button"
      translate="CLOSE"
      ng-hide="status.busy"
      ng-click="$dismiss()")
    button.button-success(
      type="submit"
      ladda-translate="{{status.edit ? 'RENAME':'CREATE_ACCOUNT'}}"
      ui-ladda="status.busy"
      ng-disabled="accountForm.$invalid"
      data-style="expand-left")
