.modal-header.bc-modal-header
  i.ti-close.close-modal(ng-click="vm.dismiss()")
  .flex-row.flex-between
    .flex-column.flex-justify
      h3.f-24.blue(translate="About Bitcoin Cash")
div(translate-namespace="BITCOIN_CASH")
  .flex-column.ph-35(ng-if="vm.onStep('about')")
    .flex-column(ng-repeat="i in [1,2,3,4]")
      .flex-column.mt-30
        span.blue.f-14(translate=".ABOUT_{{i}}")
        span.text.f-14.pt-10(translate=".ABOUT_{{i}}_ANSWER")
    .flex-row.flex-justify.pt-40.pb-30
      button.button-primary(translate=".SEE_BALANCE" ng-click="vm.goTo('balance'); vm.setHasSeenCashAbout();")
  .flex-column.ph-35(ng-if="vm.onStep('balance')")  
    .flex-column.flex-center.bg-grey.mv-30.pv-20
      span.f-16(translate="TOTAL")
      span.f-24.em-600.pv-10 0.0025144 BCC
      span.f-16 25.00 USD
    .flex-row.flex-between.mb-30
      a.f-14(translate=".KEEP" ng-click="vm.dismiss(); vm.setHasSeenCashAbout()")
      a.f-14(translate=".EXCHANGE" ng-click="vm.goTo('exchange')")
      a.f-14(translate=".SEND" ng-click="vm.goTo('send')")
        
  .flex.ph-35.pv-35(ng-if="vm.onStep('send')" ng-controller="BitcoinCashSendController")
    .flex(ng-if="onStep('send-cash')")
      bitcoin-cash-send(on-continue="goTo('send-address')" on-address-change="onAddressChange(addr)")
    .flex-column(ng-if="onStep('send-address')")
      span.f-14.em-300.pb-25(translate=".ADDRESSES")
      .flex-justify.bg-grey.ph-50.pv-15.mb-30
        span {{ transaction.destination }}
      button.button-primary.upper(translate=".YES_IT_IS" ng-click="goTo('send-confirm')")
    
    .flex-column.width-100(ng-if="onStep('send-confirm')")
      .flex-column.f-16
        .flex-row
          label.colon.width-30.width-30-mobile(translate="FROM")
          .width-70.width-70-mobile My Bitcoin Cash Wallet
        .flex-row.mt-10
          label.colon.width-30.width-30-mobile(translate="TO")
          .width-70.width-70-mobile
            span(translate="no") {{ transaction.destination }}
        .flex-row.mt-10
          label.colon.width-30.width-30-mobile(translate="PAYMENT")
          .width-70.width-70-mobile
            span.mr-10 {{transaction.amount | convert:'btc':true}} ({{transaction.amount | convert:'fiat':true}})
        .flex-row.mt-10
          label.colon.width-30.width-30-mobile(translate="FEE")
          .width-70.width-70-mobile
            span.mr-10 {{ transaction.fee | convert:'btc':true }} ({{ transaction.fee | convert:'fiat':true }})
        .bg-grey.pv-20.ph-60.flex-column.mt-10.center.sent
          span.mb-10(translate="TOTAL")
          span.f-28.mb-10.em-600 {{getTransactionTotal(true) | convert:'btc':true}}
          span.f-20.em-300 {{getTransactionTotal(true) | convert:'fiat':true}}
        .mv-30
          button.button-primary.width-100(translate="SEND" ng-click="send(); vm.dismiss();")
            
  .flex.pb-30(ng-if="vm.onStep('exchange')" ng-controller="BitcoinCashExchangeController")
    .width-100(ng-if="onStep('exchange-create')")
      shift-create(on-complete="onComplete(payment, fee, quote)" 
                   build-payment="buildPayment(quote, fee)" 
                   handle-approximate-quote="approximateQuoteHandler(pair, amount)" 
                   handle-quote="quoteHandler(pair, amount)" 
                   handle-rate="rateHandler(rate)"
                   hide-header="true"
                   is-bitcoin-cash-exchange="true")
    
