.buy-sell(ng-class="{'loading': status.loading || status.metaDataDown || status.exchangeDown, 'disabled': status.disabled}" data-preflight-tag="BuySell")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.metaDataDown")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="METADATA_DOWN")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.exchangeDown")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="EXCHANGE_DOWN")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.loading && !status.disabled")
    img.loader(src="img/puff.svg")
    span.bg-blue.type-h4.copy-bar.white.flex-center.flex-justify(translate="FETCHING_INFO_EXCHANGE")
  div(ng-if="!status.loading && !status.metaDataDown && !status.exchangeDown || status.disabled")
    .flex-row.flex-column-tablet
      .width-50.mrl.mtl(ng-show="state.buy")
        buy-quick-start(limits="limits"
                        transaction="transaction"
                        disabled="status.disabled"
                        currency-symbol="currencySymbol"
                        modal-open="status.modalOpen"
                        change-currency="changeCurrency(currency)"
                        trading-disabled="getIsTradingDisabled()"
                        trading-disabled-reason="getIsTradingDisabledReason()"
                        open-pending-trade="buy(pendingTrade)"
                        pending-trade="pendingTrade"
                        buy="buy(null, {quote: quote, btc: btc, fiat: fiat, currency: transaction.currency})")
      .flex-column.pos-rel.width-50.mlvl.mt-55(ng-class="{disabled: getIsTradingDisabled() && getIsTradingDisabledReason() === 'disabled'}")
        kyc-status(state="kyc.state" on-trigger="openKyc()" limits="limits")
    .flex-column.mtl(ng-show="trades.pending.length || trades.completed.length" data-preflight-tag="BuySellTrades")
      .flex-row.flex-between.flex-center
        h4.type-h4(translate="ORDER_HISTORY")
        span Coinify Account: {{ exchange.profile.email }}
      table.width-100
        tr.border.bg-grey
          th.phml.pvs.width-30(translate="STATUS")
          th.pvs.width-30(translate="DATE")
          th.pvs.width-25 BTC
          th.pvs.width-15(translate="TOTAL")
        tr(
          ng-repeat="trade in trades.pending.concat(trades.completed) | orderBy:'createdAt':true | limitTo:tradeLimit"
          trading-disabled-reason="getIsTradingDisabledReason()"
          trading-disabled="getIsTradingDisabled()"
          disabled="status.disabled"
          trade="trade"
          buy="buy"
          in-view="$last && scrollTrades()")
      .flex-column.flex-align-end.mbvl.mtml(ng-if="false" translate-namespace="BUY_FEEDBACK")
        span.type-h5.em-500(translate=".PROMPT")
        .flex-row.flex-center.mts
          span.type-h5.security-red(translate=".DISAGREE")
          span.type-h5.mhm.pointer(uib-rating ng-model="rating" max="5" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" ng-click="submitFeedback(rating)")
          span.type-h5.success(translate=".AGREE")
    contact-support-footer
