.buy-sell(ng-class="{'loading': status.loading || status.metaDataDown || status.exchangeDown, 'disabled': status.disabled}" data-preflight-tag="BuySell")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.metaDataDown")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="METADATA_DOWN")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.exchangeDown")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="EXCHANGE_DOWN")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.loading && !status.disabled")
    img.loader(src="img/puff.svg")
    span.bg-blue.type-h4.copy-bar.white.flex-center.flex-justify(translate="FETCHING_INFO_EXCHANGE")
  div(ng-if="!status.loading && !status.metaDataDown && !status.exchangeDown || status.disabled")
    .filter-bar.flex-center.flex-between
      .filter-buttons.flex-center
        a.black.em-400.em-alt.f-16.upper(
        ng-repeat="tab in tabs"
        ng-class="{active: selectedTab === tab, mrn: $last, spaced: !$last}"
        ng-click="selectTab(tab)"
        translate="{{tab}}")
        span.badge.mbs(ng-if="trades.pending.length") {{trades.pending.length}}
      .sfox-logo
        span.mrs.type-sm Powered By
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
    .buy-sell.mbvl
      .flex-row.flex-column-tablet.mt-50
      div(ng-show="selectedTab === 'BUY_BITCOIN'")
        //- BUY
        buy-quick-start(limits="limits"
                        transaction="transaction"
                        disabled="status.disabled"
                        currency-symbol="currencySymbol"
                        modal-open="status.modalOpen"
                        change-currency="changeCurrency(currency)"
                        trading-disabled="getIsTradingDisabled()"
                        trading-disabled-reason="getIsTradingDisabledReason()"
                        open-pending-trade="buy(pendingTrade)"
                        pending-trade="pendingTrade"
                        buy="buy(null, {quote: quote, btc: btc, fiat: fiat, currency: transaction.currency})")
        .flex-column.col-md-5.col-md-offset-1.col-sm-12.col-xs-12.pln.prn
          kyc-status(state="kyc.state" on-trigger="openKyc()" limits="limits")
      .flex-column(ng-show="selectedTab === 'SELL_BITCOIN'")
        //- SELL
        //- sell-quick-start(limits="limits",
        //-                 transaction="transaction",
        //-                 disabled="status.disabled",
        //-                 currency-symbol="currencySymbol",
        //-                 modal-open="status.modalOpen",
        //-                 change-currency="changeCurrency(currency)"
        //-                 trading-disabled="getIsTradingDisabled()"
        //-                 trading-disabled-reason="getIsTradingDisabledReason()"
        //-                 open-pending-trade="buy(pendingTrade)"
        //-                 pending-trade="pendingTrade"
        //-                 sell="sell(null, {quote: quote, btc: btc, fiat: fiat, currency: transaction.currency})")
        //- .flex-column.width-50.mlvl.mt-55
        //-   kyc-status(state="kyc.state" on-trigger="openKyc()" limits="limits")
      .flex-column(ng-show="selectedTab === 'ORDER_HISTORY'")
        .flex-column.mtl(ng-show="trades.pending.length" data-preflight-tag="BuySellTrades")
        .flex-row.flex-between.flex-center(ng-show="trades.pending.length")
          //- h4.type-h4(translate="ORDER_HISTORY")
          h4.type-h5 Action Required ({{trades.pending.length}})
          span(ng-show="trades.pending.length") Coinify Account: {{ exchange.profile.email }}
        table.width-100(ng-show="trades.pending.length")
          tr.border.bg-light-blue
            th.phml.pvs.width-30(translate="STATUS")
            th.pvs.width-30(translate="DATE")
            th.pvs.width-25 BTC
            th.pvs.width-15(translate="TOTAL")
          tr(
            ng-repeat="trade in trades.pending | orderBy:'createdAt':true | limitTo:tradeLimit"
            disabled="status.disabled"
            trade="trade"
            buy="buy"
            in-view="$last && scrollTrades()")


        .flex-column.mtl(ng-show="trades.pending.length || trades.completed.length" data-preflight-tag="BuySellTrades")
        .flex-row.flex-between.flex-center
          h4.type-h5 Completed Orders
          //- h4.type-h4(translate="ORDER_HISTORY")          span Coinify Account: {{ exchange.profile.email }}
          span(ng-hide="trades.pending.length") Coinify Account: {{ exchange.profile.email }}
        table.width-100.mb-30
          tr.border.bg-light-blue
            th.phml.pvs.width-30(translate="STATUS")
            th.pvs.width-30(translate="DATE")
            th.pvs.width-25 BTC
            th.pvs.width-15(translate="TOTAL")
          tr(ng-hide="trades.completed.length")
            tr.border(ng-hide="trades.completed.length")
              td.pvml.plml.italic.type-lbl(colspan="4") You haven't completed any trades yet.
          tr(
            ng-repeat="trade in trades.completed | orderBy:'createdAt':true | limitTo:tradeLimit"
            disabled="status.disabled"
            trade="trade"
            buy="buy"
            in-view="$last && scrollTrades()")

    contact-support-footer
