.buy-sell(ng-class="{'loading': status.loading || status.metaDataDown || status.exchangeDown, 'disabled': status.disabled}")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.metaDataDown || status.exchangeDown")
    blocket-troposphere(status="of_course_i_still_love_you")
    span.bg-deeper-blue.type-h4.copy-bar.white.flex-center.flex-justify(translate="METADATA_DOWN_EXCHANGE")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.loading && !status.disabled")
    blocket-troposphere(status="burn_baby_burn")
    span.bg-deeper-blue.type-h4.copy-bar.white.flex-center.flex-justify(translate="FETCHING_INFO_EXCHANGE")
  div(ng-if="!status.loading && !status.metaDataDown && !status.exchangeDown || status.disabled")
    .flex-row
      span.type-h5.pointer(translate="BUY_BITCOIN" ng-class="{'underline-blue': state.buy}")
    .flex-row.flex-column-tablet
      .width-50.mrl(ng-show="state.buy")
        buy-quick-start(transaction="transaction"
                        currency-symbol="currencySymbol"
                        change-currency="changeCurrency(currency)"
                        limits="limits"
                        buy="buy(null, {fiat: amt, currency: transaction.currency})")
      .flex-column.width-50.mlvl.mtml
        div(ng-hide="trades.pending.length || trades.completed.length || (kyc && kyc.state !== 'completed')")
          .font-2.blue.em-300.lh1(translate="SIMPLE_SECURE_SEAMLESS")
          .type-h4.em-300.mtm.basic-grey(translate="BUY_SIMPLE_STEPS")
        kyc-status(ng-if="showKycStatus()" state="kyc.state" on-trigger="openKyc()" limits="limits")
    .flex-column.mtl(ng-show="trades.pending.length || trades.completed.length")
      .flex-row.flex-between.flex-center
        h4.type-h4(translate="ORDER_HISTORY")
        span Coinify Account: {{ exchange.profile.email }}
      table.width-100
        tr.border.bg-light-blue
          th.phml.pvs(translate="STATUS")
          th.phml.pvs(translate="DATE")
          th.phml.right-align.pvs BTC
          th.phml.right-align.pvs(translate="TOTAL")
        tr(
          ng-repeat="trade in trades.pending.concat(trades.completed) | orderBy:'createdAt':true | limitTo:tradeLimit"
          trade="trade"
          buy="buy"
          in-view="$last && scrollTrades()")
      .flex-column.flex-align-end.mbvl.mtml(translate-namespace="BUY_FEEDBACK")
        span.type-h5.em-500(translate=".PROMPT")
        .flex-row.flex-center.mts
          span.type-h5.security-red(translate=".DISAGREE")
          span.type-h5.mhm.pointer(uib-rating ng-model="rating" max="5" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" ng-click="submitFeedback(rating)")
          span.type-h5.success(translate=".AGREE")
