form(ng-class="{'has-error': hasAmountError($index)}" name="buyAmount")
  h5.man(translate="Enter an amount")
  .ph-form.flex-center.recipient-currency
    .mrl.flex-1
      .flex-center.border-bottom
        span.mrm {{ btcCurrency.code }}:
        //- ng-change="getQuote(btcCurrency)"
        input.form-control.no-border(
          type="number"
          name="btc"
          ng-model="transaction.amount"
          tabindex="1"
          transform-currency="btcCurrency"
          placeholder="0"
          min="1"
          max="2100000000000000"
          required
        )
    i.ti-arrows-horizontal.h4.aaa.prm
    .flex-1
      .flex-center.border-bottom
        span.mrm {{ fiatCurrency.code }}:
        //- ng-change="getQuote(fiatCurrency)"
        input.form-control.no-border(
          type="number"
          ng-model="transaction.amount"
          name="fiat"
          tabindex="1"
          transform-currency="fiatCurrency"
          placeholder="0"
          min="1"
          max="2100000000000000"
          required
        )
  .mtl
    h5.mtn.mbm(translate="PAYMENT_METHOD")
    .flex-row.flex-center.mbl.pvm.border-bottom
      input(type="radio" name="medium" id="bank")
      .flex-column.flex-1.mlm
        label.em-400(for="bank")
          span.mbm.type-h5.em-500.display-block(translate="Bank Transfer")
          span(translate="The final exchange will be determined when Coinify receives your payment. You will receive your bitcoin on the working day after the payment has been received.")
    .flex-row.flex-center.pbm
      input(type="radio" name="medium" id="credit-card" checked="checked")
      .flex-column.flex-1.mlm
        label.em-400(for="credit-card")
          span.mbm.type-h5.em-500.display-block(translate="Credit/Debit Card")
          span.display-block(translate="You get the current exchange rate and receive your bitcoins instantly.")
          span.display-block.italic(translate="2.75% fees charged by the card payment processor.")
