.buy-sell
  .flex-center.flex-justify(ng-if="status.loading") Fetching information from your exchange partner.
  div(ng-if="!status.loading")
    .flex-row.flex-column-tablet
      .flex-column.width-50.mrl
        h4.blue.type-h4(translate="Quick Start" ng-click="buy()")
        buy-steps.pointer(buy="buy()"
                          exchange-acct="userHasExchangeAcct"
                          currency-symbol="currencySymbol"
                          profile="profile"
                          partner="partner")
        .border.paml.mtl
          .flex-between
            button.button-muted.btn.button-default.type-h5.width-33.mrm(ng-click="buy(20)")
              span 20
              |  
              span.type-xs {{ transaction.currency.code }}
            button.button-muted.btn.button-default.type-h5.width-33.mrm(ng-click="buy(40)")
              span 40
              |  
              span.type-xs {{ transaction.currency.code }}
            button.button-muted.btn.button-default.button-sm.type-h5.width-33(ng-click="buy(60)")
              span 60
              |  
              span.type-xs {{ transaction.currency.code }}
          .flex-between.mtml
            button.button-muted.btn.button-default.type-h5.width-33.mrm(ng-click="buy(80)")
              span 80
              |  
              span.type-xs {{ transaction.currency.code }}
            button.button-muted.btn.button-default.button-sm.type-h5.width-33.mrm(ng-click="buy(100)")
              span 100
              |  
              span.type-xs {{ transaction.currency.code }}
            button.button-muted.btn.button-default.button-sm.type-h5.width-33(ng-click="buy(200)")
              span 200
              |  
              span.type-xs {{ transaction.currency.code }}
          .flex-column.mtml
            section.input-group
              div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
                button.btn.btn-default.dropdown-toggle(type="button" uib-dropdown-toggle aria-haspopup="true")
                  span {{ transaction.currency.code }}
                  span.caret
                ul.uib-dropdown-menu.dropdown-menu.currency-dropdown(role="menu")
                  li(ng-repeat="currency in currencies"
                     role="menuitem" 
                     ng-click="changeCurrency(currency);"
                     ng-class="{active: isCurrencySelected(currency)}")
                    a(ng-click="$event.preventDefault()") {{ currency.code }}
              input.form-control(
                type="number"
                ng-model="transaction.fiat"
                name="fiat"
                tabindex="1"
                on-enter="buy()"
                placeholder="0"
                min="0"
                max="2100000000000000"
                required
              )
          .flex-end.mtml
            button.button-success(translate="Buy Bitcoin" ng-click="buy()")
      .flex-column.width-50.mll(ng-hide="userHasExchangeAcct")
        h4.type-h4.mbm(translate="How does it work?")
        p.mbn.flex-center
          span.type-h5.mrs 💰
          span(translate="Choose how much you want to buy.")
        p.mbn.flex-center
          span.type-h5.mrs 💳
          span(translate="Tell us how you want to pay.")
        p.mbn.flex-center
          span.type-h5.mrs 😌
          span(translate="We'll do the rest for you.")
        .height-100
          .flex-column.mtl
            p.flex-center.mbs
              i.type-lrg.ti-check-box.blue.mrs 
              span.type-h5(translate="Simple: 4 Easy Steps")
            p.flex-center.mbs
              i.type-lrg.ti-check-box.blue.mrs 
              span.type-h5(translate="Fast: Instant Exchange")
            p.flex-center.mbs
              i.type-lrg.ti-check-box.blue.mrs 
              span.type-h5(translate="Secure: Encrypted Communication")
          button.button-primary.mtm(translate="Get Started" ng-click="buy()")
    .flex-column.mtl(ng-show="trades")
      h4.type-h4(translate="History")
      table.width-100.border.mbvl
        th.ptm.plm.pbn Date
        th.ptm.pbn Amount
        th.ptm.pbn Status
        tr(ng-repeat="trade in trades" trade="trade")
              

