form(name="buyAmount")
  .flex-column
    label.em-500 Choose an amount to buy:
    section.input-group
      div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
        button.btn.btn-default.dropdown-toggle(type="button" uib-dropdown-toggle aria-haspopup="true")
          span {{ fiatCurrency.code }}
          span.caret
        ul.uib-dropdown-menu.dropdown-menu(role="menu")
          li(ng-repeat="currency in currencies"
             role="menuitem" 
             ng-click="changeCurrency(currency); getQuote();"
             ng-class="{active: isCurrencySelected(currency)}")
            a(ng-click="$event.preventDefault()") {{ currency.code }}
      input.form-control(
        type="number"
        ng-model="transaction.fiat"
        name="fiat"
        tabindex="1"
        on-enter="nextStep()"
        ng-change="getQuote()"
        placeholder="0"
        min="0"
        max="2100000000000000"
        required
      )
  .flex-row.flex-between.flex-center.mtl(ng-show="exchangeAccount")
    .flex-row.flex-center.flex-1.flex-around.mrl
      label.mbn.em-500 You will receive this amount of {{ btcCurrency.code }} at the current exchange rate.
      i.ti-arrow-right.blue.type-h4
    .flex-row.flex-center.flex-1
      input.form-control(
        type="number"
        name="btc"
        ng-model="transaction.btc"
        tabindex="1"
        placeholder="0"
        disabled
        min="1"
        max="2100000000000000"
        required
      )
