#buysell.buy-sell(ng-class="{'height-100': status.loading}")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.loading")
    span.type-h4.center Getting information from your exchange partner. This could take a few seconds.
    img.width-60.width-60-mobile.mtl(src="img/money.gif")
  div(ng-if="!status.loading")
    h4.blue.type-h4(translate="Quick Start")
    .flex-row.flex-column-tablet
      .flex-column.width-50.mrl
        buy-steps.pointer(buy="buy()"
                          exchange-acct="userHasExchangeAcct"
                          currency-symbol="currencySymbol"
                          profile="profile"
                          partner="partner")
        buy-quick-start(transaction="transaction" 
                        change-currency="changeCurrency(currency)"
                        buy="buy(amt)")
      .flex-column.width-50.mll
        buy-steps.fade(exchange-acct="userHasExchangeAcct"
                       currency-symbol="currencySymbol"
                       profile="profile"
                       partner="partner")
        sell-quick-start
    .flex-column.mtl(ng-show="trades.pending || trades.completed")
      div(ng-show="trades.pending.length")
        h4.type-h4(translate="Pending")
        table.width-100.mbvl
          tr(ng-repeat="trade in trades.pending | orderBy:'createdAt':true" trade="trade" first="$first" buy="buy(amt, trade, 'active-tx')" cancel="cancel(trade)" pending="true")
      div(ng-show="trades.completed.length")
        h4.type-h4(translate="History")
        table.width-100.mbvl
          tr(ng-repeat="trade in trades.completed | orderBy:'createdAt':true" trade="trade" first="$first" buy="buy(amt, trade, 'active-tx')")
    account-info(exchange="exchange" ng-show="userHasExchangeAcct")
