.modal-header.bc-modal-header.flex-between.flex-center
  .flex-column.flex-1
    .flex-row.flex-between.flex-center
      h3(translate="BUY_BITCOIN")
      span.security-red(ng-show="quoteCountdown") Rate Expires In: {{ quoteCountdown }}
    .flex-row.flex-between.flex-baseline.center.pointer
      .flex-column.flex-center
        span.flex-1.type-lrg(ng-class="{blue: step === 0}" ng-click="step = 0") {{ currencySymbol.symbol }}
        span.success(ng-show="step > 0") {{ displayAmount }}
      .flex-column.flex-center(ng-class="{blue: step === 1}" ng-click="nextStep()")
        i.flex-1.type-lrg.ti-map-alt(ng-hide="profile.countryCode")
        i.flex-1.type-lrg.ti-check-box(ng-show="profile.countryCode")
        span.success {{ profile.countryCode }}
      .flex-column.flex-center(ng-click="nextStep()" ng-class="{blue: step === 2}")
        i.flex-1.type-lrg.ti-user(ng-hide="user.isEmailVerified")
        i.flex-1.type-lrg.ti-check-box(ng-show="user.isEmailVerified")
        span(ng-class="{success: user.isEmailVerified}") {{ user.email }}
      .flex-column.flex-center(ng-click="nextStep()")
        i.flex-1.type-lrg.ti-credit-card(ng-class="{blue: step === 4}")
      .flex-column.flex-center
        span.flex-1.type-lrg(ng-class="{blue: step === 5}") BTC
.modal-body
  div(ng-show="status.loading")
    .phvl
      p(translate="Requesting your profile information from our partner. This should take a few seconds.")
  div(ng-hide="status.loading")
    div(ng-show="step === 0")
      include ./buy-amount
    div(ng-show="step === 1")
      include ./buy-select-country
    div(ng-show="step === 2")
      include ./buy-email
    div(ng-show="step === 3")
      include ./buy-accept-terms
    div(ng-show="step === 4")
      include ./buy-summary
  .flex-end.flex-center.mtl
    span.mrs.type-sm Powered by
    img.coinify-logo(src="img/coinify-logo.svg")
.modal-footer.flex-end.flex-row
  button.button-muted(ng-show="step > 0" ng-click="prevStep()") Go Back
  .flex-end.flex-1(ng-hide="status.loading")
    button.button-muted.mrm(
      ng-click="close()" translate="CANCEL")
    div
      button.button-primary(
        ladda-translate="CONTINUE"
        ng-click="nextStep()"
        data-style="expand-left"
        ui-ladda="status.waiting"
        ng-disabled="isDisabled() || step === 2"
        ng-hide="step === 3 || step === 4")
      button.button-success(
        ladda-translate="CONTINUE"
        ng-click="signup()"
        data-style="expand-left"
        ui-ladda="status.waiting"
        ng-disabled="isDisabled()"
        ng-show="step === 3")
      button.button-success(
        ladda-translate="CONTINUE"
        ng-click="buy()"
        data-style="expand-left"
        ui-ladda="status.waiting"
        ng-show="step === 4")
