.pos-rel.flex-1(ng-class="{'loading': status.loading || status.metaDataDown || status.exchangeDown, 'disabled': status.disabled}" data-preflight-tag="BuySell")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.metaDataDown")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="METADATA_DOWN")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.exchangeDown")
    span.bg-red.type-h4.copy-bar.white.flex-center.flex-justify(translate="EXCHANGE_DOWN")
  .flex-column.flex-justify.flex-center.height-100(ng-if="status.loading && !status.disabled")
    img.loader(src="img/puff.svg")
    span.bg-blue.type-h4.copy-bar.white.flex-center.flex-justify(translate="FETCHING_INFO_EXCHANGE")
  .mb-20(ng-if="!status.loading && !status.metaDataDown && !status.exchangeDown || status.disabled")
    bc-tabs(tab="tabs.selectedTab" tab-options="tabs.options" on-select="tabs.select($tab)" badge="trades.pending.length")
      .sfox-logo
        span.mrs.type-sm Powered By
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
    .buy-sell.mbvl.mh-15
      .flex-row.flex-column-tablet
      div(ng-show="tabs.selectedTab === 'BUY_BITCOIN'")
        //- BUY
        buy-quick-start(transaction="transaction"
                        disabled="status.disabled"
                        currency-symbol="currencySymbol"
                        modal-open="status.modalOpen"
                        change-currency="changeCurrency(currency)"
                        trading-disabled="getIsTradingDisabled()"
                        trading-disabled-reason="getIsTradingDisabledReason()"
                        open-pending-trade="buy(null, pendingTrade)"
                        pending-trade="pendingTrade"
                        get-days="getDays()"
                        buy="buy(quote)")
        .flex-column.col-md-5.col-md-offset-1.col-sm-12.col-xs-12.pln.prn
          kyc-status(state="kyc.state" on-trigger="openKyc()" limits="limits")
      div(ng-show="tabs.selectedTab === 'SELL_BITCOIN'")
        //- SELL
        sell-quick-start(limits="sellLimits"
                        transaction="sellTransaction"
                        disabled="status.disabled"
                        sell-currency-symbol="sellCurrencySymbol"
                        exchange-country="exchangeCountry"
                        modal-open="status.modalOpen"
                        change-currency="changeSellCurrency(currency)"
                        trading-disabled="getIsTradingDisabled()"
                        trading-disabled-reason="getIsTradingDisabledReason()"
                        on-trigger="openSellKyc()"
                        select-tab="tabs.select(tab)"
                        pending-trade="pendingTrade"
                        open-pending-trade="buy(pendingTrade)"
                        get-days="getDays()"
                        sell="sell(null, {quote: quote, btc: btc, fiat: fiat, currency: transaction.currency})")
        .flex-column.col-md-5.col-md-offset-1.col-sm-12.col-xs-12.pln.prn
          kyc-status(state="kyc.state" on-trigger="openSellKyc()" limits="sellLimits")
      .flex-column(ng-show="tabs.selectedTab === 'ORDER_HISTORY'")
        .flex-column.mtl(ng-show="trades.pending.length" data-preflight-tag="BuySellTrades")
        .flex-row.flex-between.flex-center(ng-show="trades.pending.length")
          //- h4.type-h4(translate="ORDER_HISTORY")
          h4.type-h5 Pending Orders ({{trades.pending.length}})
          span.hidden-xs(ng-show="trades.pending.length") Coinify Account: {{ exchange.profile.email }}
        table.width-100(ng-show="trades.pending.length")
          tr.border.bg-light-blue
            th.pvs.width-5-mobile.visible-xs
            th.phml.pvs.width-30(translate="STATUS")
            th.pvs.width-30(translate="DATE")
            th.pvs.width-25.hidden-xs BTC
            th.pvs.width-15(translate="TOTAL")
            th.pvs.width-5-mobile.visible-xs
          tr(
            ng-repeat="trade in trades.pending | orderBy:'createdAt':true | limitTo:tradeLimit"
            disabled="status.disabled"
            trade="trade"
            buy="buy"
            sell="sell"
            in-view="$last && scrollTrades()")


        .flex-column.mtl(ng-show="trades.pending.length || trades.completed.length" data-preflight-tag="BuySellTrades")
        .flex-row.flex-between.flex-center
          h4.type-h5 Completed Orders
          span(ng-hide="trades.pending.length || inMobileBuy") Coinify Account: {{ exchange.profile.email }}
        table.width-100.mb-30
          tr.border.bg-light-blue
            th.pvs.width-5-mobile.visible-xs
            th.phml.pvs.width-30(translate="STATUS")
            th.pvs.width-30(translate="DATE")
            th.pvs.width-25.hidden-xs BTC
            th.pvs.width-15(translate="TOTAL")
            th.pvs.width-5-mobile.visible-xs
          tr(ng-hide="trades.completed.length")
            tr.border(ng-hide="trades.completed.length")
              td.pvml.plml.italic.type-lbl.hidden-xs(colspan="4") You haven't completed any trades yet.
              td.pvml.plml.italic.type-lbl.visible-xs(colspan="5") You haven't completed any trades yet.
          tr(
            ng-repeat="trade in trades.completed | orderBy:'createdAt':true | limitTo:tradeLimit"
            disabled="status.disabled"
            trade="trade"
            buy="buy"
            sell="sell"
            in-view="$last && scrollTrades()")
contact-support-footer(ng-hide="inMobileBuy")
