#buy(ng-class="{rendered:rendered}" data-preflight-tag="BuyModal")
  .modal-header.bc-modal-header.flex-between.flex-center
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3(translate="BUY_BITCOIN")
        .flex-column.flex-align-end(ng-show="status.gettingQuote")
          img(src="img/spinner.gif")
        .flex-column.flex-align-end(ng-hide="status.gettingQuote"
                                    uib-tooltip="{{getQuoteHelper() | translate}}" 
                                    tooltip-append-to-body="true"
                                    tooltip-placement="right"
                                    tooltip-enable="!hideQuote()")
          .flex-row.type-h5.em-400
            span(ng-hide="!transaction.btc || trade || needsKyc()" translate="AMOUNT_FOR" translate-values="{symbol: currencySymbol.symbol, amount: transaction.fiat}")
            span(ng-show="trade && !isKYC && !needsKyc()" translate="AMOUNT_FOR" translate-values="{symbol: currencySymbol.symbol, amount: transaction.total}")
            | &nbsp;
            span(ng-hide="!transaction.btc || trade || needsKyc()") {{ transaction.btc }}
            span(ng-show="trade && !isKYC && !needsKyc()" ng-class="{italic: expiredQuote && needsISX(), 'tilda-before': expiredQuote && needsISX()}") {{ expiredQuote && needsISX() ? btcExpected / 100000000 : (trade.outAmount || trade.outAmountExpected) / 100000000 }} BTC
          quote-countdown(ng-hide="isKYC" quote="quote" trade-obj="trade" expired-quote="expiredQuote" ng-class="{'fade': hideQuote() }")
          p.security-red.pointer(ng-show="buySellDebug && quote.id")
            i.ti-search.mrm.right-align(ng-click="quote.expire()")  QA: Now
      buy-steps(transaction="transaction"
                on-step="onStep"
                needs-kyc="needsKyc"
                get-method="getMethod"
                after-step="afterStep"
                before-step="beforeStep"
                payment-info="paymentInfo"
                exchange-acct="userHasExchangeAcct"
                currency-symbol="currencySymbol"
                trade-obj="trade")
  .modal-body.fade.flex-center.flex-justify(class="{{isxStep}}" ng-class="{'summary': onStep('summary'), 'isx': onStep('isx')}")
    .alert-in-app
      alerts(context="alerts")
    div.width-80(ng-show="onStep('select-country')" ng-controller="BuySelectCountryCtrl")
      include ./buy/select-country
    div.width-80(ng-show="onStep('email')" ng-controller="BuyEmailCtrl")
      include ./buy/email
    div.width-80(ng-show="onStep('accept-terms')" ng-controller="BuyAcceptTermsCtrl")
      include ./buy/accept-terms
    div.width-80(ng-show="onStep('select-payment-method')" ng-controller="BuySelectPaymentMethodCtrl")
      include ./buy/select-payment-method
    div.width-80(ng-show="onStep('summary')" ng-controller="BuySummaryCtrl")
      include ./buy/summary
    div.iframe(ng-if="onStep('isx')")
      isignthis(transaction-id='trade.iSignThisID' on-load="loadPayment()" on-complete="formatTrade" payment-info="paymentInfo" on-resize="onResize(step)")
    div.width-80(ng-if="onStep('trade-in-review', 'trade-formatted')")
      include ./trade-summary
      p.security-red.pointer(ng-show="buySellDebug && trade.bankAccount && trade.state === 'awaiting_transfer_in'")
        i.ti-search.mrm
        span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
    .flex-end.flex-center.mtl.coinify-logo(ng-hide="afterStep('summary')")
      span.pos-rel
        span.mrs.type-sm Powered by
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
          span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
  //- needs directive
  .modal-footer.flex-end.flex-row
    button.button-muted(ng-hide="onStep('select-country', 'select-payment-method') || afterStep('summary')"
                        ng-click="prevStep()" translate="GO_BACK")
    
    .flex-1.flex-end(ng-hide="status.loading")
      button.button-muted.mrm(ng-click="close()" translate="CANCEL_ORDER" ng-hide="afterStep('summary')")
      button.button-muted.mrm(ng-click="close(true)" translate="FINISH_LATER" ng-show="onStep('isx')")
      div(ng-hide="afterStep('summary')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="nextStep()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled() || onStep('email')"
          ng-hide="afterStep('email')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="signup()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('accept-terms')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="confirmOrContinue()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('select-payment-method')")
        button.button-primary(
          ladda-translate="CONFIRM"
          ng-click="buy()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled() || fiatFormInvalid"
          ng-show="onStep('summary')")
      div(ng-show="onStep('trade-in-review') || onStep('trade-formatted') && !bitcoinReceived")
        button.button-success(translate="CLOSE" ng-click="cancel()")
      div(ng-show="onStep('trade-formatted') && bitcoinReceived")
        button.button-success(translate="SEE_BITCOIN" ng-click="cancel()" ui-sref="wallet.common.transactions")
