.flex-column.mbvl
  label.em-500.flex-start.pts Confirm your order:
  p.mvm
    span(translate="ORDER_CONFIRMATION_COPY")
  .flex-end.mbs
    span.type-sm.blue.underline.pointer(ng-click="toggleEditAmount()" ng-hide="editAmount") Edit Order
    span.type-sm.blue.underline.pointer(ng-click="toggleEditAmount()" ng-show="editAmount") Cancel
  .border.pam(ng-class="{'bg-light-grey': editAmount}")
    .flex-row.flex-between.pam.border-bottom-light
      span(translate="BTC Order:")
      span.success(uib-tooltip="{{'RECEIVE_BITCOIN_TO' | translate:{label: label} }}") {{ transaction.btc }}
    .flex-row.flex-between.pam.pos-rel
      span(translate="AMOUNT")
      span(ng-hide="editAmount") {{ transaction.fiat | format }} {{ transaction.currency.code }}
      section.input-group.width-60.flex-row.flex-center.amount-input(ng-show="editAmount")
        span.type-sm.blue.underline.pointer.mrm(ng-click="toggleEditAmount()" ng-show="editAmount") Update
        input.form-control(
          type="number"
          ng-model="transaction.fiat"
          name="fiat"
          tabindex="1"
          focus-when="editAmount"
          ng-change="status.waiting = true"
          ng-model-options="{debounce: 250}"
          on-enter="buy(transaction.fiat)"
          placeholder="0"
          min="0"
          max="2100000000000000"
          required
        )
        div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
          button.btn.btn-default.dropdown-toggle(type="button" uib-dropdown-toggle aria-haspopup="true")
            span {{ transaction.currency.code }}
            span.caret
          ul.uib-dropdown-menu.dropdown-menu.currency-dropdown(role="menu")
            li(ng-repeat="currency in currencies"
               role="menuitem" 
               ng-click="changeCurrency(currency);"
               ng-class="{active: isCurrencySelected(currency)}")
              a(ng-click="$event.preventDefault()") {{ currency.code }}
    .flex-row.flex-between.pam.border-bottom-light
      span Fee:
      span {{ transaction.methodFee | format }} {{ transaction.currency.code }}
    .flex-row.flex-between.pam
      span.em-500 Total Cost:
      span {{ currencySymbol.symbol }}{{ transaction.total | format }} {{ transaction.currency.code }}
