#buy(ng-class="{rendered:rendered}")
  .modal-header.bc-modal-header.flex-between.flex-center
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3(translate="BUY_BITCOIN")
        quote-countdown(quote="quote" get-quote="getQuote()" ng-hide="afterStep('trade-complete')")
      buy-steps(transaction="transaction" 
                payment-info="paymentInfo"
                exchange-acct="userHasExchangeAcct"
                currency-symbol="currencySymbol"
                trade-error="formattedTrade.error"
                exchange="exchange"
                trade-obj="trade"
                partner="partner"
                fields="fields"
                method="method"
                step="step")
  .modal-body.fade(ng-class="{'buy-amount': onStep('amount'), 'buy-select-country': onStep('select-country'), 'buy-email': onStep('email'), 'buy-accept-terms': onStep('accept-terms'), 'buy-summary': onStep('summary'), 'isx': onStep('trade-formatted', 'trade-complete') && (trade.medium === 'card' || !trade.medium), 'bank-account': onStep('trade-formatted', 'trade-complete') && trade.medium === 'bank', 'buy-pending': onStep('pending'), 'buy-success': onStep('success')}")
    .alert-in-app
      alerts(context="alerts")
    div(ng-show="onStep('amount')")
      include ./buy-amount
    div(ng-show="onStep('select-country')")
      include ./buy-select-country
    div(ng-show="onStep('email')")
      include ./buy-email
    div(ng-show="onStep('accept-terms')")
      include ./buy-accept-terms
    div(ng-show="onStep('summary')")
      include ./buy-summary
    div(ng-show="onStep('trade-formatted', 'trade-complete')")
      div.iframe(ng-if="!trade.medium || trade.medium === 'card'")
        isignthis(transaction-id='trade.iSignThisID' on-load="loadPayment()" on-declined="declinedTx(tx)" on-pending="pendingTx(tx)" on-review="reviewTx(tx)" on-expired="expiredTx(tx)" on-failed="failedTx(tx)" payment-info="paymentInfo")
      div(ng-if="trade.medium === 'bank'")
        bank-account(transaction="trade" on-load="loadPayment()")
    div(ng-if="onStep('pending')")
      include ./trade-summary
    div(ng-if="onStep('success')")
      include ./trade-summary
    .flex-end.flex-center.mtl
      span.pos-rel
        span.mrs.type-sm Powered by
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img.coinify-logo(src="img/coinify-logo.svg")
          span.pos-abs.fade.height-100.width-100(ng-show="onStep('summary')" uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" translate="placeholder" tooltip-append-to-body="true")
  //- needs directive
  .modal-footer.flex-end.flex-row
    button.button-muted(ng-show="afterStep('amount') && beforeStep('trade-formatted')" ng-click="prevStep()") Go Back
    
    .flex-1.flex-end(ng-hide="status.loading")
      button.button-muted.mrm(ng-click="close()" translate="CANCEL" ng-hide="afterStep('summary')")
      button.button-muted.mrm(ng-click="close(true)" translate="FINISH_LATER" ng-show="onStep('trade-formatted', 'trade-complete')")
      button.button-muted.mrm(ng-click="cancel()" translate="CANCEL" ng-show="afterStep('pending')")
      div(ng-hide="afterStep('summary')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="nextStep()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled() || onStep('email')"
          ng-hide="afterStep('email')")
        button.button-success(
          ladda-translate="CONTINUE"
          ng-click="signup()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('accept-terms')")
        button.button-success(
          ladda-translate="CONFIRM_PAY"
          ng-click="buy()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-show="onStep('summary')")
      div(ng-show="onStep('pending')")
        button.button-danger(translate="TRY_AGAIN" ng-click="initBuy()" ng-show="formattedTrade.error")
        button.button-success(translate="CLOSE" ng-click="cancel()" ng-hide="formattedTrade.error")
      div(ng-show="onStep('success')")
        button.button-success(translate="SEE_BITCOIN" ui-sref="wallet.common.transactions")
