div
  div(ng-hide="editEmail || rejectedEmail")
    p
      span(translate="SENT_VERIFICATION" translate-values="{email: user.email}")
    .flex-column.mtl
        div
          span.flex-center.pointer(translate="CHANGE_EMAIL" ng-click="toggleEmail()")
        div
          span.mrs.pointer(translate="Can't find your verification email?")
          resend-email-confirmation
  form.clearfix(name="emailForm" ng-show="editEmail || rejectedEmail")
    bc-async-input(type="email"
                   is-required 
                   ng-model="user.email" 
                   on-cancel="toggleEmail" 
                   on-save="changeEmail" 
                   action-title="'CHANGE' | translate" 
                   hide-cancel="rejectedEmail"
                   inline 
                   editing="true")
