#buy(ng-class="{rendered:rendered}" data-preflight-tag="BuyModal")
  .modal-header-no-border.bc-modal-header.flex-between.flex-center
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3.mlm(translate="BANK_TRANSFER_HEADING")
        .flex-column.flex-align-end(ng-show="status.gettingQuote")
          img(src="img/spinner.gif")
        .flex-column.flex-align-end(ng-hide="status.gettingQuote"
                                    uib-tooltip="{{getQuoteHelper() | translate}}" 
                                    tooltip-append-to-body="true"
                                    tooltip-placement="right"
                                    tooltip-enable="!hideQuote()")
          .flex-row.type-h5.em-500
            span(ng-hide="!transaction.btc || trade || needsKyc()") {{ transaction.btc }} BTC
            span(ng-show="trade && !isKYC && !needsKyc()" ng-class="{italic: expiredQuote && needsISX(), 'tilda-before': expiredQuote && needsISX()}") {{ expiredQuote && needsISX() ? btcExpected / 100000000 : (trade.outAmount || trade.outAmountExpected) / 100000000 }} BTC
            | &nbsp;
            span(ng-hide="!transaction.btc || trade || needsKyc()") ({{currencySymbol.symbol}}{{ transaction.fiat }})
            span(ng-show="trade && !isKYC && !needsKyc()") ({{currencySymbol.symbol}}{{ transaction.total }})
          quote-countdown.mid-grey(ng-hide="isKYC" quote="quote" trade-obj="trade" expired-quote="expiredQuote" ng-class="{'fade': hideQuote() }")
          p.security-red.pointer(ng-show="buySellDebug && quote.id")
            i.ti-search.mrm.right-align(ng-click="quote.expire()")  QA: Now
  .modal-body.fade.flex-center.flex-justify(class="{{isxStep}}" ng-class="{'summary': onStep('summary'), 'isx': onStep('isx')}")
    .alert-in-app
      alerts(context="alerts")
    div.width-80(ng-show="onStep('select-country')" ng-controller="CoinifyCountryController")
      include ./coinify/country
    div.width-80(ng-show="onStep('email')" ng-controller="CoinifyEmailController")
      include ./coinify/email
    div.width-80(ng-show="onStep('accept-terms')" ng-controller="CoinifySignupController")
      include ./coinify/signup
    div.width-80(ng-show="onStep('select-payment-method')" ng-controller="CoinifyMediumController")
      include ./coinify/medium
    div.width-80(ng-show="onStep('summary')" ng-controller="CoinifySummaryController")
      include ./coinify/summary
    div.iframe(ng-if="onStep('isx')")
      isignthis(transaction-id='trade.iSignThisID' on-load="loadPayment()" on-complete="formatTrade" payment-info="paymentInfo" on-resize="onResize(step)")
    div.width-80(ng-if="onStep('trade-in-review', 'trade-formatted')")
      include ./trade-summary
      p(translate="BANK_TRANSFER_NEXT_STEPS")
      p.security-red.pointer(ng-show="buySellDebug && trade.bankAccount && trade.state === 'awaiting_transfer_in'")
        i.ti-search.mrm
        span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
    .flex-end.flex-center.mtl.coinify-logo(ng-hide="afterStep('summary')")
      span.pos-rel
        span.mrs.type-sm(translate="POWERED_BY")
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
          span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
  .modal-footer.flex-end.flex-row
    button.button-muted(ng-show="onStep('summary')" ng-click="goTo('select-payment-method')" translate="GO_BACK")
    
    .flex-1.flex-end(ng-hide="status.loading")
      button.button-muted.mrm(ng-click="$close()" translate="CLOSE" ng-show="onStep('trade-formatted') && bitcoinReceived")
      button.button-muted.mrm(ng-click="close()" translate="CANCEL_ORDER" ng-hide="afterStep('summary')")
      button.button-muted.mrm(ng-click="close()" translate="FINISH_LATER" ng-show="onStep('isx')")
      div(ng-hide="afterStep('summary')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="nextStep()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('select-country')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="verifyEmail()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('email')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="signup()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('accept-terms')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="confirmOrContinue()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('select-payment-method')")
        button.button-primary(
          ladda-translate="CONFIRM"
          ng-click="buy()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled() || fiatFormInvalid"
          ng-show="onStep('summary')")
      div(ng-show="onStep('trade-in-review') || onStep('trade-formatted') && !bitcoinReceived")
        button.button-primary(translate="CLOSE" ng-click="cancel()")
      div(ng-show="onStep('trade-formatted') && bitcoinReceived")
        button.button-success(translate="SEE_BITCOIN" ng-click="cancel()" ui-sref="wallet.common.transactions")
