#buy(ng-class="{rendered:rendered}" data-preflight-tag="SellModal")
  //- .modal-header.bc-modal-header.flex-between.flex-center()
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3(ng-if="vm.onStep('accept-terms')" translate="SELL.COINIFY_ACCOUNT")
        h3(ng-if="vm.onStep('isx')" translate="SELL.INCREASE_SELL_LIMIT")
  coinify-email(
      ng-if="vm.onStep('email')"
      on-complete="vm.goTo('accept-terms')"
      on-close="vm.close()"
      email="vm.user.email"
      valid-email="vm.state.email.valid"
      verified="vm.user.isEmailVerified"
      on-email-change="vm.onEmailChange(true)"
      rejected-email="vm.rejectedEmail")
  coinify-signup(
      ng-if="vm.onStep('accept-terms')"
      on-complete="vm.onSignupComplete()"
      on-error="vm.goTo('email')"
      on-close="vm.close()"
      email="vm.user.email"
      valid-email="vm.state.email.valid"
      on-email-change="vm.onEmailChange(false)"
      fiat-currency="vm.fiat()")
  sell-create-account(
      ng-if="vm.onStep('account')"
      sepa-countries="vm.sepaCountries"
      country="vm.exchangeCountry"
      transaction="vm.transaction"
      payment-account="vm.paymentAccount"
      on-complete="vm.goTo('summary')"
      on-success="vm.onCreateBankSuccess({bankId})"
      close="vm.close()")
  sell-bank-link(
      ng-if="vm.onStep('bank-link')" 
      on-complete="vm.goTo('summary')" 
      accounts="vm.accounts"
      transaction="vm.transaction"
      payment-account="vm.paymentAccount"
      selected-bank-account="vm.selectedBankAccount" 
      select-account="vm.selectAccount(account)" 
      new-account="vm.goTo('account')" 
      close="vm.close()")
  sell-summary(
      ng-if="vm.onStep('summary')"
      sell-trade="trade"
      transaction="vm.transaction"
      total-balance="vm.totalBalance"
      close="vm.close()"
      dismiss="vm.dismiss()"
      payment-account="vm.paymentAccount"
      payment="vm.finalPayment"
      bank-id="vm.bankId"
      on-success="vm.onSellSuccess(trade)"
      on-complete="vm.goTo('trade-complete')")
  sell-trade-finished(
      ng-if="vm.onStep('trade-complete')"
      sell-trade="vm.sellTrade"
      completed-state="vm.completedState"
      dismiss="vm.cancel()")
  div(ng-if="vm.onStep('isx')" ng-controller="CoinifyISXController" ng-include="'partials/coinify/isx.pug'")
