#buy(ng-class="{rendered:rendered}" data-preflight-tag="SellModal")
  .modal-header.bc-modal-header.flex-between.flex-center()
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3.mlm(ng-if="onStep('accept-terms')" translate="SELL.COINIFY_ACCOUNT")
        h3.mlm(ng-if="onStep('account-info')" translate="SELL.ADD_BANK_ACCOUNT")
        h3.mlm(ng-if="onStep('account-holder')" translate="SELL.ACCOUNT_HOLDER")
        h3.mlm(ng-if="onStep('summary')" translate="SELL.CONFIRM_SELL_ORDER")
        h3.mlm(ng-if="onStep('review') && !KYCState" translate="SELL.ORDER_PLACED")
        h3.mlm(ng-if="onStep('review') && trade._state === 'completed'" translate="Order Complete")
        h3.mlm(ng-if="onStep('bank-link')" translate="SELL.LINKED_ACCOUNTS")
        h3.mlm(ng-if="onStep('isx')" translate="SELL.INCREASE_SELL_LIMIT")
        h3.mlm(ng-if="onStep('review') && KYCState" translate="SELL.ID_REVIEW_STATUS")
        .flex-column.flex-align-end(ng-show="status.gettingQuote")
          img(src="img/spinner.gif")
        .flex-row-reverse.flex-align-end(ng-hide="status.gettingQuote"
                                    uib-tooltip="{{getQuoteHelper() | translate}}"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top"
                                    tooltip-enable="!hideQuote()")
          .flex-row.type-h5.em-500(ng-hide="onStep('review') || onStep('isx')")
            span {{transaction.btc }} BTC ({{currencySymbol}}{{transaction.fiat}})
          //- quote-countdown.mid-grey(ng-hide="isKYC" quote="quote" trade-obj="trade" expired-quote="expiredQuote" ng-class="{'fade': hideQuote() }")
          //- p.security-red.pointer(ng-show="buySellDebug && quote.id")
            i.ti-search.mrm.right-align(ng-click="quote.expire()")  QA: Now
  .modal-body.fade.flex-center.flex-justify(class="{{isxStep}}" ng-class="{'summary': onStep('summary'), 'isx': onStep('isx')}")
    .alert-in-app
      alerts(context="alerts")
    div.iframe(ng-if="onStep('isx')")
      isignthis(transaction-id='trade.iSignThisID' on-load="loadPayment()" on-complete="finishISX" payment-info="paymentInfo" on-resize="onResize(step)")
    div.width-90(ng-show="onStep('email')" ng-controller="CoinifyEmailController")
      include ./coinify/email
    div.width-90(ng-show="onStep('accept-terms')" ng-controller="CoinifyTermsController")
      include ./coinify/email
    div.width-90(ng-show="onStep('account-info')" ng-controller="CoinifyBankAccountController")
      include ./coinify/account-info
    div.width-90(ng-show="onStep('account-holder')" ng-controller="CoinifyBankAccountController")
      include ./coinify/account-holder
    div.width-90(ng-if="onStep('summary')" ng-controller="CoinifySummaryController")
      include ./coinify/summary
    div.width-90(ng-if="onStep('review')")
      include ./coinify/review
    div.width-90(ng-if="onStep('bank-link')" ng-controller="CoinifyBankLinkController")
      include ./coinify/bank-link
    div.width-90(ng-if="onStep('trade-formatted')")
      include ./trade-summary
    .flex-end.flex-center.mtl.coinify-logo(ng-hide="afterStep('summary')")
      span.pos-rel
        span.mrs.type-sm(translate="POWERED_BY")
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
          span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
  .modal-footer.flex-end.flex-row
    button.button-muted(ng-show="onStep('account-holder')" ng-click="goTo('account-info')" translate="GO_BACK")

    .flex-1.flex-end(ng-hide="status.loading")
      button.button-muted.mrm(ng-click="$close()" translate="CLOSE" ng-show="onStep('accept-terms')")
      button.button-muted.mrm(ng-click="close()" translate="CANCEL_ORDER" ng-show="onStep('summary') && !error")
      button.button-muted.mrm(ng-click="close()" translate="FINISH_LATER" ng-show="onStep('isx')")
      button.button-muted.mrm(ng-click="close()" translate="CLOSE" ng-show="onStep('bank-link') || onStep('account-info') || onStep('account-holder')")
      div(ng-hide="afterStep('summary')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="goTo('account-holder')"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('account-info')")
        button.button-primary(
          translate="CONTINUE"
          ng-click="goTo('accept-terms')"
          ng-disabled="isDisabled()"
          ng-show="onStep('email')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="createBankAccount()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('account-holder')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="acceptTerms()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('accept-terms')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="goTo('summary')"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('bank-link')")
        button.button-primary(
          ladda-translate="SELL.PLACE_ORDER"
          ng-click="sell()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('summary') && !error")
      div(ng-show="onStep('review') || onStep('summary') && error")
        button.button-primary(translate="CLOSE" ng-click="dismiss()")
      div(ng-show="onStep('trade-formatted') && bitcoinReceived")
        button.button-success(translate="SEE_BITCOIN" ng-click="cancel()" ui-sref="wallet.common.transactions")
