#buy(ng-class="{rendered:rendered}" data-preflight-tag="SellModal")
  .modal-header.bc-modal-header.flex-between.flex-center()
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3.mlm(ng-if="vm.onStep('accept-terms')" translate="SELL.COINIFY_ACCOUNT")
        h3.mlm(ng-if="vm.onStep('account')" translate="SELL.ADD_BANK_ACCOUNT")
        h3.mlm(ng-if="vm.onStep('summary')" translate="SELL.CONFIRM_SELL_ORDER")
        h3.mlm(ng-if="vm.onStep('review') && !KYCState" ng-hide="vm.onStep('review') && trade._state === 'completed'" translate="SELL.ORDER_PLACED")
        h3.mlm(ng-if="vm.onStep('review') && trade._state === 'completed'" translate="SELL.TRADE_COMPLETE")
        h3.mlm(ng-if="vm.onStep('bank-link')" translate="SELL.LINKED_ACCOUNTS")
        h3.mlm(ng-if="vm.onStep('isx')" translate="SELL.INCREASE_SELL_LIMIT")
        h3.mlm(ng-if="vm.onStep('review') && KYCState" translate="SELL.ID_REVIEW_STATUS")
        .flex-column.flex-align-end
          .flex-row.type-h5.em-500(ng-hide="onStep('review') || onStep('isx')")
            span {{transaction.btc }} BTC ({{currencySymbol}}{{transaction.fiat}})
            
  coinify-email(ng-if="vm.onStep('email')" on-complete="vm.goTo('accept-terms')" on-close="vm.close()" email="vm.user.email" verified="vm.user.isEmailVerified" rejected-email="vm.rejectedEmail")
  div(ng-if="vm.onStep('accept-terms')" ng-controller="CoinifySignupController" ng-include="'partials/coinify/signup.pug'")
  sell-create-account(
      ng-if="vm.onStep('account')"
      tx-currency="vm.txCurrency"
      sepa-countries="vm.sepaCountries"
      country="vm.exchangeCountry"
      payment-account="vm.paymentAccount"
      on-complete="vm.goTo('summary')"
      on-success="vm.onCreateBankSuccess(bankId)"
      close="vm.close()")
  sell-bank-link(
      ng-if="vm.onStep('bank-link')" 
      on-complete="vm.goTo('summary')" 
      accounts="vm.accounts" 
      transaction="vm.transaction" 
      payment-account="vm.paymentAccount"
      selected-bank-account="vm.selectedBankAccount" 
      select-account="vm.selectAccount(account)" 
      new-account="vm.goTo('account')" 
      close="vm.close()")
  sell-summary(
      ng-if="vm.onStep('summary')"
      sell-trade="trade"
      transaction="vm.transaction"
      sell="vm.sell()"
      total-balance="vm.totalBalance"
      close="vm.close()"
      dismiss="vm.dismiss()"
      payment-account="vm.paymentAccount"
      master-account="vm.masterAccount"
      payment="vm.payment"
      bank-id="vm.bankId"
      on-success="vm.onSellSuccess(trade)"
      on-complete="vm.goTo('review')")
  sell-review(
      ng-if="vm.onStep('review')"
      sell-trade="vm.trade"
      completed-trade="vm.completedTrade"
      dismiss="vm.dismiss()"
    )
