#buy(ng-class="{rendered:rendered}" data-preflight-tag="SellModal")
  .modal-header.bc-modal-header.flex-between.flex-center()
    .flex-column.flex-1
      .flex-row.flex-between.flex-center
        h3.mlm(ng-if="onStep('accept-terms')") Coinify Account
        h3.mlm(ng-if="onStep('account-info')") Add Bank Account
        h3.mlm(ng-if="onStep('account-holder')") Account Holder
        h3.mlm(ng-if="onStep('summary')") Confirm Sell Order
        h3.mlm(ng-if="onStep('review')") Sell Order Placed
        h3.mlm(ng-if="onStep('bank-link')") Linked Accounts
        .flex-column.flex-align-end(ng-show="status.gettingQuote")
          img(src="img/spinner.gif")
        .flex-row-reverse.flex-align-end(ng-hide="status.gettingQuote"
                                    uib-tooltip="{{getQuoteHelper() | translate}}"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top"
                                    tooltip-enable="!hideQuote()")
          .flex-row.type-h5.em-500(ng-hide="onStep('review')")
            span {{transaction.btc }} BTC ({{currencySymbol.symbol}}{{transaction.fiat}})
            //- span(ng-hide="!transaction.btc || trade || needsKyc()") {{ transaction.btc }} BTC
            //- span(ng-show="trade && !isKYC && !needsKyc()" ng-class="{italic: expiredQuote && needsISX(), 'tilda-before': expiredQuote && needsISX()}") {{ expiredQuote && needsISX() ? btcExpected / 100000000 : (trade.outAmount || trade.outAmountExpected) / 100000000 }} BTC
            //- | &nbsp;
            //- span(ng-hide="!transaction.btc || trade || needsKyc()") ({{currencySymbol.symbol}}{{ transaction.fiat }})
            //- span(ng-show="trade && !isKYC && !needsKyc()") ({{currencySymbol.symbol}}{{ transaction.total }})
          quote-countdown.mid-grey(ng-hide="isKYC" quote="quote" trade-obj="trade" expired-quote="expiredQuote" ng-class="{'fade': hideQuote() }")
          p.security-red.pointer(ng-show="buySellDebug && quote.id")
            i.ti-search.mrm.right-align(ng-click="quote.expire()")  QA: Now
  .modal-body.fade.flex-center.flex-justify(class="{{isxStep}}" ng-class="{'summary': onStep('summary'), 'isx': onStep('isx')}")
    .alert-in-app
      alerts(context="alerts")
    div.iframe(ng-if="onStep('isx')")
      isignthis(transaction-id='trade.iSignThisID' on-load="loadPayment()" on-complete="formatTrade" payment-info="paymentInfo" on-resize="onResize(step)")
    div.width-80(ng-show="onStep('accept-terms')" ng-controller="CoinifyTermsController")
      include ./coinify/email
    div.width-80(ng-show="onStep('account-info')" ng-controller="CoinifyBankAccountController")
      include ./coinify/account-info
    div.width-90(ng-show="onStep('account-holder')" ng-controller="CoinifyBankAccountController")
      include ./coinify/account-holder
    div.width-80(ng-if="onStep('summary')" ng-controller="CoinifySummaryController")
      include ./coinify/summary
    div.width-80(ng-if="onStep('review')")
      include ./coinify/review
    div.width-80(ng-if="onStep('bank-link')" ng-controller="CoinifyBankLinkController")
      include ./coinify/bank-link
      p.security-red.pointer(ng-show="buySellDebug && trade.bankAccount && trade.state === 'awaiting_transfer_in'")
        i.ti-search.mrm
        span(ng-click="fakeBankTransfer()" translate="QA: Click here to fake a bank transfer")
    .flex-end.flex-center.mtl.coinify-logo(ng-hide="afterStep('summary')")
      span.pos-rel
        span.mrs.type-sm(translate="POWERED_BY")
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
          span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
  .modal-footer.flex-end.flex-row
    button.button-muted(ng-show="onStep('account-holder')" ng-click="goTo('account-info')" translate="GO_BACK")

    .flex-1.flex-end(ng-hide="status.loading")
      button.button-muted.mrm(ng-click="$close()" translate="CLOSE" ng-show="onStep('trade-formatted') && bitcoinReceived")
      button.button-muted.mrm(ng-click="close()" translate="CANCEL_ORDER" ng-show="onStep('summary')")
      button.button-muted.mrm(ng-click="close()" translate="FINISH_LATER" ng-show="onStep('isx')")
      button.button-muted.mrm(ng-click="close()" translate="CLOSE" ng-show="onStep('bank-link') || onStep('account-info') || onStep('account-holder')")
      div(ng-hide="afterStep('summary')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="goTo('account-holder')"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('account-info')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="createBankAccount()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('account-holder')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="acceptTerms()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('accept-terms')")
        button.button-primary(
          ladda-translate="CONTINUE"
          ng-click="goTo('summary')"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('bank-link')")
        button.button-primary(
          ladda-translate="Place Sell Order"
          ng-click="sell()"
          data-style="expand-left"
          ui-ladda="status.waiting"
          ng-disabled="isDisabled()"
          ng-show="onStep('summary')")
      div(ng-show="onStep('review')")
        button.button-primary(translate="CLOSE" ng-click="dismiss()")
      div(ng-show="onStep('trade-formatted') && bitcoinReceived")
        button.button-success(translate="SEE_BITCOIN" ng-click="cancel()" ui-sref="wallet.common.transactions")
