form(
  role="form"
  name="exportForm"
  autocomplete="off"
  action="{{::action}}"
  method="POST"
  novalidate)

  .modal-header
    .flex-center.pam
      h3.man.mrm(translate="EXPORT_HISTORY")
      helper-button(content="EXPORT_HISTORY_EXPLAIN")

  .modal-body
    .ph-form
      input(type="hidden" name="action" value="export")
      input(type="hidden" name="active" value="{{active}}")
      input(type="hidden" name="archived" value="{{archived}}")
      
      .flex-row
        .flex-column.flex-1
          label.control-label.mbn.colon(translate="TIMEFRAME")
          .pam(ng-class="{'has-error':exportForm.start.$invalid}")
            p.input-group.flex-center
              input.form-control(
                type="text"
                name="start"
                ng-model="start.date"
                uib-datepicker-popup="{{format}}"
                is-open="start.open"
                placeholder="{{'START_DATE'|translate}}"
                required)
              span.ti-calendar.pointer(ng-click="start.open=true")
            p.input-group.flex-center
              input.form-control(
                type="text"
                name="end"
                ng-model="end.date"
                uib-datepicker-popup="{{format}}"
                is-open="end.open"
                placeholder="{{'END_DATE'|translate}}"
                required)
              span.ti-calendar.pointer(ng-click="end.open=true")

        .flex-column.flex-1
          label.control-label.mbn.colon(translate="FORMAT")
          .pam
            .radio
              label
                input(type="radio" name="format" value="csv" checked)
                | CSV
            .radio
              label
                input(type="radio" name="format" value="xls")
                | XLS
       
      span.type-h4(translate="EXPORTING_FOR" translate-values="::{name:activeName}")

  .modal-footer
    button.button-muted.mrm(
      type="button"
      translate="CLOSE"
      ng-click="$dismiss()")
    button.btn.button-primary(
      type="submit"
      translate="EXPORT"
      ng-disabled="exportForm.$invalid")
