.home
  h4.em-alt.blue.mbl.mtm(translate="BYOB")
  .flex.flex-wrap
    activity-feed
    .col-md-6.col-sm-12.col-xs-12.col-home.flex-between.flex-column
      .section
        did-you-know
      .section
        .charts.hidden-xs.pos-rel
          h5.aaa.em-400.mbl(ng-class="{'mts' : transactions.length > 0 }" translate="BALANCE_BY_ACCOUNT")
          .widget.flex-center.flex-justify.pos-rel(ng-class="{ 'empty' : accounts().length == 1 || getTotal() == 0 }")
            button.button-sm.z-10.em-500(ng-click="newAccount()" ng-class="accounts().length > 1 ? 'button-default' : 'button-primary'" translate="NEW_ACCOUNT")
            h5.width-75.center-align.em-300(translate="HOME_NEW_ACCOUNT_MSG" ng-hide="accounts().length > 1")
            h5.width-75.center-align.em-300(ng-show="accounts().length > 1 && getTotal() == 0" translate="ALT_EMPTY_MSG")
            .pos-abs-chart(ng-hide="accounts().length > 1")
              .empty-state-chart
            #chart.chart(
              ac-chart="'pie'"
              ac-data="pieChartData"
              ac-config="pieChartConfig"
              ng-show="accounts().length > 1 && getTotal() > 0"
            )
      .section
        .charts.pos-rel
          h5.aaa.em-400.mbl(translate="BALANCE_OVER_TIME")
          .widget.flex-center.flex-justify.pos-rel(ng-class="{ 'empty' : !balanceHistory().length}")
            #balance-history-chart.chart(
              ac-chart="'line'"
              ac-data="lineChartData"
              ac-config="lineChartConfig"
              ng-show="balanceHistory().length > 1"
            )
