.modal-header.bc-modal-header.flex-between.flex-center
  .flex-column.width-100
    .flex-row.flex-between.flex-center
      h3(translate="Buy Bitcoin")
      quote-countdown(quote="quote")
    div(ng-click="back()")
      buy-steps(next-step="nextStep()"
                all-steps="allSteps"
                transaction="transaction"
                step="step"
                currency-symbol="currencySymbol"
                profile="profile"
                exchange="exchange"
                partner="partner"
                method="method")
.modal-body
  isignthis(transaction-id='trade.iSignThisID')
.modal-footer.flex-end
  button.button-muted.mrm(ng-click="close()" translate="CANCEL")
