div
  header
    hgroup
      .flex-between.flex-center.flex-wrap
        h3.em-300.mtn(translate="DEAUTH_BROWSER")
        span.ellipsis(
          ng-show="timeToRedirect <= 5"
          translate="PENDING_REDIRECT"
          translate-values="{time:timeToRedirect}")
  .flex-column.mtl
    .flex-column.flex-between.flex-center
      .flex-column.flex-2.pbm
        p.em-300.type-h5(translate="DEAUTH_EXPLAIN")
      .flex-1.flex-center.flex-column
        button.button-success.button-nowrap(
          ng-hide="deauthorized"
          ng-click="deauth()"
          ng-disabled="deauthorizing"
          translate="DEAUTHORIZE")
        span.success(ng-show="deauthorized")
          i.ti-check.success-green
          span.mam(translate="SUCCESS")
        span.mtl
          a.em-300(ui-sref="public.login-no-uid" translate="CONTINUE_TO_LOGIN")
