.recover-funds.pos-rel(ng-switch="currentStep" data-preflight-tag="RecoverFunds")
  p.type-xs.em-500.step.pos-abs(ng-switch-when="1" translate="STEP_1_RECOVER")
  p.type-xs.em-500.step.pos-abs(ng-switch-when="2" translate="STEP_2_RECOVER")
  header.flex-center.flex-between
    .flex-column
      h2.em-300.mtn(translate="RECOVER_FUNDS")
      p(translate="RECOVER_BTC_LOST")
  form.ptl.form-horizontal(name="passphraseForm" ng-submit="browser.disabled || passphraseForm.$invalid || nextStep()" autocomplete="off" ng-switch-when="1" novalidate)
    fieldset(ng-disabled="browser.disabled || working")
      browser-detection(result="browser")
      .security-red.mbl.em-400.flex-center
        i.ti-hand-stop.mrm.h3.mvn.hidden-xs
        span(translate="RECOVER_FUNDS_WARNING")
      .form-group(ng-class="{'has-error': passphraseForm.mnemonic.$error.isValid && isValidMnemonicLength}")
        label(translate="YOUR_REC_PASS")
        p(translate="YOUR_REC_PASS_EXPLAIN")
        input.form-control(
          type="text"
          name="mnemonic"
          ng-keyup="getMnemonicLength()"
          ng-model="fields.mnemonic"
          is-valid="isValidMnemonic(fields.mnemonic)"
          required)
      .flex-center.flex-end
        button.button-muted.mrm(
          type="button"
          ui-sref="public.help"
          translate="GO_BACK")
        button.button-primary(
          type="submit"
          ui-ladda="working"
          data-style="expand-left"
          ng-disabled="passphraseForm.$invalid"
          ladda-translate="CONTINUE")
  form.rf-step-2.ptl.form-horizontal(name="recoveryForm" ng-submit="performImport()" ng-switch-when="2")
    fieldset(ng-disabled="browser.disabled || working")
      .form-group(ng-class="{'has-error': recoveryForm.email.$invalid && recoveryForm.email.$touched}")
        label.em-500(translate="EMAIL")
        input.form-control(
          type="email"
          name="email"
          ng-model="fields.email"
          autofocus
          required)
        span.help-block
          span.help-block
            div(ng-show="recoveryForm.email.$touched")
              p(ng-show="recoveryForm.email.$error.required" translate="EMAIL_ADDRESS_REQUIRED")
              p(ng-show="recoveryForm.email.$error.email" translate="EMAIL_ADDRESS_INVALID")
      .form-group(ng-class="{'has-error': recoveryForm.password.$error.minEntropy && recoveryForm.password.$touched}")
        label.em-500(translate="NEW_PASSWORD")
        input.form-control(
          type="password"
          name="password"
          ng-model="fields.password"
          ng-change="fields.confirmation = ''"
          ng-maxlength="255"
          min-entropy="25"
          required)
        password-entropy.help-block(password="fields.password")
        span.help-block
          div(ng-show="recoveryForm.password.$touched")
            p(ng-show="recoveryForm.password.$error.minEntropy && fields.password != undefined" translate="TOO_WEAK")
            p(ng-show="recoveryForm.password.$error.maxlength" translate="TOO_LONG")
      .form-group(ng-class="{'has-error': recoveryForm.confirmation.$error.isValid && recoveryForm.confirmation.$touched}")
        label.em-500(translate="CONFIRM_PASSWORD")
        input.form-control(
          type="password"
          name="confirmation"
          ng-model="fields.confirmation"
          is-valid="fields.confirmation === fields.password"
          required)
        span.help-block
          div(ng-show="recoveryForm.confirmation.$touched")
            p(ng-show="recoveryForm.confirmation.$error.isValid" translate="NO_MATCH")
      .flex-center.flex-end.mtm.mbl
        input#agreement_accept.pull-right(
          name="agreement"
          type="checkbox"
          ng-model="fields.acceptedAgreement"
          required)
        label.em-300.mbn.mls.right-align(translate="ACCEPT_TOS")
      .flex-center.flex-end.mvl
        button.button-muted.mrm(
          type="button"
          ng-click="goBack()"
          translate="GO_BACK")
        button.button-primary(
          type="submit"
          ladda-translate="RECOVER_FUNDS"
          ng-disabled="recoveryForm.$invalid"
          data-style="expand-right"
          ui-ladda="working")
  .flex-center.flex-justify.flex-column(ng-switch-when="3")
    .level-complete.flex-center.flex-justify.mtl
      i.ti-check.bright-green
    h4.em-300.mtl(translate="RESTORE_SUCCESSFUL")
    p.em-300(translate="REDIRECTING")
