.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-down.png")
    h3(translate="RECEIVE_BITCOIN")
  h5(translate="RECEIVE_BITCOIN_MESSAGE")
.modal-body
  form.form-horizontal.ph-form(role="form" name="requestForm" novalidate)
    .form-group.flex-center.pbm(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1" ng-class="{'has-warning': fields.to.isWatchOnlyLegacyAddress}")
      label.flex-2.prm(translate="RECEIVE_TO")
      .flex-8
        ui-select(ng-model="fields.to" ng-disabled="paymentRequest.amount > 0 || paymentRequest.label")
          ui-select-match {{ $select.selected.label + ($select.selected.isWatchOnlyLegacyAddress ? ' (Watch Only)' : '') }}
          ui-select-choices(repeat="destination in destinations | filter: getFilter($select.search)" group-by="'type'") 
            span(ng-bind-html="(determineLabel(destination) | highlight: $select.search) + (destination.isWatchOnlyLegacyAddress ? ' <i>(Watch Only)</i>' : '')")
        span.help-block(ng-show="fields.to.isWatchOnlyLegacyAddress") Your wallet does not have the private key for this address. Without the private key you will not have access to the bitcoins sent to this address. Make sure you have this private key somewhere else!
    .form-group.flex-center.mvl(ng-class="{'has-error': requestForm.amount.$error.isValidAmount && requestForm.amount.$touched}")
      label.flex-2.prm(translate="AMOUNT:")
      .flex-4.flex-center.prl.border-bottom
        span {{ settings.btcCurrency.code }}:
        input.form-control.no-border(
          type="number"
          ng-model="fields.amount"
          name="amount"
          transform-currency="settings.btcCurrency"
          min="1"
          max="2100000000000000"
        )
      i.ti-arrows-horizontal.h4.aaa.prm
      .flex-4.flex-center.border-bottom
        span {{ settings.currency.code }}:
        input.form-control.no-border(
          type="number"
          ng-model="fields.amount"
          name="amountFiat"
          transform-currency="settings.currency"
          min="1"
          max="2100000000000000"
        )
    //- .form-group
    //-   label.col-sm-3.control-label(translate="DESCRIPTION")
    //-   .col-sm-9
    //-     input.form-control(type="text",ng-model="fields.label")
    //-     span.help-block(translate="OPTIONAL")
    div
      hr
    .form-group(ng-show="paymentRequest && paymentRequest.paid > 0 && paymentRequest.paid != fields.amount")
      label.col-sm-3.control-label(translate="PAID")
      .col-sm-9
        p.form-control-static
          | {{ paymentRequest.paid / 100000000.0 }}  
    .payment-url.pam(ng-if="paymentRequestURL")
      .receive-code
        p(ng-hide="status.didInitializeHD")
          img(src="img/spinner.gif")  
        span(ng-show="status.didInitializeHD")
          qr(text="paymentRequestURL", size=120, correction-level="'M'")
      .phs.flex-center.flex-column.receive-address
        label.black
          span(translate="BITCOIN_ADDRESS")
          span :
        p.form-control-static.bitcoin-address
          img(src="img/spinner.gif", ng-hide="status.didInitializeHD")  
          span(ng-show="status.didInitializeHD" single-click-select)
            | {{ paymentRequestAddress }}
        p.black.mtm.flex-center.center-align(ng-show="!browserCanExecCommand || browserCanExecCommand && !highlighted")
          i.ti-mouse-alt.mrs
          span(translate="COPY_ADDRESS")
        p.success.mtm.flex-center.center-align(ng-show="browserCanExecCommand && highlighted")
          i.ti-check.mrs
          span Successfully copied to your clipboard!
.modal-footer.flex-end.pal
  button.button-success.button-lg(ng-click="close()", translate="GOT_IT")  
