.modal-header.flex-column.bc-modal-header(data-preflight-tag="Request")
  i.ti-close.close-modal(ng-click="$close()")
  .flex-center
    h3
      i.mr-10.icon-receive
      span(translate="REQUEST" ng-hide="state.requestCreated || state.viewQR")
      span(translate="PAYMENT_ADDRESS" ng-show="state.viewQR")
      span(translate="REQUEST_CREATED" ng-show="state.requestCreated")
#receive.modal-body
  form.bc-form(role="form" name="requestForm" ng-hide="state.requestCreated || state.viewQR" ng-submit="isToImportedAddress() ? state.requestCreated = true : createPaymentRequest();" novalidate)
    fieldset
      .group.mb-20
        .item
          label.flex-between.flex-baseline
            span
              span.colon(translate="COPY_AND_SHARE_ADDRESS.TITLE")
              helper-button(content="COPY_AND_SHARE_ADDRESS.HELPER" ng-hide="isToImportedAddress()")
              helper-button(content="COPY_AND_SHARE_IMPORTED_ADDRESS.HELPER" ng-show="isToImportedAddress()")
            a.f-12.em-300(translate="VIEW_QR" ng-click="state.viewQR = true")
          .flex-row.flex-column-mobile
            span.f-16.bg-grey.ph-25.pv-10.width-100.font-1-mobile.ph-10-mobile(translate="no") {{ state.address }}
            span.f-14.ph-25.pv-10.upper.pointer.white.bg-primary.pos-rel.center-mobile(single-click-select translate="COPY" ng-hide="state.isAddressCopied || !browser.canExecCommand" copy-content="{{ address() }}" ng-click="state.isAddressCopied = true")
            span.f-14.ph-25.pv-10.upper.white.bg-success.center-mobile(translate="COPIED" ng-show="state.isAddressCopied" ng-mouseleave="state.isAddressCopied = false")
      .group.mb-20
        .item
          .or-horizontal Or
      .group.inline.mb-20
        .item.width-100
          label.capitalize(translate="ENTER_AMOUNT:")
          .flex-center
            .flex-1.flex-center.border
              input.form-control.no-border(
                type="number"
                ng-model="state.amount"
                name="amount"
                transform-currency="settings.btcCurrency"
                ng-change="state.amountType = 'amount'; state.baseCurr = settings.btcCurrency"
                placeholder="0"
                min="1"
                max="2100000000000000"
                required
                autofocus)
              span.mhm {{ settings.btcCurrency.code }}
            i.ti-arrows-horizontal.h4.basic-grey.phm
            .flex-1.flex-center.border
              input.form-control.no-border(
                type="number"
                ng-model="state.amount"
                name="amountFiat"
                transform-currency="settings.currency"
                ng-change="state.amountType = 'amount_local'; state.baseCurr = settings.currency"
                placeholder="0"
                min="1"
                max="2100000000000000"
                required)
              span.mhm {{ settings.currency.code }}

      .group.mb-20(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1" ng-class="{'has-warning': state.to.isWatchOnly}")
        .item
          label(translate="RECEIVE_TO")
          ui-select(ng-model="state.to" ng-disabled="paymentRequest.amount > 0 || paymentRequest.label" tagging)
            ui-select-match(placeholder="{{::'SEARCH' | translate}}...")
              label-origin(origin="$select.selected")
            ui-select-choices(repeat="destination in destinations | filter: {label:$select.search} | limitTo:destinationLimit" group-by="'type'")
              span(in-view="$last && destination.type==='Imported Addresses' && increaseLimit()")
                label-origin(origin="::destination" highlight="$select.search")
          span.help-block(ng-show="state.to.isWatchOnly" translate="WATCH_ONLY_REQUEST_WARN")

      .group.mb-20
        .item
          label(translate="DESCRIPTION:")
          textarea(name="label" ng-model="state.label" maxlength="512" rows="8" cols="80" placeholder="What's this transaction for?" required)

      .group.mb-10
        .item
          button.btn.button-primary.upper(ng-disabled="requestForm.$invalid || locked" translate="NEXT" type="submit")

  form.bc-form(ng-show="state.viewQR")
    fieldset
      .group.mb-20
        .item
          label.flex-between.flex-baseline
            span
              span.colon(translate="SCAN_QR_CODE.TITLE")
              helper-button(content="SCAN_QR_CODE.HELPER")
            a.f-12.em-300(translate="GO_BACK" ng-click="state.viewQR = false")
          .flex-justify.flex-center.flex-column.mv-25
            qr(text="paymentRequestURL(true)" ng-if="state.address" size=250 image="true")
          .flex-row
            span.f-16.bg-grey.ph-25.pv-10.width-100.text-overflow-hidden {{ paymentRequestURL(true) }}
            span.f-14.ph-25.pv-10.upper.pointer.white.bg-primary.pos-rel(single-click-select translate="COPY" ng-hide="state.isBitcoinURICopied || !browser.canExecCommand" copy-content="{{ paymentRequestURL(true) }}" ng-click="state.isBitcoinURICopied = true")
            span.f-14.ph-25.pv-10.upper.white.bg-success(translate="COPIED" ng-show="state.isBitcoinURICopied" ng-mouseleave="state.isBitcoinURICopied = false")

  div(ng-show="state.requestCreated")
    p.f-14.mb-25(translate="Send the link below to your friend or contact (via email or other messaging service), and they will be able to send bitcoin directly to your wallet.")

    form.bc-form
      .group
        .item
          label(translate="Payment Request:")

    .bg-grey.pv-30.ph-60.flex-column.center
      span.received.f-28.mb-10.em-600 {{ format(fromSatoshi(state.amount || 0, settings.btcCurrency), settings.btcCurrency, true) }}
      span.received.f-20.em-300 {{ format(fromSatoshi(state.amount || 0, settings.currency), settings.currency, true) }}
      span.f-16.em-300.mt-20.mbn.request-link-container(ng-show="state.label")
        span For
        |
        span.italic "{{ state.label }}"

    .bg-grey.pv-10.ph-30.center.border-top
      div.f-12.request-link-container {{ paymentRequestURL() }}

    button.btn.button-primary.full.upper.mt-20(single-click-select copy-content="{{ paymentRequestURL() }}" ng-click="state.isPaymentRequestCopied = true" ng-hide="state.isPaymentRequestCopied || !browser.canExecCommand" translate="COPY_LINK")
    button.btn.button-success-alt.full.upper.mt-20(ng-show="state.isPaymentRequestCopied" translate="LINK_COPIED" ng-mouseleave="state.isPaymentRequestCopied = false")

    a.display-block.center.mt-20(ng-click="$close()") Close
