.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-up.png")
    h3(ng-show="!confirmationStep && !advanced", translate="SEND_BITCOIN")
    h3(ng-show="advanced && !confirmationStep", translate="ADVANCED_SEND")
    h3(ng-show="confirmationStep", translate="CONFIRM")
  h5(ng-show="!confirmationStep && !advanced", translate="SEND_STEP_1")
  h5(ng-show="confirmationStep", translate="SEND_STEP_2")
  h5(ng-show="advanced && !confirmationStep", translate="SEND_STEP_1_ADVANCED")
  p.step
    span(translate="STEP")
    span {{ confirmationStep ? 2 : 1 }}
    span(translate="OF_2")
.modal-body#send
  alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert(alert)")
    | {{alert.msg}}
  div(ng-hide="confirmationStep")
    form.form-horizontal(role="form",name="sendForm",novalidate)
      //- From
      .flex-column.form-group(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1")
        label.mbm
          span(translate="FROM:")
        div(ng-class="{'has-error': (sendForm.from.$invalid && sendForm.destinations0.$touched) || (!amountIsValid && sendForm.amounts0.$touched)}")
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")
          span(ng-show="originsLoaded")
            ui-select(ng-model="transaction.from" name="from" ng-change="validateAmounts(); checkForSameDestination()" required)
              ui-select-match
                label-origin(origin="$select.selected" fee="transaction.fee")
              ui-select-choices(repeat="origin in origins | filter: getFilter($select.search)" group-by="'type'" ui-disable-choice="hasZeroBalance(origin)")
                span(ng-class="{zerobalance: hasZeroBalance(origin)}")
                  label-origin(origin='origin' fee='transaction.fee' highlight="$select.search")
          span.help-block(translate="INSUFFICIENT" ng-show="!amountIsValid && sendForm.amounts0.$touched")
          span.help-block(ng-show="sendForm.from.$invalid && sendForm.destinations0.$touched") Must select an account to send from
      //- Advanced Send
      .flex-column.form-group.bc-modal-fade.mvl.advanced-recipient
        //- To
        label.mbm.flex-between
          span(translate="TO:")
        .flex-column.prl(ng-class="{'advanced-recipient-row': advanced}" ng-repeat="item in transaction.destinations track by $index")
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")
          div(ng-show="originsLoaded" ng-class="{'input-group': browserWithCamera, 'has-error': sendForm['destinations' + $index].$invalid && sendForm['amounts' + $index].$touched}")
            ui-select(
              ng-model="transaction.destinations[$index]" 
              name="{{'destinations' + $index}}" 
              is-not-equal="{{transaction.from.label}}" 
              property="label" 
              ng-change="updateToLabel()" 
              reset-search-input="false"
              required
            )
              ui-select-match(placeholder="Paste, scan or select address") {{ $select.selected.label }}
              ui-select-choices(
                repeat="destination in destinations[$index] | filter: getFilter($select.search, !advanced)" 
                group-by="'type'" 
                refresh="refreshDestinations($select.search, $index)" 
                refresh-delay="0"
              )
                span(ng-bind-html="determineLabel(destination) | highlight: $select.search")
            span.input-group-btn.mls(ng-if="browserWithCamera")
              button#qr.button(type="button", ng-click="cameraOn($index)")
                img(src="img/qr.png", alt="QR")
          .has-error
            span.help-block(ng-show="sendForm['destinations' + $index].$error.required && sendForm['amounts' + $index].$touched") Destination cannot be empty
            span.help-block(translate="BITCOIN_ADDRESS_INVALID" ng-show="sendForm['destinations' + $index].$error.isValidAddress")
            span.help-block(translate="SAME_DESTINATION" ng-show="sendForm['destinations' + $index].$error.isNotEqual")
          //- Amount
          div.flex-center.recipient-currency.mtl(ng-class="{'has-error': sendForm['amounts' + $index].$invalid && sendForm['amounts' + $index].$touched}")
            .mrl.flex-1
              .flex-center
                span.mrm {{ btcCurrency.code }}:
                input.form-control(type="number" ng-model="transaction.amounts[$index]" name="{{'amounts' + $index}}" transform-currency="btcCurrency" ng-change="validateAmounts()" min="0.00000001" required)
            .mrl.flex-1
              .flex-center
                span.mrm {{ fiatCurrency.code }}:
                input.form-control(type="number" ng-model="transaction.amounts[$index]" name="" transform-currency="fiatCurrency" ng-change="validateAmounts()" min="0.01" required)
            a.mlm.button-danger.type-sm.button-sm(ng-click="removeDestination($index)" ng-hide="$first && $last")
              i.ti-close.mrm
              span(translate="REMOVE")
          .has-error
            span.help-block(translate="ENTER_VALID_AMOUNT" ng-show="sendForm['amounts' + $index].$invalid && sendForm['amounts' + $index].$touched")
        label.mbm.flex-between(ng-show="advanced")
          a.flex-center.type-sm.button-sm.button-default(ng-click="addDestination()")
            i.ti-plus.mrm
            span(translate="ADD_ANOTHER_RECIPIENT")
      //- Fee
      .flex-column.form-group.bc-modal-fade(ng-class="{'has-error': sendForm.fee.$invalid && sendForm.fee.$touched}" ng-show="advanced")
        div.mbm.flex-center
          label.mbn(translate="MINERS_FEE")
          helper-button(content="ADVANCED_SEND_STEP_1")
        p.ccc(translate="MINERS_FEE_EXPLAIN")
        .flex-center.miners-fee-selection
          .flex-column.border-right.prl.mrl
            label
              input(type="radio" ng-model="transaction.fee" value="5000" name="miners-fee" ng-change="validateAmounts()")
              span(translate="FRUGAL")
            label
              input(type="radio" ng-model="transaction.fee" value="10000" name="miners-fee" ng-change="validateAmounts()")
              span(translate="NORMAL")
              span.success.mls.type-xs(translate="RECOMMENDED")
            label
              input(type="radio" ng-model="transaction.fee" value="100000" name="miners-fee" ng-change="validateAmounts()")
              span(translate="GENEROUS")
          .flex-center.pll.mll
            .mrl.flex-1
              .flex-center
                span.mrm {{ btcCurrency.code }}:
                input.form-control(type="number" name="fee" ng-model="transaction.fee" min="0" ng-change="validateAmounts()" required transform-currency="settings.btcCurrency" placeholder="Enter your fee here")
              span.help-block(translate="ENTER_VALID_AMOUNT" ng-show="sendForm.fee.$invalid && sendForm.fee.$touched")
      //- QR Scanner
      .flex-column.form-group(ng-hide="!cameraIsOn")
        label.flex-1(translate="QR")
        .flex-1
          bc-qr-reader(active="cameraRequested", on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn")
  //- Step 2 (confirmation)
  div.overview(ng-show="confirmationStep")
    .flex-column
      .flex-center.control-group.mbl
        label.mbn.mrl(translate="FROM:")
        h5.mvn.flex-1.ccc.em-300.long-input {{ transaction.from.label || transaction.from.address }}
        label.mbn.mrl(translate="TO:")
        h5.btcaddr.mvn.flex-1.ccc.em-300.long-input(ng-hide="advanced") {{ toLabel }}
        h5.mvn.flex-1.ccc.em-300(ng-show="advanced", translate="MULTIPLE_ADDRESSES")
      ul.total-amounts.ccc.ptm
        label.mbn(translate="OVERVIEW")
        li.amount-item
          p(translate="AMOUNT")
          p
            {{ getTransactionTotal() | toBitCurrency:btcCurrency:false }}
          p
            fiat(btc="getTransactionTotal()")
        li.amount-item
          p(translate="FEE")
            | :
          p
            {{ transaction.fee | toBitCurrency:btcCurrency:false }}
          p
            fiat(btc="transaction.fee")
            //- helper-button(content="SEND_BITOIN_STEP2A" placement='left' class="mls")
        li.amount-item.blue
          p(translate="TOTAL")
            | :
          p
            {{ getTransactionTotal(true) | toBitCurrency:btcCurrency:false }}
          p
            fiat(btc="getTransactionTotal(true)")
      form(name="noteForm" novalidate)
        .flex-column.form-group(ng-class="{'has-error': noteForm.note.$error.maxlength && noteForm.note.$touched}")
          .flex-center.pbs
            label.mbn(translate="NOTE")
            helper-button(content="SEND_BITOIN_STEP2B" placement='top')
              |:
          textarea(rows="4" ng-model="transaction.note" name="note" ng-maxlength="512")
          .flex-center.mtm
            input.mrs(type="checkbox" ng-model="transaction.publicNote" name="public")
            | &nbsp;
            span(translate="MAKE_PUBLIC")
          span.help-block(translate="ENTER_VALID_AMOUNT" ng-show="noteForm.note.$error.maxlength && noteForm.note.$touched")

.modal-footer.flex-between.flex-center.pal
  .flex-center
    a.ccc(ng-hide="advanced || confirmationStep", ng-click="advancedSend()", translate="ADVANCED_SEND")
    a.ccc(ng-show="advanced && !confirmationStep", ng-click="regularSend()", translate="REGULAR_SEND")
  .flex-center.flex-end
    button.button-muted-off.mrm(ng-click="cameraOff()", ng-show="cameraIsOn", translate="CAMERA_OFF")
    button.button-muted.mrm(ng-click="close()", translate="CANCEL", ng-hide="confirmationStep")
    button.button-muted.mrm(ng-click="backToForm()", translate="BACK", ng-show="confirmationStep")
    button.button-muted.bc-modal-fade.mrm(ng-show="advanced && !confirmationStep", translate="RESET_FORM", ng-click="resetSendForm()")
    button.button-success.button-lg(ng-click="goToConfirmation()" ng-disabled="sendForm.$invalid || !amountIsValid" translate="NEXT_STEP" ng-hide="confirmationStep")
    button.button-success.button-lg(ui-ladda="{{ sending }}" ng-click="send()" ng-disabled="noteForm.$invalid || !amountIsValid" data-style="expand-left" ladda-translate="SEND" ng-show="confirmationStep")
