.modal-header.flex-column.bc-modal-header
  .flex-center
    img(src="img/arrow-up.png")
    h3(ng-show="!confirmationStep && !advanced", translate="SEND_BITCOIN")
    h3(ng-show="advanced && !confirmationStep", translate="ADVANCED_SEND")
    h3(ng-show="confirmationStep", translate="CONFIRM")
  h5(ng-show="!confirmationStep && !advanced", translate="SEND_STEP_1")
  h5(ng-show="confirmationStep", translate="SEND_STEP_2")
  h5(ng-show="advanced && !confirmationStep", translate="SEND_STEP_1_ADVANCED")
  p.step
    span(translate="STEP")
    span {{ confirmationStep ? 2 : 1 }}
    span(translate="OF_2")
.modal-body#send(ng-class="{ 'advanced-container': advanced && !confirmationStep, 'confirmation': confirmationStep, 'small': numberOfActiveAccountsAndLegacyAddresses() <= 1 }")
  .alert-in-app
    alerts(context="alerts")
  .fade(ng-hide="confirmationStep" ng-class="{ 'advanced': advanced }")
    form.ph-form(role="form",name="sendForm" novalidate)
      //- From
      .form-group.row.flex-justify(ng-show="numberOfActiveAccountsAndLegacyAddresses() > 1")
        label.pts
          span(translate="FROM")
          |:
        .flex-1(ng-class="{'has-error': (sendForm.from.$invalid && sendForm.destinations0.$touched) }")
          p.form-control-static(ng-hide="originsLoaded")
            img(src="img/spinner.gif")
          ui-select.send-from-dropdown(
            ng-model="transaction.from"
            name="from"
            ng-show="originsLoaded"
            ng-change="checkForSameDestination(); setPaymentFrom()"
            required)
            ui-select-match
              label-origin(origin="$select.selected")
            ui-select-choices(repeat="origin in origins | filter: getFilter($select.search)" group-by="'type'" ui-disable-choice="hasZeroBalance(origin)")
              span(ng-class="{aaa: hasZeroBalance(origin)}")
                label-origin(origin='origin' highlight="$select.search")
          span.help-block(ng-show="sendForm.from.$invalid && sendForm.destinations0.$touched", translate="MUST_SELECT_ORIGIN") 
      //- Advanced Send
      .form-group.flex-justify.bc-modal-fade.mvl.advanced-recipient.row
        //- To
        label.pts
          span(translate="TO")
          |:
        div(ng-class="{rel: advanced, mbl: advanced}")
          .flex-column(ng-class="{'advanced-recipient-row': advanced}" ng-repeat="item in transaction.destinations track by $index")
            p.form-control-static(ng-hide="originsLoaded")
              img(src="img/spinner.gif")
            div(ng-show="originsLoaded" ng-class="{'has-error': sendForm['destinations' + $index].$invalid && sendForm['destinations' + $index].$touched && transaction.destinations[$index].address !== ''}")
              destination-input(
                name="{{ 'destinations' + $index }}"
                ng-model="transaction.destinations[$index]"
                ng-model-options="{ updateOn: 'blur' }"
                ng-change="checkForSameDestination()"
                on-payment-request="applyPaymentRequest(request, $index)"
                required)
            .has-error
              span.help-block(translate="BITCOIN_ADDRESS_INVALID" ng-show="sendForm['destinations' + $index].$error.isValidAddress && sendForm['destinations' + $index].$touched && transaction.destinations[$index].address !== ''")
              span.help-block(translate="SAME_DESTINATION" ng-show="sendForm['destinations' + $index].$error.isNotEqual")
            //- Amount
            div.flex-center.recipient-currency.mtl(ng-class="{'has-error': hasAmountError($index)}")
              .mrl.flex-1
                .flex-center.border-bottom
                  span.mrm {{ btcCurrency.code }}:
                  input.form-control.no-border(
                    type="number"
                    ng-model="transaction.amounts[$index]"
                    name="{{'amounts' + $index}}"
                    tabindex="1"
                    transform-currency="btcCurrency"
                    placeholder="0"
                    min="1"
                    max="2100000000000000"
                    ng-change="setPaymentAmount()"
                    required
                  )
              i.ti-arrows-horizontal.h4.aaa.prm
              .flex-1
                .flex-center.border-bottom
                  span.mrm {{ fiatCurrency.code }}:
                  input.form-control.no-border(
                    type="number"
                    ng-model="transaction.amounts[$index]"
                    name="{{'amountsFiat' + $index}}"
                    tabindex="1"
                    transform-currency="fiatCurrency"
                    placeholder="0"
                    min="1"
                    max="2100000000000000"
                    ng-change="setPaymentAmount()"
                    required
                  )
            a.mlm.button-danger.type-sm.button-sm.remove(ng-click="removeDestination($index)" ng-hide="$first && $last")
              i.ti-close.type-xs
          .has-error
            span.help-block(ng-show="getTransactionTotal() > transaction.maxAvailable")
              span(translate="TOTAL_AVAILABLE" ng-show="!advanced")
              span(translate="TOTAL_AVAILABLE_MINUS_FEE" ng-show="advanced")
              | : {{ transaction.maxAvailable | convert:false:true }}
          a.flex-center.flex-justify.add(ng-click="addDestination()" ng-show="advanced")
            i.ti-plus.white
      .flex-row.form-group.note.mvl(ng-class="{'has-error': noteForm.note.$error.maxlength && noteForm.note.$touched}")
        label.mbn
          span(translate="NOTE")
          helper-button(content="SEND_BITOIN_STEP2B")
        textarea.pas(rows="4" ng-model="transaction.note" name="note" ng-maxlength="512" placeholder="Money for rent ðŸ¡")
        span.help-block(translate="ENTER_VALID_AMOUNT" ng-show="noteForm.note.$error.maxlength && noteForm.note.$touched")
      //- Fee
      .flex-row.flex-center.form-group.bc-modal-fade.mtm.fee(ng-class="{'has-error': transaction.blockIdx > 6 || (sendForm.fee.$invalid && sendForm.fee.$dirty)}" ng-show="advanced")
        label.mbn
          span(translate="TX_FEE")
          |:
          helper-button(content="TX_FEE_HELP")
        .miners-fee-selection
          .fee-custom
            .flex-1
              .flex-center.border-bottom
                span.mrm {{ btcCurrency.code }}:
                input.form-control.no-border(
                  type="number"
                  name="fee"
                  tabindex="1"
                  ng-model="transaction.fee"
                  min="1"
                  step="any"
                  ng-change="setPaymentFee()"
                  required
                  transform-currency="settings.btcCurrency"
                  placeholder="Enter your fee here")
      span.help-block.has-error(translate="ENTER_VALID_AMOUNT" ng-show="sendForm.fee.$invalid && sendForm.fee.$dirty && advanced")
      span.help-block.friendly(ng-show="!sendForm.$invalid && amountsAreValid() && advanced")
        span(ng-show="transaction.blockIdx <= 6 && transaction.blockIdx >= 1")
          span(translate="ESTIMATED_TX_TIME" translate-values="{ confirmationTime: transaction.blockIdx*10, blockQueue: transaction.blockIdx }")
          |  
          ng-pluralize(count="transaction.blockIdx" 
                       ng-init="block='BLOCK'; blocks='BLOCKS'"
                       when="{'1': '{{block | translate}}', 'other': '{{blocks | translate}}' }")
          span ).
        span.has-error(ng-show="transaction.blockIdx > 6" translate="SMALL_FEE_WARNING")
  //- Step 2 (confirmation)
  div.overview(ng-show="confirmationStep")
    .flex-column
      .flex-center.flex-justify.pbm
        label.mbn(translate="OVERVIEW")
        span.mbn.mls(ng-show="transaction.note.length") {{ transaction.note }}
          span.ti-notepad.mls
      .flex-row.mbl.mtm
        .flex-center.center.flex-justify.flex-3
          label.mvn.em-300.long-input {{ transaction.from.label || transaction.from.address }}
          span.mlm.security-red -
            fiat(btc="getTransactionTotal(false)")
        .flex-justify.flex-1.flex-center
          span.ti-arrow-right.center.type-h4.blue
        .flex-justify.flex-center.flex-3.flex-column(ng-if="confirmationStep")
          .flex-row.flex-center.flex-justify(ng-repeat="address in getToLabels() track by $index")
            label.mvn.em-300(ng-show="address.label.length") {{ address.label }}
            label.btcaddr.mvn.em-300.long-input(ng-hide="address.label.length") {{ address.address }}
            span.mlm.success +
              fiat(btc="transaction.amounts[$index]")
      .flex.flex-wrap.ptm
        .total-amounts.aaa.mbm.width-100
          .flex-column
            .flex-row.flex-around
              span.center(translate="AMOUNT")
              span.center {{getTransactionTotal() | toBitCurrency:btcCurrency:false}}
              span.center
                fiat(btc="getTransactionTotal()")
            .flex-row.flex-around.mbm.rel
              span.center(translate="TX_FEE")
                | :
              span.center {{ transaction.fee | toBitCurrency:btcCurrency:false}}
              span.center
                fiat(btc="transaction.fee")
              helper-button(content="DYK_TX_FEES")
            .flex-row.flex-around.blue
              span.center(translate="TOTAL")
                | :
              span.center {{getTransactionTotal(true) | toBitCurrency:btcCurrency:false}}
              span.center
                fiat(btc="getTransactionTotal(true)")

.modal-footer.flex-between.flex-center.pal
  .flex-center
    a.dark-grey(ng-hide="advanced || confirmationStep", ng-click="advancedSend()", translate="ADVANCED_SEND")
    a.dark-grey(ng-show="advanced && !confirmationStep", ng-click="regularSend()", translate="REGULAR_SEND")
  .flex-center.flex-end.send-actions
    button.button-muted.mrm(
      ng-click="close()" translate="CANCEL" ng-hide="confirmationStep")

    button.button-muted.mrm(
      ng-click="backToForm()" translate="BACK" ng-show="confirmationStep")

    button.button-muted.bc-modal-fade.mrm(
      ng-show="advanced && !confirmationStep" translate="RESET_FORM" ng-click="resetSendForm()")

    button.button-success.button-lg(
      ladda-translate="NEXT_STEP"
      ui-ladda="building"
      ng-click="goToConfirmation()"
      tabindex="1"
      ng-disabled="sendForm.$invalid || !amountsAreValid()"
      data-style="expand-left"
      ng-hide="confirmationStep")

    button.button-success.button-lg(
      ladda-translate="SEND"
      ui-ladda="sending"
      ng-click="send()"
      ng-disabled="noteForm.$invalid"
      data-style="expand-left"
      ng-show="confirmationStep")
