div
  header
    h2.em-300(translate="NEW_ACCT_WELCOME")
  form.form-horizontal(
    role="form"
    name="signupForm"
    ng-submit="signup()"
    autocomplete="off"
    novalidate)
    .security-red.mbl.mtl.em-400.flex-center
      i.ti-hand-stop.mrm.h3.mvn.hidden-xs
      span(translate="ALPHA_WARNING")
    .form-group(ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$touched}")
      label.col-sm-4.control-label(translate="EMAIL")
      .col-sm-8
        input.form-control(
          name="email"
          type="email"
          ng-model="fields.email"
          required
          autofocus)
        span.help-block(ng-show="signupForm.email.$touched")
          p(ng-show="signupForm.email.$error.required" translate="EMAIL_ADDRESS_REQUIRED")
          p(ng-show="signupForm.email.$error.email" translate="EMAIL_ADDRESS_INVALID")
    .form-group(ng-class="{'has-error': signupForm.password.$invalid && signupForm.password.$touched}")
      label.col-sm-4.control-label(translate="NEW_PASSWORD")
      .col-sm-8
        input.form-control(
          name="password"
          type="password"
          ng-model="fields.password"
          ng-maxlength="255"
          min-entropy="25"
          required)
        password-entropy.help-block(password="fields.password")
        span.help-block(ng-show="signupForm.password.$touched")
          p(ng-show="signupForm.password.$error.minEntropy && fields.password != undefined" translate="TOO_WEAK")
          p(ng-show="signupForm.password.$error.maxlength" translate="TOO_LONG")
    .form-group(ng-class="{'has-error': signupForm.confirmation.$invalid && signupForm.confirmation.$touched}")
      label.col-sm-4.control-label(translate="CONFIRM_PASSWORD")
      .col-sm-8
        input.form-control(
          name="confirmation"
          type="password"
          ng-model="fields.confirmation"
          is-valid="fields.confirmation == fields.password"
          required)
        span.help-block(ng-show="signupForm.confirmation.$touched")
          p(ng-show="signupForm.confirmation.$error.isValid" translate="NO_MATCH")
    .form-group.flex-center.mtm
      .col-sm-4
        input#agreement_accept.pull-right(
          name="agreement"
          type="checkbox"
          ng-model="fields.acceptedAgreement"
          required)
      label.em-300.col-sm-8
        | I have read and agree to the 
        a.em-500(ng-click="showAgreement()") Alpha Program Participation Agreement
    .flex-center.flex-end.mbl
      button.button-primary(
        type="submit"
        ng-disabled="signupForm.$invalid"
        translate="CONTINUE"
        ng-show="!working")  
      img(ng-show="working" src="img/spinner.gif")
