div(data-preflight-tag="CreateWallet")
  header
    hgroup
      .flex-between.flex-center.flex-wrap
        h2.em-300.mtn(translate="CREATE_A_WALLET")
        span.register.mbm
          span(translate="OR")
          | 
          a.em-300(ui-sref="public.login-uid")
            span(translate="LOGIN")
      p.em-300(translate="CREATE_FREE_WALLET")

form.form-horizontal(
  role="form"
  name="signupForm"
  ng-submit="signup()"
  autocomplete="off"
  novalidate)
  browser-detection(result="browser")
  fieldset(ng-disabled="browser.disabled || working")
    .form-group(ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$touched}")
      label(translate="EMAIL")
      div
        input.form-control(
          name="email"
          type="email"
          ng-model="fields.email"
          required
          focus-when="!fields.email.length")
        span.help-block
          div(ng-show="signupForm.email.$touched")
            p(ng-show="signupForm.email.$error.required" translate="EMAIL_ADDRESS_REQUIRED")
            p(ng-show="signupForm.email.$error.email" translate="EMAIL_ADDRESS_INVALID")
    .form-group(ng-class="{'has-error': signupForm.password.$invalid && signupForm.password.$touched}")
      label(translate="NEW_PASSWORD")
      div
        input.form-control(
          name="password"
          type="password"
          ng-model="fields.password"
          ng-maxlength="255"
          min-entropy="25"
          ng-change="fields.confirmation = ''"
          required)
        password-entropy.help-block(password="fields.password")
        span.help-block
          div(ng-show="signupForm.password.$touched")
            p(ng-show="signupForm.password.$error.minEntropy && fields.password != undefined" translate="TOO_WEAK")
            p(ng-show="signupForm.password.$error.maxlength" translate="TOO_LONG")
    .form-group(ng-class="{'has-error': signupForm.confirmation.$invalid && signupForm.confirmation.$touched}")
      label(translate="CONFIRM_PASSWORD")
      div
        input.form-control(
          name="confirmation"
          type="password"
          ng-model="fields.confirmation"
          is-valid="fields.confirmation == fields.password"
          required)
        span.help-block
          div(ng-show="signupForm.confirmation.$touched")
            p(ng-show="signupForm.confirmation.$error.isValid" translate="NO_MATCH")
    .flex-center.flex-end.mtm.mbl
      input#agreement_accept.pull-right(
        name="agreement"
        type="checkbox"
        ng-model="fields.acceptedAgreement"
        required)
      label.em-300.mbn.mls.right-align(translate="ACCEPT_TOS")
    .flex-center.flex-end.mbl
      button.button-primary(
        type="submit"
        data-style="expand-left"
        ng-disabled="signupForm.$invalid || !currency_guess"
        ladda-translate="CONTINUE"
        ui-ladda="working")
