.transactions(ng-if="status.isLoggedIn")
  .filter-bar.flex-between.flex-center(data-preflight-tag="TxsOptions")
    .flex-row.flex-center
      ui-select.mrl(
        ng-show="accounts.length > 1"
        ng-model="filterByAccount.account"
        name="accounts"
        tagging)
        ui-select-match
          label-origin(origin="$select.selected")
        ui-select-choices(repeat="account in accounts | filter:{label:$select.search} | limitTo:accountLimit" group-by="'type'")
          span(in-view="$last && account.type==='Imported Addresses' && increaseLimit()")
            label-origin(origin="::account" highlight="$select.search")
      .filter-buttons.flex
        a.black.em-500.em-alt(
          ng-repeat="f in filterTypes track by f"
          ng-click="setFilterType($index)"
          ng-class="{'active': isFilterType($index)}"
          translate="{{::f}}")
    .flex-center
      a.black.mrl.em-500.em-alt(ng-click="exportHistory()")
        i.ti-export
      .filter-search
        input(
          type="text"
          placeholder="{{::'SEARCH' | translate}}"
          ng-model="$parent.searchText"
          ng-model-options="{ debounce: 250 }")
        i.ti-search
  .transaction-feed(data-preflight-tag="TxsFeed")
    .flex-center.flex-justify.flex-column.mtvl(ng-hide="loading || getTotal(account) > 0 || filteredTransactions.length > 0 || selectedaccount == 'imported'")
      .flex-column.mbl.border-bottom.black
        .flex-center.flex-justify
          i.ti-layout-list-post.h3.mrm
          h3.em-100(translate="NO_TRANSACTIONS_YET")
        p.em-400(translate="DESCRIBE_TRANSACTIONS")
      h3.em-100.center-align.mid-grey.emptystate(translate="HIT_RECEIVE", ng-click="request()")
      h3.em-100.center-align.mid-grey.emptystate(translate="HIT_SEND", ng-click="send()")
    .flex-center.flex-justify.flex-column.mtl(ng-show="!loading && filteredTransactions.length == 0 && getTotal(account) > 0 ")
      i.ti-search.h1.mrm
      h3.em-100.mbl(translate="SORRY_ZERO_TXS")
      p.em-400(translate="PLEASE_TRY_AGAIN", ng-click="supportModal()")
    .transaction(ng-repeat="tx in transactions | filter:transactionFilter | limitTo:txLimit as filteredTransactions track by tx.hash" ng-init="tx.toggled = false")
      .tx-toggle.pointer.hidden-xs(ng-click="tx.toggled = !tx.toggled")
        i.ti-arrow-circle-right.h4.aaa(ng-show="!tx.toggled")
        i.ti-arrow-circle-down.h4.aaa(ng-show="tx.toggled")
      .tx-details.mll.mvm
        span 
          transaction-description(transaction="tx" highlight="searchText" ng-if="canDisplayDescriptions" account="account")
    .row
      .col-xs-5
      .col-xs-2
        p(align="center" ng-hide="loading || allTxsLoaded || filteredTransactions.length == 0")
          a(in-view="nextPage()" ng-click="nextPage()")
    .row(ng-show="loading").mtm.loading
       .col-xs-5
       .col-xs-2
         img(src="img/spinner.gif")
