.transactions(ng-if="status.isLoggedIn")
  .filter-bar.flex-between.flex-center
    .filter-buttons.flex
      a.black.em-500.em-alt(
        ng-repeat="f in filterTypes track by f"
        ng-click="setFilterType($index)"
        ng-class="{'active': isFilterType($index)}"
        translate="{{::f}}")
    .filter-search
      input(
        type="text"
        placeholder="{{::'SEARCH' | translate}}"
        ng-model="$parent.searchText"
        ng-model-options="{ debounce: 250 }")
      i.ti-search
  .transaction-feed
    .flex-center.flex-justify.flex-column.mtvl(ng-hide="loading || getTotal(accountIndex) > 0 || filteredTransactions.length > 0 || selectedAccountIndex == 'imported'")
      .flex-column.mbl.border-bottom.black
        .flex-center.flex-justify
          i.ti-layout-list-post.h3.mrm
          h3.em-100(translate="NO_TRANSACTIONS_YET")
        p.em-400(translate="DESCRIBE_TRANSACTIONS")
      h3.em-100.center-align.mid-grey.emptystate(translate="HIT_RECEIVE", ng-click="request()")
      h3.em-100.center-align.mid-grey.emptystate(translate="HIT_SEND", ng-click="send()")
    .flex-center.flex-justify.flex-column.mtl(ng-show="!loading && filteredTransactions.length == 0 && getTotal(accountIndex) > 0 ")
      i.ti-search.h1.mrm
      h3.em-100.mbl(translate="SORRY_ZERO_TXS")
      p.em-400(translate="PLEASE_TRY_AGAIN", ng-click="supportModal()")
    .transaction.no-select(ng-repeat="tx in transactions | filter:transactionFilter | limitTo:txLimit as filteredTransactions track by tx.hash")
      .tx-toggle.hidden-xs.hidden-sm(ng-click="tx.toggled = !tx.toggled")
        i.ti-arrow-circle-right.h4.ccc.pointer.mrl.prl(ng-show="!tx.toggled")
        i.ti-arrow-circle-down.h4.dark-grey.pointer.mrl.prl(ng-show="tx.toggled")
      .tx-details
        .type.pointer(ng-click="showTransaction(tx)")
          span 
            transaction-description(transaction="tx" highlight="searchText" ng-if="canDisplayDescriptions")
      .amount
        span 
          amount(transaction="tx")
    .row
      .col-xs-5
      .col-xs-2
        p(align="center" ng-hide="loading || allTxsLoaded || filteredTransactions.length == 0")
          a(in-view="nextPage()" ng-click="nextPage()")
    .row(ng-show="loading").mtm.loading
       .col-xs-5
       .col-xs-2
         img(src="assets/img/spinner.gif")
