form.bc-form(
  name="forms.exchangeForm"
  ng-submit="exchange()"
  novalidate
  translate-namespace="SHIFT"
  autocomplete="off")
  fieldset(ng-disabled="locked")
    .group.inline.mb-30
      .item.width-50.pr-15
        .flex-between.flex-baseline.mbs
          span.f-16.em-500.colon(translate=".EXCHANGE_FROM")
        ui-select.asset-select(ng-model="from" name="from")
          ui-select-match
            span {{ from.label }}
          ui-select-choices(repeat="origin in origins")
            span {{ origin.label }}
      .item.width-50.pl-15
        .flex-between.flex-baseline.mbs
          span.f-16.em-500.colon(translate="TO")
        input.form-control.bg-white(ng-disabled="true" ng-model="to.label")
    .group
      .item
        .flex-between.flex-baseline.mbs
          .flex-row
             span.f-16.em-500.colon Enter Amount
          span
            .state-danger-text(ng-show="state.loadFailed")
              i.ti-alert
              span.mls(translate="{{state.error || 'Failed to load exchange data'}}")
        .flex-center
          .flex-1.flex-center.border
            input.form-control.no-border(
              type="number"
              name="input"
              ng-model="state.input.amount"
              ng-max="max"
              ng-min="min"
              ng-change="state.baseCurr = state.input.curr"
              step="0.01"
              prevent-event="mousewheel"
              focus-when="true"
              required)
            span.mhm.upper {{state.input.curr}}
          i.ti-arrows-horizontal.h4.border-grey.phm.hidden-xs
          .flex-1.flex-center.border
            input.form-control.no-border(
              type="number"
              name="output"
              ng-model="state.output.amount"
              ng-max="max"
              ng-min="min"
              ng-change="state.baseCurr = state.output.curr"
              prevent-event="mousewheel"
              step="0.01"
              required)
            span.mhm.upper {{state.output.curr}}
        .f-12.mts.state-danger-text
          span(ng-show="!state.loadFailed && forms.exchangeForm.$error.min")
            | Your remaining daily buy limit is {{ format($ctrl.limits.max, dollars, false) }} {{ dollars.code }}.
            | &nbsp;
          span(ng-show="!state.loadFailed && forms.exchangeForm.$error.min")
            | Please enter an amount greater than {{ format($ctrl.limits.min, dollars, false) }} {{ dollars.code }}.
    .group.mt-30
      button.btn.button-primary.full(type="submit" ng-disabled="locked || exchangeForm.$invalid || !quote || state.loadFailed" translate="EXCHANGE_SIMPLE")
