.filter-bar.flex-end.flex-center.flex-start-tablet(data-preflight-tag="AccountsSearch")
  .filter-search.input-group
    input.form-control(
      type="text"
      placeholder="{{::'SEARCH' | translate}}"
      ng-model="searchText"
      ng-model-options="{debounce:250}")
    i.ti-search
.settings-category
  .row.account-settings(data-preflight-tag="Accounts")
    .col-xs-12
      table.accounts-container.width-100(ng-if="status.isLoggedIn")
        tr.responsive.width-100(ng-repeat="account in accounts() | filter:{label: searchText}")
          td.col-md-3
            span.type-md.em-500.mrm(ng-bind-html="account.label | escapeHtml | highlight:searchText" ng-class="{'o-3': account.archived}")
            span.label.label-primary.btn-xs(translate="DEFAULT", ng-show="!account.archived && isDefault(account)")
            span.label.label-default.btn-xs.mrm(translate="ARCHIVED" ng-show="account.archived")
          td.col-md-3.center
            span.display-inline-block.right-align(ng-show="!account.archived && account.balance != null")
              fiat-or-btc.pointer(btc="account.balance" ng-click="toggleDisplayCurrency()")
          td.col-md-3.right-align
            span.pointer.blue(
              ui-sref="wallet.common.settings.accounts_addresses({account: account.index})"
              translate="MANAGE_ADDRESSES"
              ng-show="!account.archived"
            )
            span.pointer.blue(translate="UNARCHIVE" ng-click="unarchive(account)" ng-show="account.archived")
        tr.width-100
          td.col-md-3
            i.ti-plus.blue.mrm.pointer(ng-click="newAccount()")
            span.pointer(translate="ADD_WALLET" ng-click="newAccount()")
          td.col-md-3
          td.col-md-3

      .flex-between.flex-center.mbl.mvvl
        div
          span.type-md.em-500(translate="IMPORTED_ADDRESSES")
          |  
          i.ti-alert.security-red.hidden-xs
          |  
          span.security-red.hidden-xs(translate="NOT_BACKED_BY_RECOVERY")
        .flex-center.flex-row
          button.button-primary.mrl(
            translate="TRANSFER_ALL"
            ng-show="activeSpendableAddresses().length > 0"
            ng-click="openTransferAll()"
          )
          button.button-default(translate="VERIFY_MESSAGE" ng-click="openVerifyMessage()")
      include ./imported-addresses

  .row.spacing
  .row.spacing

  .row
    .col-xs-12
      a.button-default(
        ui-sref="wallet.common.settings.address_book"
        translate="MANAGE_ADDRESS_BOOK"
        ng-show="addressBookPresent"
      )
