.filter-bar.flex-end.flex-center.flex-start-tablet(data-preflight-tag="AccountsSearch")
  .flex-between.flex-center.width-100
    .filter-buttons.f-16.f-12-mobile
      a.black.em-500.upper(
        ng-repeat="f in filterTypes track by f"
        ng-click="setFilterType(f)"
        ng-class="{'active': isFilterType(f)}"
        translate="{{::f}}")
    .filter-search.input-group
      input.form-control(
        type="text"
        placeholder="{{::'SEARCH' | translate}}"
        ng-model="searchText"
        ng-model-options="{debounce:250}")
      i.ti-search
.settings-category
  div(ng-if="isFilterType('BITCOIN')")
    .row.account-settings(data-preflight-tag="Accounts")
      .col-xs-12
        table.accounts-container.width-100(ng-if="status.isLoggedIn")
          tr.responsive.width-100(ng-repeat="account in accounts() | filter:{label: searchText}")
            td.col-md-3
              span.type-md.em-500.mrm(ng-bind-html="account.label | escapeHtml | highlight:searchText" ng-class="{'o-3': account.archived}")
              span.label.label-primary.btn-xs(translate="DEFAULT", ng-show="!account.archived && isDefault(account)")
              span.label.label-default.btn-xs.mrm(translate="ARCHIVED" ng-show="account.archived")
            td.col-md-3.center
              span.display-inline-block.right-align(ng-show="!account.archived && account.balance != null")
                fiat-or-btc.pointer(btc="account.balance" ng-click="toggleDisplayCurrency()")
            td.col-md-3.right-align
              span.pointer.blue(
                ui-sref="wallet.common.settings.accounts_addresses({account: account.index})"
                translate="MANAGE_ADDRESSES"
                ng-show="!account.archived"
              )
              span.pointer.blue(translate="UNARCHIVE" ng-click="unarchive(account)" ng-show="account.archived")
          tr.width-100
            td.col-md-3
              i.ti-plus.blue.mrm.pointer(ng-click="newAccount()")
              span.pointer(translate="ADD_WALLET" ng-click="newAccount()")
            td.col-md-3
            td.col-md-3

        .flex-between.flex-center.flex-column-mobile.flex-start-mobile.mbl.mvvl
          .width-40-tablet.width-50
            span.type-md.em-500(translate="IMPORTED_ADDRESSES")
            |  
            i.ti-alert.security-red.hidden-xs
            |  
            span.security-red.hidden-xs(translate="NOT_BACKED_BY_RECOVERY")
          .flex-center.flex-row
            button.button-primary.mrl(
              translate="TRANSFER_ALL"
              ng-show="activeSpendableAddresses().length > 0"
              ng-click="openTransferAll()"
            )
            button.btn.button-default(translate="VERIFY_MESSAGE" ng-click="openVerifyMessage()")
        include ./imported-addresses

    .row.spacing

    .row.mvvl
      .col-xs-12
        a.button-default(
          ui-sref="wallet.common.settings.address_book"
          translate="MANAGE_ADDRESS_BOOK"
          ng-show="addressBookPresent"
        )
  div(ng-if="isFilterType('BITCOIN CASH')" ng-controller="SettingsBchAccountsController")
    .row.account-settings(data-preflight-tag="BCHAccounts")
      .col-xs-12
        table.accounts-container.width-100(ng-if="status.isLoggedIn")
          tr.responsive.width-100(ng-repeat="bchAccount in bchAccounts | filter:{label: searchText}")
            td.col-md-3
              span.type-md.em-500.mrm(ng-bind-html="bchAccount.label | escapeHtml | highlight:searchText" ng-class="{'o-3': bchAccount.archived}")
              span.label.label-primary.btn-xs(translate="DEFAULT", ng-show="!bchAccount.archived && isDefaultBch(bchAccount)")
              span.label.label-default.btn-xs.mrm(translate="ARCHIVED" ng-show="bchAccount.archived")
            td.col-md-3.center
              span.display-inline-block.right-align
                fiat-or-bch.pointer(bch="bchAccount.balance" ng-click="toggleDisplayCurrency()")
            td.col-md-3.right-align
              span(uib-dropdown)
                a.blue.pbl(href uib-dropdown-toggle id="manage" translate="Manage")
                ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu aria-labelledby="manage")
                  li
                    a(translate="EDIT_NAME" ng-click="editAccount(bchAccount)")
                  li
                    a(translate="MAKE_DEFAULT" ng-click="makeDefaultBch(bchAccount)" ng-hide="bchAccount.archived || isDefaultBch(bchAccount)")
                  li
                    a(translate="ARCHIVE" ng-click="bchAccount.archived = true; refresh()" ng-hide="bchAccount.archived || isDefaultBch(bchAccount)")
                  li
                    a(translate="UNARCHIVE" ng-click="bchAccount.archived = false; refresh()" ng-show="bchAccount.archived")
                  li
                    a(translate="REVEAL_XPUB" ng-click="revealXpub(bchAccount)" ng-hide="bchAccount.archived")
          tr.responsive.width-100(ng-if="importedBch && importedBch.addresses.length")
            td.col-md-3
              span.type-md.em-500.mrm Imported Addresses
              span.label.label-primary.btn-xs(translate="ALL_ADDRESSES")
            td.col-md-3.center
              span.display-inline-block.right-align
                fiat-or-bch.pointer(bch="importedBch.balance" ng-click="toggleDisplayCurrency()")
            
