.filter-bar.flex-end.flex-center(data-preflight-tag="AccountsSearch")
  .filter-search
    input(
      type="text"
      placeholder="{{::'SEARCH' | translate}}"
      ng-model="searchText")
    i.ti-search

.row.ptvl
  .col-xs-12
    table.accounts-container.width-100(ng-if="status.isLoggedIn")
      tr.responsive.width-100(ng-repeat="account in accounts() | filter:{label: searchText}")
        td.col-md-3
          span.type-md.em-500(ng-bind-html="account.label | escapeHtml | highlight:searchText")
          span.label.label-primary.btn-xs(translate="DEFAULT", ng-show="!account.archived && isDefault(account)")
        td.col-md-3.center
          span.display-inline-block.right-align(ng-show="!account.archived && account.balance != null")
            span.display-block.em-500 {{ account.balance | toBitCurrency:settings.btcCurrency }}
            fiat(btc="account.balance")
        td.col-md-3.right-align
          span.pointer.blue(
            ui-sref="wallet.common.settings.accounts_addresses({account: account.index})"
            translate="MANAGE_ADDRESSES"
          )
      tr.responsive.width-100
        td
          button.button-primary.mrm.button-nowrap(ng-click="newAccount()" translate="CREATE_ACCOUNT")

    table.accounts-container.imported-addresses(data-preflight-tag="ImportedAddresses" ng-controller="SettingsImportedAddressesCtrl")
      tr.responsive.width-100
        td.expand
          span.type-md.em-500(translate="IMPORTED_ADDRESSES")
          span  ({{ getLegacyTotal() | toBitCurrency:settings.btcCurrency }})
        td.shrink
        td.shrink
          button.button-primary(
            translate="TRANSFER_ALL"
            ng-show="activeSpendableAddresses().length > 0"
            ng-click="openTransferAll()"
          )
        td.shrink
          button.button-default(translate="VERIFY_MESSAGE" ng-click="openVerifyMessage()")
      include ./imported-addresses

.row.spacing
.row.spacing

.row
  .col-xs-12
    a.button-default(
      ui-sref="wallet.common.settings.address_book"
      translate="MANAGE_ADDRESS_BOOK"
      ng-show="addressBookPresent"
    )
