.filter-bar.flex-between.flex-center(data-preflight-tag="AccountsSearch")
  a.flex-center.text.em-400.black(ng-click="back()")
      i.ti-arrow-left.mrm
  .filter-search
    input(
      type="text"
      placeholder="{{::'SEARCH' | translate}}"
      ng-model="searchText")
    i.ti-search

.row.ptvl(data-preflight-tag="AccountAddresses")
  .col-xs-12.table-container
    .flex-between.flex-center
      h2.mvl.pbl {{account.label}}
        span.label.label-primary.btn-xs(translate="DEFAULT", ng-show="!account.archived && isDefault(account)")
        span.label.label-default.btn-xs(translate="ARCHIVED" ng-show="account.archived")
      span(uib-dropdown on-toggle="toggled(open)")
        a(href uib-dropdown-toggle id="more-dropdown" translate="More Options") 
        ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu aria-labelledby="more-dropdown")
          li
            a(translate="EDIT_NAME" ng-click="editAccount(account)")
          li
            a(translate="MAKE_DEFAULT" ng-click="makeDefault(account)" ng-hide="account.archived || isDefault(account)")
          li
            a(translate="ARCHIVE" ng-click="archive(account)" ng-hide="account.archived || isDefault(account)")
          li
            a(translate="UNARCHIVE" ng-click="unarchive(account)" ng-show="account.archived")
          li
            a(translate="REVEAL_XPUB" ng-click="revealXpub(account)" ng-hide="account.archived")
    .type-lbl.em-500(translate="UNUSED_ADDRESSES")
    p.em-300.mvm.pbm(translate="UNUSED_ADDRESSES_COPY")
    table.accounts-container.addresses.responsive.width-100
      tr(
        account="account"
        ng-repeat="address in paymentRequests | filter:searchText | orderBy:'-index' track by address.index"
        hd-address="address"
        search-text="searchText"
        remove="removeAddressLabel(address.index, paymentRequests.indexOf(address))")

.mtl
  button.button-default(translate="PAST_ADDRESSES" ng-click="toggleShowPast()" ng-class="{active:showPast}")

div(ng-if="showPast" ng-init="setAddresses(page)")
  .flex-between.flex-center
    h2(translate="PAST_ADDRESSES_FOR_ACCOUNT" translate-values="::{account:account.label}")
    uib-pagination.pagination-sm(
      ng-model="page"
      ng-show="totalUsed > pageLength"
      ng-change="setAddresses(page)"
      total-items="totalUsed"
      items-per-page="pageLength"
      max-size="5"
      boundary-links="true")

  .row
    .col-xs-12.table-container
      table.accounts-container.addresses.responsive.width-100
        tr(
          account="account"
          ng-repeat="address in usedAddresses | orderBy:'-index' track by address.index"
          hd-address="address"
          remove="removeAddressLabel(address.index, usedAddresses.indexOf(address), true)"
          past-address="true")
