.row
  .col-xs-12.mbl
    a.flex-center.text.em-400.blue(ng-click="back()")
      i.ti-arrow-left.mrm
      span(translate="BACK")

h5.well.type-h5.em-400.hidden-xs(translate="MY_ADDRESSES_EXPLAIN")

.row
  .col-xs-6
    button.btn.button-primary(role="button" ng-click="createAddress()" translate="CREATE_ADDRESS")
  .col-xs-6
    .flex-1.width-100.filter-search-alt.pos-rel
      input(type="text" ng-model="searchText")
      i.ti-search.pos-abs

h2(translate="NEXT_ADDRESSES_FOR_ACCOUNT" translate-values="::{account:account.label}")

.row
  .col-xs-12.table-container
    table.addresses-container.responsive.width-100
      tr
        th.shrink(translate="ADDRESS")
        th.expand(translate="LABEL")
        th.shrink
      tr(
        account="account"
        ng-repeat="address in paymentRequests | filter:searchText | orderBy:'-index' track by address.index"
        hd-address="address"
        search-text="searchText"
        remove="removeAddressLabel(address.index, paymentRequests.indexOf(address))")

.mtl
  button.button-default(translate="PAST_ADDRESSES" ng-click="toggleShowPast()" ng-class="{active:showPast}")

div(ng-if="showPast" ng-init="setAddresses(page)")
  .flex-between.flex-center
    h2(translate="PAST_ADDRESSES_FOR_ACCOUNT" translate-values="::{account:account.label}")
    uib-pagination.pagination-sm(
      ng-model="page"
      ng-change="setAddresses(page)"
      total-items="receiveIndex + 1"
      items-per-page="pageLength"
      max-size="5"
      boundary-links="true")

  .row
    .col-xs-12.table-container
      table.addresses-container.responsive.width-100
        tr
          th.shrink(translate="ADDRESS")
          th.shrink(translate="LABEL")
          th.shrink(translate="TOTAL_RECEIVED")
          th.shrink
            span(translate="CURRENT_BALANCE")
            helper-button(content="CURRENT_BALANCE_HELP")
        tr(ng-repeat="address in addresses | orderBy:'-index' track by address.index")
          td.shrink
            a(ng-href="{{ addressLink(address.address) }}" target="_blank") {{ address.address }}&nbsp;
            span.security-yellow.parens(translate="NO_TXS" ng-show="address.ntxs === 0")
          td.shrink {{ address.label }}
          td.shrink
            span(ng-hide="address.total == null") {{ address.total | convert }}
            img(src="img/spinner.gif" ng-show="address.total == null")
          td.shrink
            span(ng-hide="address.balance == null") {{ address.balance | convert }}
            img(src="img/spinner.gif" ng-show="address.balance == null")
