form(role="form" name="form" ng-submit="form.$valid && setIPWhitelist()" novalidate)
  .form-group(ng-class="{'has-error': errors.ipWhitelist}")
    label.control-label(translate="IP_WHITELIST")
    input.form-control(
      type="text"
      name="ipWhitelist"
      ng-model="fields.ipWhitelist"
      is-valid="isWhitelistValid()"
      maxlength="255"
      focus-when="active")
    span.help-block(ng-show="form.ipWhitelist.$invalid && form.ipWhitelist.$touched")
      span(translate="{{errors.ipWhitelist}}")
  .form-group.mbn.has-error.pull-right.right-align
    button.button-muted(
      type="button"
      ng-click="deactivate()"
      translate="CANCEL"
      ng-hide="busy")
    button.button-primary(
      type="submit"
      ui-ladda="status.waiting"
      ng-disabled="form.$invalid"
      ladda-translate="CHANGE"
      data-style="expand-left")
