form(role="form" name="form" novalidate ng-submit="setLogoutTime()")
  .form-group(ng-class="{'has-error': form.$invalid && form.$dirty}")
    label.control-label(translate="AUTO_LOGOUT")
    div
      input.form-control(
        type="number"
        name="logoutTime"
        ng-model="fields.logoutTime"
        min="2"
        max="1440"
        required
        focus-when="active")
      span.help-block(ng-show="form.logoutTime.$error.min")
        span(translate="LOGOUT_GREATER_THAN_1")
      span.help-block(ng-show="form.logoutTime.$error.max")
        span(translate="LOGOUT_LESS_THAN_1440")
  .form-group.mbn.has-error.pull-right.right-align
    button.button-muted(ng-click="deactivate()" translate="CANCEL" ng-hide="busy" type="button")
    button.button-success(
      ui-ladda="status.waiting"
      ng-disabled="form.$invalid"
      ladda-translate="CHANGE"
      data-style="expand-left"
      type="submit")
