form(role="form" name="form" novalidate)
  .form-group(ng-class="{'has-error': form.currentPassword.$invalid && form.currentPassword.$touched && form.currentPassword.$dirty, 'has-success': form.currentPassword.$valid}")
    label.control-label(translate="CURRENT_PASSWORD")
    div
      input.form-control(
        type="password"
        name="currentPassword"
        ng-model="fields.currentPassword"
        is-valid="isCorrectMainPassword(fields.currentPassword)"
        required
        focus-when="active")
      span.help-block(translate="INCORRECT" ng-show="form.currentPassword.$invalid && form.currentPassword.$touched && form.currentPassword.$dirty")
  .form-group(ng-class="{'has-error': form.password.$invalid && form.password.$touched && form.password.$dirty, 'has-success': form.password.$valid}")
    label.control-label(translate="NEW_PASSWORD")
    div
      input.form-control(
        type="password"
        name="password"
        ng-model="fields.password"
        ng-change="fields.confirmation = ''"
        min-entropy="25"
        ng-maxlength="255"
        is-valid="fields.password != uid && !isUserEmail(fields.password) && !isPasswordHint(fields.password) && !isCorrectMainPassword(fields.password)"
        required)
      password-entropy(password="fields.password").help-block
      span(ng-show="form.password.$touched && form.password.$dirty")
        span.help-block(translate="TOO_WEAK" ng-show="form.password.$error.minEntropy && !form.password.$error.isValid")
        span.help-block(translate="TOO_LONG" ng-show="form.password.$error.maxlength")
        span.help-block(translate="CANT_USE_GUID" ng-show="form.password.$error.isValid && fields.password == uid")
        span.help-block(translate="CANT_USE_EMAIL" ng-show="form.password.$error.isValid && isUserEmail(fields.password)")
        span.help-block(translate="CANT_USE_HINT" ng-show="form.password.$error.isValid && isPasswordHint(fields.password)")
        span.help-block(translate="CANT_USE_CURRENT" ng-show="form.password.$error.isValid && isCorrectMainPassword(fields.password)")
  .form-group(ng-class="{'has-error': form.confirmation.$invalid && form.confirmation.$touched, 'has-success': form.confirmation.$valid}")
    label.control-label(translate="CONFIRM_PASSWORD")
    div
      input.form-control(
        on-enter="change()"
        type="password"
        name="confirmation"
        ng-model="fields.confirmation"
        is-valid="fields.confirmation == fields.password"
        required)
      span.help-block(translate="NO_MATCH" ng-show="form.confirmation.$error.isValid && form.confirmation.$touched")
  .form-group.mbn.has-error.pull-right.right-align
    span.help-block {{ errors.unsuccessful | translate }}
    button.button-muted.mrm(ng-click="deactivate()" translate="CANCEL")
    button.button-success(ui-ladda="status.waiting" ng-click="change()" ng-disabled="form.$invalid" ladda-translate="CHANGE" data-style="expand-left")
