.modal-header
  h3(translate="CHANGE_PASSWORD")
.modal-body
  form.form-horizontal(role="form" name="passwordForm" novalidate)
    .form-group(ng-class="{'has-error': passwordForm.currentPassword.$invalid && passwordForm.currentPassword.$touched && passwordForm.currentPassword.$dirty, 'has-success': passwordForm.currentPassword.$valid}")
      label.col-sm-4.control-label(translate="CURRENT_PASSWORD")
      .col-sm-8
        input.form-control(
          type="password"
          name="currentPassword"
          ng-model="fields.currentPassword"
          is-valid="isCorrectMainPassword(fields.currentPassword)"
          required
          autofocus)
        span.help-block(translate="INCORRECT" ng-show="passwordForm.currentPassword.$invalid && passwordForm.currentPassword.$touched && passwordForm.currentPassword.$dirty")
    .form-group(ng-class="{'has-error': passwordForm.password.$invalid && passwordForm.password.$touched && passwordForm.password.$dirty, 'has-success': passwordForm.password.$valid}")
      label.col-sm-4.control-label(translate="NEW_PASSWORD")
      .col-sm-8
        input.form-control(
          type="password"
          name="password"
          ng-model="fields.password"
          ng-change="fields.confirmation = ''"
          min-entropy="25"
          ng-maxlength="255"
          is-valid="fields.password != uid && !isUserEmail(fields.password) && !isPasswordHint(fields.password) && !isCorrectMainPassword(fields.password)"
          required)
        password-entropy(password="fields.password").help-block
        span(ng-show="passwordForm.password.$touched && passwordForm.password.$dirty")
          span.help-block(translate="TOO_WEAK" ng-show="passwordForm.password.$error.minEntropy && !passwordForm.password.$error.isValid")
          span.help-block(translate="TOO_LONG" ng-show="passwordForm.password.$error.maxlength")
          span.help-block(translate="CANT_USE_GUID" ng-show="passwordForm.password.$error.isValid && fields.password == uid")
          span.help-block(translate="CANT_USE_EMAIL" ng-show="passwordForm.password.$error.isValid && isUserEmail(fields.password)")
          span.help-block(translate="CANT_USE_HINT" ng-show="passwordForm.password.$error.isValid && isPasswordHint(fields.password)")
          span.help-block(translate="CANT_USE_CURRENT" ng-show="passwordForm.password.$error.isValid && isCorrectMainPassword(fields.password)")
    .form-group(ng-class="{'has-error': passwordForm.confirmation.$invalid && passwordForm.confirmation.$touched, 'has-success': passwordForm.confirmation.$valid}")
      label.col-sm-4.control-label(translate="CONFIRM_PASSWORD")
      .col-sm-8
        input.form-control(
          on-enter="changePassword()"
          type="password"
          name="confirmation"
          ng-model="fields.confirmation"
          is-valid="fields.confirmation == fields.password"
          required)
        span.help-block(translate="NO_MATCH" ng-show="passwordForm.confirmation.$error.isValid && passwordForm.confirmation.$touched")
.modal-footer.pal.flex-end
  .form-group.col-sm-8.has-error(ng-show="errors.unsuccessful")
    span.help-block {{ errors.unsuccessful }}
  button.button-muted.mrm(ng-click="close()" translate="CLOSE")
  button.button-success(ui-ladda="status.waiting" ng-click="changePassword()" ng-disabled="passwordForm.$invalid" ladda-translate="CHANGE" data-style="expand-left")
