form(role="form" name="form" novalidate ng-submit="changePasswordHint()")
  .form-group
    label.control-label(translate="PASSWORD_HINT")
    div
      input.form-control(
        type="text"
        name="passwordHint"
        ng-model="fields.passwordHint"
        maxlength="255"
        focus-when="active")
      span.help-block(ng-show="form.passwordHint.$touched")
        span {{ errors.passwordHint }}
  .form-group.mbn.has-error.pull-right.right-align
    button.button-muted(ng-click="deactivate()" translate="CANCEL" ng-hide="busy" type="button")
    button.button-success(
      ui-ladda="status.waiting"
      ng-disabled="form.$invalid"
      ladda-translate="CHANGE"
      data-style="expand-left"
      type="submit")
