form(role="form" name="form" novalidate data-preflight-tag="ChangeSecondPassword")
  .form-group(ng-class="{ 'has-error': form.password.$invalid && form.password.$touched, 'has-success': form.password.$valid }")
    label.control-label(translate="SECOND_PASSWORD")
    div
      input.form-control(
        type="password"
        name="password"
        ng-model="fields.password"
        ng-change="fields.confirmation = ''"
        minlength="4"
        is-valid="!isPasswordHint(fields.password) && !isMainPassword(fields.password)"
        required
        focus-when="active && !settings.secondPassword")
      span.help-block(ng-show="form.password.$touched")
        span(translate="TOO_SHORT" ng-show="form.password.$error.minlength")
        span(translate="CANT_USE_HINT" ng-show="form.password.$error.isValid && isPasswordHint(fields.password)")
        span(translate="CANT_USE_MAIN" ng-show="form.password.$error.isValid && isMainPassword(fields.password)")
  .form-group(ng-hide="settings.secondPassword" ng-class="{ 'has-error': form.confirmation.$invalid && form.confirmation.$touched, 'has-success': form.confirmation.$valid }")
    label.control-label(translate="CONFIRM_PASSWORD")
    div
      input.form-control(
        type="password"
        name="confirmation"
        ng-model="fields.confirmation"
        is-valid="fields.confirmation === fields.password && !settings.secondPassword"
        on-enter="setPassword()"
        required)
      span.help-block(ng-show="form.confirmation.$touched")
        span(translate="NO_MATCH" ng-show="form.confirmation.$error.isValid")
.form-group.mbn.has-error.pull-right.right-align
  button.button-muted(ng-click="deactivate()" translate="CANCEL" ng-hide="status.waiting")
  button.button-success(
    ng-hide="settings.secondPassword"
    ui-ladda="status.waiting"
    ng-click="setPassword()"
    ng-disabled="form.$invalid"
    ladda-translate="SET_PASSWORD"
    data-style="expand-left")
  button.button-primary(
    ng-show="settings.secondPassword"
    ui-ladda="status.waiting"
    ng-disabled="form.password.$invalid"
    ng-click="removeSecondPassword()"
    ladda-translate="REMOVE_SECOND_PASSWORD"
    data-style="expand-left"
  )
