form(role="form" name="form" novalidate)
  .modal-header
    .flex-center.pam
      h3.man.mrm(translate="REMOVE_SECOND_PASSWORD")
  .modal-body
    .alert-in-app
      alerts(context="alerts")
    p(ng-show='status.removed' translate='SECOND_PASSWORD_REMOVE_LOGOUT')
    .form-group(ng-class="{ 'has-error': form.password.$invalid && form.password.$touched, 'has-success': form.password.$valid }")
      label.control-label(translate="SECOND_PASSWORD")
      div
        input.form-control(
          type="password"
          name="password"
          ng-model="fields.password"
          is-valid="validateSecondPassword(fields.password)"
          required
          focus-when="active"
          ng-disabled="status.waiting || status.removed"
        )
    .modal-footer.pal.flex-end.flex-center
      .form-group.mbn.has-error.pull-right.right-align
        button.button-muted(
          ng-click="cancel()" 
          translate="CANCEL" 
          ng-hide="status.waiting || status.removed"
        )
        button.button-success(
          ui-ladda="status.waiting"
          ng-click="removeSecondPassword()"
          ng-disabled="form.$invalid"
          ladda-translate="REMOVE_SECOND_PASSWORD"
          data-style="expand-left"
          ng-hide="status.removed"
        )
        button.button-success(
          ng-click="logout()"
          translate="LOGOUT"
          ng-show="status.removed"
        )
