.modal-header
  h3(translate="SWEEP_ALL")
  .alert-in-app
    alerts(context="alerts")
.modal-body
  div(ng-show="!sweeping && ncompleted === 0")
    span.security-red.type-h4.mrs(class="ti-alert")
    span.text(translate="SWEEP_WARNING")
  div(ng-show="sweeping")
    label(translate="SWEEPING")
    span : {{ addresses[ncompleted].address }}
  .mtl.flex-row.flex-around(ng-hide="ncompleted === ntotal")
    ul.flex-2
      li(ng-repeat="address in addresses")
        span {{ address.address }} &nbsp;
        span ({{ address.balance | toBitCurrency:settings.btcCurrency }})
    .flex-center.prl.pll
      span.ti-arrow-right.blue.type-h4.bold
    .flex-1.flex-center.flex-justify.center
      span {{ defaultAccount.label }} &nbsp;
      span ({{ defaultAccount.balance | toBitCurrency:settings.btcCurrency }})
  .flex-column(ng-show="ncompleted === ntotal")
    div(ng-show="succeeded.length > 0")
      h5.underline.success(translate="Success")
      .flex-row.flex-around
        ul.flex-2
          li(ng-repeat="address in succeeded")
            span {{ address.address }} &nbsp;
            span ({{ address.balance | toBitCurrency:settings.btcCurrency }})
        .flex-center.prl.pll
          span.ti-arrow-right.blue.type-h4.bold
        .flex-1.flex-center.flex-justify.center
          span {{ defaultAccount.label }} &nbsp;
          span ({{ defaultAccount.balance | toBitCurrency:settings.btcCurrency }})
    div(ng-show="failed.length > 0")
      span.type-h5.underline.security-red(translate="Failed" 
                                popover-placement="top" 
                                uib-popover="{{'SWEEP_FAIL' | translate}}" 
                                popover-class="message-contextual"
                                popover-trigger="mouseenter"
                                popover-append-to-body="true")
      .flex-center
        ul.flex-1
          li(ng-repeat="address in failed")
            span {{ address.address }} &nbsp;
            span ({{ address.balance | toBitCurrency:settings.btcCurrency }})
  .flex-end(ng-show="ncompleted === ntotal")
    span.success.type-h4.bold(class="ti-check")
  uib-progressbar(ng-show="sweeping || ncompleted > 0" value="ncompleted" max="ntotal")
.modal-footer.pal.flex-end
  button.button-muted.mrm(ng-click="$dismiss('cancelled')" ng-show="!sweeping && ncompleted === 0" translate="CANCEL")
  button.btn.btn-primary(ng-hide="ncompleted === ntotal" ui-ladda="sweeping" ng-click="sweepAll()" data-style="expand-left" ladda-translate="SWEEP_ALL")
  button.btn.btn-primary(ng-show="ncompleted === ntotal" ng-click="$close(true)" translate="DONE")
