.modal-header
  h3(translate="TRANSFER" ng-show="addresses.length === 1")
  h3(translate="TRANSFER_ALL" ng-show="addresses.length > 1")

uib-progressbar.modal-progress(
  value="ncomplete" max="ntotal" ng-show="addresses.length > 1" animate="true")

.modal-body#transfer-all
  form.form-horizontal(role="form" name="transferForm" novalidate)

    .form-group
      label.col-sm-3.control-label.colon
        span.security-red.mrs.ti-alert(
          ng-show="combinedBalance > totalAmount + totalFees && !status.loading"
          uib-tooltip="{{::'SWEEP_LOW_BALANCE_WARN'|translate}}"
          tooltip-placement="left")
        span(translate="FROM")
      .col-sm-5(ng-show="addresses.length === 1")
        p.form-control-static {{ addresses[0].address }}
      .col-sm-7(ng-show="addresses.length > 1")
        .flex-row.flex-between.flex-center.pointer(ng-click="expand=!expand")
          span.form-control-static
            span {{ addresses.length }}&nbsp;
            span(translate="IMPORTED_ADDRESSES")
          a(ng-class="'ti-angle-double-' + (expand ? 'up' : 'down')")
        .flex-column.flex-align-end(ng-show="expand")
          ul.address-container
            li(ng-repeat="address in addresses track by $index")
              span {{ address.address }} ({{ address.balance | convert }})

    .form-group
      label.col-sm-3.control-label.colon(translate="TO")
      .col-sm-7
        ui-select(ng-model="$parent.selectedAccount")
          ui-select-match {{ $select.selected.label }}
          ui-select-choices(repeat="account in accounts() | filter:{archived: false, label: $select.search}") 
            span(ng-bind-html="account.label | escapeHtml | highlight: $select.search")

    .form-group
      label.col-sm-3.control-label.colon(translate="AMOUNT")
      .col-sm-5
        p.form-control-static
          img(ng-show="status.loading" src="img/spinner.gif")
          span(ng-hide="status.loading") {{ totalAmount | convert }}

    .form-group
      label.col-sm-3.control-label.colon(translate="FEES")
      .col-sm-5
        p.form-control-static
          img(ng-show="status.loading" src="img/spinner.gif")
          span(ng-hide="status.loading") {{ totalFees | convert }}

.modal-footer.pal.flex-end
  button.button-muted.mrm(
    translate="CANCEL"
    ng-click="status.sweeping ? status.cancelled = true : $dismiss()")
  button.btn.button-primary(
    ladda-translate="TRANSFER"
    ng-click="transfer()"
    ui-ladda="status.sweeping"
    ng-disabled="status.loading || totalAmount === 0"
    data-style="expand-left")
