doctype
<!-- @if !PRODUCTION --><html lang='en' ng-app='walletApp' ng-init="autoCreate='#{ process.env.AUTO_CREATE || ''}'; autoReload=#{ process.env.AUTO_RELOAD || false }; rootURL='#{ process.env.ROOT_URL }/'; webSocketURL='#{ process.env.WEB_SOCKET_URL }'; apiDomain='#{ process.env.API_DOMAIN }/'; network='#{ process.env.NETWORK }'; helperAppDomain='http://localhost:#{ (process.env.PORT || 80) + 1 }'" ng-csp ng-class="{'not-fixed': outOfApp}"><!-- @endif -->
<!-- @if PRODUCTION !><html lang='en' ng-app='walletApp' ng-csp ng-class="{'not-fixed': outOfApp}"><!-- @endif -->
head
  meta(charset='utf-8')
  meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1")
  meta(name="theme-color" content="#187fc0")
  meta(name="apple-itunes-app" content="app-id=493253309")
  meta(name="description" content="Discover the world's most popular bitcoin wallet. Visit today to create your free simple, secure and safe Blockchain Wallet.")
  meta(name="keywords" content="bitcoin wallet, blockchain wallet, online bitcoin wallet, bitcoin wallet online")
  <!-- @if !PRODUCTION -->
  script(src='bower_components/angular/angular.js', defer)
  script(src='bower_components/angular-sanitize/angular-sanitize.js', defer)
  script(src='bower_components/angular-animate/angular-animate.js', defer)
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js', defer)
  script(src='bower_components/angular-translate/angular-translate.js', defer)
  script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js', defer)
  script(src='bower_components/browserdetection/src/browser-detection.js')
  script(src='bower_components/oclazyload/dist/ocLazyLoad.js', defer)
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js', defer)
  script(src='bower_components/angular-ui-select/dist/select.js', defer)
  script(src='bower_components/ng-file-upload/ng-file-upload-shim.min.js', defer)
  script(src='bower_components/ng-file-upload/ng-file-upload.min.js', defer)

  // include: "type": "js", "files": "build/js/sharedDirectives.js"
  // include: "type": "js", "files": "build/js/sharedDirectives/*.js"
  // include: "type": "js", "files": "build/js/translations.js"
  // include: "type": "js", "files": "build/js/app.js"
  // include: "type": "js", "files": "build/js/landingCtrl.js"
  // include: "type": "js", "files": "build/js/services/bcTranslationLoader.service.js"
  // include: "type": "js", "files": "build/js/services/languages.service.js"
  // include: "type": "js", "files": "build/js/routes.js"

  <!-- @endif -->

  <!-- @if PRODUCTION !>
  script(src='js/landing.min.js' defer)
  <!-- @endif -->
  link(rel="alternate" hreflang="en" href="https://blockchain.info/wallet")
  link(rel="alternate" hreflang="de" href="https://blockchain.info/de/wallet")
  link(rel="alternate" hreflang="hi" href="https://blockchain.info/he/wallet")
  link(rel="alternate" hreflang="no" href="https://blockchain.info/no/wallet")
  link(rel="alternate" hreflang="ru" href="https://blockchain.info/ru/wallet")
  link(rel="alternate" hreflang="pt" href="https://blockchain.info/pt/wallet")
  link(rel="alternate" hreflang="bg" href="https://blockchain.info/bg/wallet")
  link(rel="alternate" hreflang="fr" href="https://blockchain.info/fr/wallet")
  link(rel="alternate" hreflang="zh-cn" href="https://blockchain.info/zh-cn/wallet")
  link(rel="alternate" hreflang="hu" href="https://blockchain.info/hu/wallet")
  link(rel="alternate" hreflang="sl" href="https://blockchain.info/sl/wallet")
  link(rel="alternate" hreflang="id" href="https://blockchain.info/id/wallet")
  link(rel="alternate" hreflang="sv" href="https://blockchain.info/sv/wallet")
  link(rel="alternate" hreflang="co" href="https://blockchain.info/co/wallet")
  link(rel="alternate" hreflang="el" href="https://blockchain.info/el/wallet")
  link(rel="alternate" hreflang="it" href="https://blockchain.info/it/wallet")
  link(rel="alternate" hreflang="es" href="https://blockchain.info/es/wallet")
  link(rel="alternate" hreflang="vi" href="https://blockchain.info/vi/wallet")
  link(rel="alternate" hreflang="th" href="https://blockchain.info/th/wallet")
  link(rel="alternate" hreflang="ja" href="https://blockchain.info/ja/wallet")
  link(rel="alternate" hreflang="pl" href="https://blockchain.info/pl/wallet")
  link(rel="alternate" hreflang="da" href="https://blockchain.info/da/wallet")
  link(rel="alternate" hreflang="ro" href="https://blockchain.info/ro/wallet")
  link(rel="alternate" hreflang="nl" href="https://blockchain.info/nl/wallet")
  link(rel="alternate" hreflang="tr" href="https://blockchain.info/tr/wallet")
  link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
  link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png")
  title Bitcoin Wallet - Blockchain
  <!-- @if !PRODUCTION -->  
  link(rel='stylesheet' href='build/css/wallet.css')
  <!-- @endif -->

  <!-- @if PRODUCTION !>
  link(rel='stylesheet' href='css/wallet.css')
  <!-- @endif -->

body(
  data-preflight
  ui-view="body"
  ng-mousemove="onAction()"
  ng-click="onAction()"
  ng-class="getTheme()")
  noscript
    img(src="/img/logo-bw.png")
    h3 Please enable JavaScript to use the Blockchain Wallet
