form(name="buyAmount")
  div
    span.type-h5.em-500.flex-start.pts(translate="CHOOSE_EXCHANGE_AMOUNT")
    .flex-1.mvl
      section.input-group
        input.form-control(
          type="number"
          ng-model="transaction.fiat"
          name="fiat"
          tabindex="1"
          focus-when="onStep('amount')"
          ng-model-options="{debounce: 250}"
          ng-change="changeCurrency(transaction.currency)"
          placeholder="0"
          min="0"
          max="2100000000000000"
          required
        )
        div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
          button.btn.btn-default.dropdown-toggle(type="button" uib-dropdown-toggle aria-haspopup="true")
            span {{ transaction.currency.code }}
            span.caret
          ul.uib-dropdown-menu.dropdown-menu.currency-dropdown(role="menu")
            li(ng-repeat="currency in currencies"
               role="menuitem" 
               ng-click="changeCurrency(currency);"
               ng-class="{active: isCurrencySelected(currency)}")
              a(ng-click="$event.preventDefault()") {{ currency.code }}
    .clearfix.mtm
      span.display-inline-block.pull-right.mbn.mts.pointer.blue.type-sm.underline(translate="CANT_FIND_CURRENCY" uib-tooltip="{{'CURRENCY_COMING_SOON' | translate}}" tooltip-placement="top")
