.transactions(ng-if="status.isLoggedIn")
  .filter-bar.flex-center.hidden-md.hidden-lg(data-preflight-tag="TxsOptions" ng-class="{open: isFilterOpen}")
    .hidden-md.hidden-lg.pointer.blue.right-align.width-100.flex-between.flex-center(ng-class="{mbl: isFilterOpen}")
      span(translate="HIDE" ng-show="isFilterOpen" ng-click="toggleFilter()")
      span(translate="FILTER" ng-hide="isFilterOpen" ng-click="toggleFilter()")
    .hidden-md.hidden-lg(ng-class="{hide: !isFilterOpen}")
      ui-select.mbl(
        ng-model="filterBy.type"
        name="filters"
        tagging)
        ui-select-match
          span {{$select.selected | translate}}
        ui-select-choices(repeat="filter in filterTypes")
          span {{ filter | translate }}
      .filter-search.input-group.width-100.mbl
        input.form-control.width-100(
          type="text"
          placeholder="{{::'SEARCH' | translate}}"
          ng-model="$parent.searchText"
          ng-model-options="{ debounce: 250 }")
        i.ti-search

  .filter-bar.flex-center.hidden-xs.hidden-sm(data-preflight-tag="TxsOptions")
    .flex-between.width-100
      .flex-row.flex-center
        .filter-buttons
          a.black.em-500.upper(
            ng-repeat="f in filterTypes track by f"
            ng-click="setFilterType($index)"
            ng-class="{'active': isFilterType($index)}"
            translate="{{::f}}")
      .flex-center.flex-end.width-50
        a.f-12.pointer.mr-30(ng-click="exportEthPriv()")
          span Export Private Key
        .filter-search.input-group.width-60
          input.form-control(
            type="text"
            placeholder="{{::'SEARCH_ETH_TX' | translate}}"
            ng-model="$parent.searchText"
            ng-model-options="{ debounce: 250 }")
          i.ti-search
  .transaction-feed.overflow-scroll(data-preflight-tag="TxsFeed")
    .flex-center.flex-justify.flex-column(ng-hide="loading || ethTotal > 0 || ethTransactions.length > 0")
      .flex-row.flex-column-mobile.flex-column.tablet.bg-footer-blue(ng-hide="hideEtherWelcome()")
        .hidden-sm.hidden-md.hidden-xs
          img.half-eth.opacity-3(src="img/half-ether.svg")
        .flex-column.flex-center.col-md-3.col-xs-12.flex-baseline.flex-justify.pl-25.flex-center-mobile
          span.upper.f-28.em-300.blue.pb-5(translate="WELCOME_TO_ETHER")
          a(href="https://blockchain.info/wallet/bitcoin-faq" rel="noopener noreferrer" target="_blank")
            span.upper(translate="LEARN_MORE")
            i.icon-right_arrow.f-12.pl-5
        .flex-column.col-md-4.col-xs-12.pt-20.pb-10
          span.border-bottom.upper.f-18.em-300.blue.mb-10.width-90.pb-5.pt-15(translate="WHAT_IS_ETH_HEADER")
          span.f-16.em-300(translate="WHAT_IS_ETHER")
        .flex-column.col-md-4.col-xs-12.pt-20.pb-10
          span.border-bottom.upper.f-18.em-300.blue.mb-10.width-90.pb-5.pt-15(translate="WHY_SHOULD_I_USE_ETHER_HEADER")
          span.f-16.em-300(translate="WHY_SHOULD_I_USE_ETHER")
        .hidden-sm.hidden-md.hidden-xs
          .pr-20.pt-20
            i.pointer.ti-close.f-16(ng-click="dismissWelcome()")
      .flex-column.mbl.border-bottom.black.ph-25.center.mtvl
        .flex-center.flex-justify
          i.icon-tx.h3.mrm
          h3.em-300(translate="NO_TRANSACTIONS_YET")
        p.em-300(translate="DESCRIBE_TRANSACTIONS_ETH")
      .flex.flex-center-mobile
        .btn-group
          button.btn.button-default.type-h5.pos-rel(ng-click="request()")
            i.mrs.media-middle.icon-receive
            span.em-300.upper(translate="START_RECEIVING_ETHER")
    .flex-center.flex-justify.flex-column.mtl(ng-show="!loading && filteredTransactions.length == 0 && getTotal(account) > 0 ")
      i.ti-search.h1.mrm
      h3.em-300.mbl(translate="SORRY_ZERO_TXS")
      p.em-400(translate="PLEASE_TRY_AGAIN", ng-click="supportModal()")
    .transaction.flex-center(ng-repeat="tx in ethTransactions | filter:transactionFilter | limitTo:txLimit as filteredTransactions track by tx.hash" ng-init="tx.toggled = false")
      .tx-toggle.pointer.hidden-xs.mtm(ng-click="tx.toggled = !tx.toggled" ng-class="{rotated: !tx.toggled}")
        i.icon-down_arrow
      .tx-details.width-100.mll.mvm
        span
          transaction-description-ethereum(transaction="tx" highlight="searchText" ng-if="canDisplayDescriptions" account="account")
    .row
      .col-xs-5
      .col-xs-2
        p(align="center" ng-hide="loading || allTxsLoaded || filteredTransactions.length == 0")
          a(in-view="nextPage()" ng-click="nextPage()")
    .row(ng-show="loading").mtm.loading
       .col-xs-5
       .col-xs-2.center
         img.loader.small(src="img/puff.svg")
