.transactions(ng-if="status.isLoggedIn")
  .filter-bar.flex-center.hidden-md.hidden-lg(data-preflight-tag="TxsOptions" ng-class="{open: isFilterOpen}")
    .hidden-md.hidden-lg.pointer.blue.right-align.width-100.flex-between.flex-center(ng-class="{mbl: isFilterOpen}")
      a.blue.hidden-md.hidden-lg.pointer(ng-click="exportHistory()")
        i.f-24.icon-export
      span(translate="HIDE" ng-show="isFilterOpen" ng-click="toggleFilter()")
      span(translate="FILTER" ng-hide="isFilterOpen" ng-click="toggleFilter()")
    .hidden-md.hidden-lg(ng-class="{hide: !isFilterOpen}")
      //- ui-select.mbl(
        ng-show="accounts.length > 1"
        ng-model="filterBy.account"
        name="accounts"
        tagging)
        ui-select-match
          label-origin(origin="$select.selected")
        ui-select-choices(repeat="account in accounts | filter:{label:$select.search} | limitTo:accountLimit" group-by="'type'")
          span(in-view="$last && account.type==='Imported Addresses' && increaseLimit()")
            label-origin(origin="::account" highlight="$select.search")
      ui-select.mbl(
        ng-model="filterBy.type"
        name="filters"
        tagging)
        ui-select-match
          span {{$select.selected | translate}}
        ui-select-choices(repeat="filter in filterTypes")
          span {{ filter | translate }}
      .filter-search.input-group.width-100.mbl
        input.form-control.width-100(
          type="text"
          placeholder="{{::'SEARCH' | translate}}"
          ng-model="$parent.searchText"
          ng-model-options="{ debounce: 250 }")
        i.ti-search

  .filter-bar.flex-center.hidden-xs.hidden-sm(data-preflight-tag="TxsOptions")
    .flex-between.width-100
      .flex-row.flex-center
        //- ui-select.hidden-md.mrl(
          ng-show="accounts.length > 1"
          ng-model="filterBy.account"
          name="accounts"
          tagging)
          ui-select-match
            label-origin(origin="$select.selected")
          ui-select-choices(repeat="account in accounts | filter:{label:$select.search} | limitTo:accountLimit" group-by="'type'")
            span(in-view="$last && account.type==='Imported Addresses' && increaseLimit()")
              label-origin(origin="::account" highlight="$select.search")
        .filter-buttons
          a.black.em-500.upper(
            ng-repeat="f in filterTypes track by f"
            ng-click="setFilterType($index)"
            ng-class="{'active': isFilterType($index)}"
            translate="{{::f}}")
      .flex-center.flex-end.width-50
        a.f-12.pointer.mr-10(ng-click="exportEthPriv()")
          span Export Private Key
        a.black.mhl.em-500.upper.hidden-xs.hidden-sm(ng-click="exportHistory()")
          i.f-24.icon-export
        .filter-search.input-group.width-60
          input.form-control(
            type="text"
            placeholder="{{::'SEARCH_ETH_TX' | translate}}"
            ng-model="$parent.searchText"
            ng-model-options="{ debounce: 250 }")
          i.ti-search
  .transaction-feed.overflow-scroll(data-preflight-tag="TxsFeed")
    .flex-center.flex-justify.flex-column.mtvl(ng-hide="loading || getTotal(account) > 0 || filteredTransactions.length > 0 || selectedaccount == 'imported'")
      .flex-column.mbl.border-bottom.black.ph-25.center
        .flex-center.flex-justify
          i.icon-tx.h3.mrm
          h3.em-300(translate="NO_TRANSACTIONS_YET")
        p.em-300(translate="DESCRIBE_TRANSACTIONS")
      .flex.flex-center-mobile
        button.btn.button-default.button-short-wide.type-h5.mrm(ng-click="send()")
          i.mrs.media-middle.icon-send
          span.em-300(translate="SEND")
        .btn-group
          button.btn.button-default.button-short-wide.type-h5.pos-rel(ng-click="request()")
            i.mrs.media-middle.icon-receive
            span.em-300(translate="REQUEST")
    .flex-center.flex-justify.flex-column.mtl(ng-show="!loading && filteredTransactions.length == 0 && getTotal(account) > 0 ")
      i.ti-search.h1.mrm
      h3.em-300.mbl(translate="SORRY_ZERO_TXS")
      p.em-400(translate="PLEASE_TRY_AGAIN", ng-click="supportModal()")
    .transaction.flex-center(ng-repeat="tx in ethTransactions | filter:transactionFilter | limitTo:txLimit as filteredTransactions track by tx.hash" ng-init="tx.toggled = false")
      .tx-toggle.pointer.hidden-xs.mtm(ng-click="tx.toggled = !tx.toggled" ng-class="{rotated: !tx.toggled}")
        i.icon-down_arrow
      .tx-details.width-100.mll.mvm
        span
          transaction-description-ethereum(transaction="tx" highlight="searchText" ng-if="canDisplayDescriptions" account="account")
    .row
      .col-xs-5
      .col-xs-2
        p(align="center" ng-hide="loading || allTxsLoaded || filteredTransactions.length == 0")
          a(in-view="nextPage()" ng-click="nextPage()")
    .row(ng-show="loading").mtm.loading
       .col-xs-5
       .col-xs-2.center
         img.loader.small(src="img/puff.svg")
