.filter-bar.flex-center.flex-between(
  capture-key="{'ArrowLeft': $ctrl.moveTab(-1), 'ArrowRight': $ctrl.moveTab(1)}")
  .filter-buttons
    a.spaced.black.em-400.upper.f-16(
      ng-repeat="tab in $ctrl.tabOptions"
      ng-class="{active: $ctrl.tab === tab}"
      ng-click="$ctrl.onSelect({$tab: tab})"
      translate="{{tab}}")
  ng-transclude
