.buy-steps.flex-row.flex-between.flex-baseline.center(ng-hide="status.loading"
                                                      ng-click="buy()"
                                                      ng-class="{'flex-justify': exchangeAcct}")
  .width-20.flex-column.flex-center(ng-class="{blue: step === 0, success: step > 0}")
    span.type-lrg {{ currencySymbol.symbol }}
    span(ng-show="step > 0") {{ transaction.fiat |format }} {{ transaction.currency.code }}
    span(ng-hide="step > 0" translate="Amount")

  .flex-justify(ng-class="{success: step > 0}")
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: step === 1, success: step > 1}"
                                    ng-hide="exchangeAcct")
    i.type-lrg.ti-map-alt
    span(ng-show="step > 1 || exchange.user") {{ profile.countryCode }}
    span(ng-hide="step > 1 || exchange.user" translate="Country")

  .flex-justify(ng-class="{success: step > 1}"
                ng-hide="exchangeAcct")
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: step === 2 || step === 3, success: step > 3}"
                                    ng-hide="exchangeAcct")
    i.type-lrg.ti-user
    span(ng-show="exchange.user") {{ partner }}
    span(ng-hide="exchange.user" translate="Account")

  .flex-justify(ng-class="{success: step > 3}"
                ng-hide="exchangeAcct")
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: step >= 4, success: step > 5}")
    i.type-lrg.ti-credit-card
    span(ng-show="step > 4").capitalize {{ method.name }}
    span(ng-hide="step > 4" translate="Payment")

  .flex-justify(ng-class="{blue: step === 6, success: step === 7 && !tradeError, 'send-red': step === 7 && tradeError}")
    i.ti-arrow-right.type-h4

  .width-20.flex-column.flex-center(ng-class="{blue: step === 6, success: step === 7 && !tradeError, 'send-red': step === 7 && tradeError}")
    i.type-lrg.ti-shopping-cart
    span(translate="Get Bitcoin")
