.quick-start.border.paml.mtml
  .flex-row.flex-between.flex-center.mbl
    span.type-md(translate="BUY_BITCOIN")
    div(ng-show="exchangeRate.fiat")
      span.type-sm 1 BTC = {{currencySymbol.symbol}}{{ exchangeRate.fiat }}
      helper-button(content="EXCHANGE_RATE_HELPER")
  form(name="fiatForm" ng-submit="!status.busy && fiatForm.$valid && triggerBuy()")
    .mtl
      label.em-500(translate="ENTER_AMOUNT:")
      helper-button(ng-show="limits.card.min && limits.card.max" content="MAX_MIN_HELPER" values="{cardMax: limits.card.max, min: limits.card.min, bankMax: limits.bank.max, symbol: currencySymbol.symbol}")
      .flex-row.flex-between.flex-center.flex-column-tablet
        section.input-group.width-45
          input.form-control.brdrn(
            type="number"
            ng-model="transaction.fiat"
            name="fiat"
            tabindex="1"
            focus-when="status.ready"
            ng-change="updateLastInput('fiat'); getExchangeRate();"
            ng-model-options="{debounce: 250}"
            placeholder="{{placeholder}}"
            min="{{limits.card.min}}"
            max="{{limits.bank.available > limits.card.available ? limits.bank.available : limits.card.available}}"
            step="0.01"
            required)
          div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
            button.btn.btn-default.dropdown-toggle.brdrn(type="button" uib-dropdown-toggle aria-haspopup="true")
              span {{ transaction.currency.code }}
              span.caret
            ul.uib-dropdown-menu.dropdown-menu.currency-dropdown(role="menu")
              li(ng-repeat="currency in currencies"
                 role="menuitem" 
                 ng-click="changeCurrency({currency: currency}); getExchangeRate();"
                 ng-class="{active: isCurrencySelected(currency)}")
                a(ng-click="$event.preventDefault()") {{ currency.code }}
        i.ti-arrows-horizontal.mhm.type-h4.hidden-sm.hidden-xs
        i.ti-arrows-vertical.mvs.type-h4.visible-sm.visible-xs
        section.input-group.width-45
          input.form-control.brdrn(
            type="number"
            ng-model="transaction.btc"
            name="btc"
            step="any"
            tabindex="1"
            min="0.00000001"
            ng-change="updateLastInput('btc'); getExchangeRate();"
            ng-model-options="{debounce: 250}"
            placeholder="{{placeholder}}"
            required)
          div.input-group-btn
            button.btn.btn-default.brdrn.disabled BTC
      .mts.pos-rel
        span.pos-abs.type-sm.state-danger-text(ng-show="fiatForm.fiat.$error.min" translate="BUY_AMT_LOW")
        span.pos-abs.type-sm.state-danger-text(ng-show="fiatForm.fiat.$error.max" translate="BUY_AMT_HIGH")
    .flex-end.mtvl.pos-rel
      span.coinify-logo.coinify-logo-left
        span.mrs.type-sm(translate="POWERED_BY")
        a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
          img(src="img/coinify-logo.svg")
          span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
      button.button-primary(translate="Buy Bitcoin" type="submit" ng-disabled="!fiatForm.$valid || status.busy")
