.edit-mobile(ng-class="{'offset-flag': fullWidth}")
  form(ng-class="{'width-100 flex' : fullWidth}" role="form" name="mobileForm" ng-submit="changeMobile()")
    bc-phone-number(
      ng-model='fields.newMobile' 
      default-country='{{ mobileDefaultCountry }}' 
      preferred-countries='us ca gb au' 
      ng-disabled="status.busy"
      ng-class="{'prl' : fullWidth}"
      name="mobile"
    )
    br(ng-if="!fullWidth")
    div(ng-class="{'flex-1': fullWidth, 'mll': fullWidth}")
      button(
        type="submit"
        ng-class="buttonLg ? 'button-success button-lg' : 'button-primary'" 
        ui-ladda="{{ status.busy }}"
        ng-disabled="mobileForm.mobile.$invalid || !numberChanged()" 
        ladda-translate="SAVE" 
        data-style="expand-left"
      )
      button.button-muted.btn-small(
        type="button"
        ng-if="!fullWidth" 
        ng-click="cancel()" 
        translate="CANCEL"
      )
