.edit-mobile(ng-class="{'offset-flag': fullWidth}")
  p(translate="ENABLE_2FA_ENTER_MOBILE")
  form(ng-class="{'width-100 flex' : fullWidth}" role="form" name="mobileForm" ng-submit="changeMobile()")
    span(ng-hide="status.disableChangeBecause2FA()")
      bc-phone-number(
        ng-model='fields.newMobile' 
        default-country='{{ mobileDefaultCountry }}' 
        preferred-countries='us ca gb au' 
        ng-disabled="status.busy || status.disableChangeBecause2FA()"
        ng-class="{'prl' : fullWidth}"
        name="mobile"
      )
    span.help-block(ng-show="status.disableChangeBecause2FA()", translate="MOBILE_NUMBER_CHANGE_DISABLED_BECAUSE_SMS_2FA")
    br(ng-if="!fullWidth")
    div(ng-class="{'flex-1': fullWidth, 'mll': fullWidth}")
      button.button-primary(
        type="submit" 
        ui-ladda="status.busy"
        ng-disabled="mobileForm.mobile.$invalid || !numberChanged() || status.disableChangeBecause2FA()" 
        ladda-translate="SAVE" 
      )
      button.button-muted.button-sm(
        type="button"
        ng-if="!fullWidth" 
        ng-click="cancel()" 
        translate="CANCEL"
      )
