.destination-input
  .input-group(ng-click="focus()")
    button.form-control(
      type="button"
      ng-show="model.type === 'Accounts'"
      ng-click="clearModel(); focusInput();")
      span.pull-left
        | {{ model.label }}
    input.form-control(
      type="text"
      tabindex="1"
      autocomplete="off"
      placeholder="Paste or scan an address or select an account"
      ng-model="model.address"
      ng-hide="model.type === 'Accounts'"
      ng-blur="blur()"
    )
    .input-group-btn(uib-dropdown)
      button#qr.btn.btn-default(
        type="button"
        ng-disabled="!browserWithCamera"
        ng-class="{ 'border-rounded-right': accounts.length <= 1 }"
        ng-click="onRequestQr()")
        img(src="img/qr-code.png" alt="QR")
      button.btn.btn-default(
        type="button"
        ng-show="accounts.length > 1"
        uib-dropdown-toggle)
        span.caret
        span.sr-only Toggle Dropdown
      ul.uib-dropdown-menu.dropdown-menu-right.drop-menu
        li.dropdown-header
          | Accounts
        li(ng-repeat="account in accounts")
          a(ng-click="setModel(account)" ng-disabled="true")
            | {{ account.label }}
