.destination-input
  ui-select(
    ng-model="model"
    ng-model-options="{}"
    ng-show="selectOpen"
    on-select="setModel($select.selected)"
    ui-select-open="$parent.selectOpen"
    ui-select-on-close="$parent.selectOpen=false; focusInput()"
    tagging)
    ui-select-match(placeholder="{{'SEARCH' | translate}}...")
    ui-select-choices(repeat="d in destinations | filter:{label:$select.search} | limitTo:limit track by $index" group-by="'type'")
      label-origin(origin="::d" highlight="$select.search" in-view="$last && isLast(d) && incLimit()")
  .input-group(ng-click="focus()" ng-hide="selectOpen")
    i.ti-reload.input-loader(ng-show="searching")
    button.form-control(
      type="button"
      ng-hide="model.type === 'External'"
      ng-click="clearModel(); focusInput();")
      span.pull-left
        label-origin(origin="model" simple="true")
    input#address-field.form-control(
      type="text"
      tabindex="1"
      autocomplete="off"
      placeholder="Paste or scan an address or select a destination"
      ng-model="model.value"
      ng-model-options="{ debounce: 250 }"
      ng-change="updateModel()"
      ng-show="model.type === 'External'"
      ng-blur="blur()"
      autofocus)
    .input-group-btn
      qr-scan(on-scan="onAddressScan")
      button.btn.btn-default.brdrn(
        type="button"
        ng-hide="dropdownHidden"
        ng-click="selectOpen=true")
        span.caret
        span.sr-only Toggle Dropdown
