.destination-input
  .input-group(ng-click="focus()")
    button.form-control(
      type="button"
      ng-show="model.type === 'Accounts'"
      ng-click="clearModel(); focusInput();")
      span.pull-left
        label-origin(origin="model")
    input.form-control(
      type="text"
      tabindex="1"
      autocomplete="off"
      placeholder="Paste or scan an address or select a destination"
      ng-model="model.address"
      ng-hide="model.type === 'Accounts'"
      ng-blur="blur()"
    )
    .input-group-btn(uib-dropdown)
      qr-scan(
        on-scan="onAddressScan"
        ng-class="{ 'border-rounded-right': dropdownHidden }")
      button.btn.btn-default(
        type="button"
        ng-hide="dropdownHidden"
        uib-dropdown-toggle)
        span.caret
        span.sr-only Toggle Dropdown
      ul.uib-dropdown-menu.dropdown-menu-right.dropdown-menu
        li(ng-repeat="account in accounts")
          a(ng-click="setModel(account)" ng-disabled="account.index === model.index")
            label-origin(origin="::account")
