button.helper.mid-grey(
  type="button"
  uib-popover-template="helperText.templateUrl"
  popover-class="message-contextual bg-light-blue"
  popover-append-to-body="{{!append}}"
  popover-trigger="outsideClick"
  popover-placement="{{::helperText.placement}}"
  popover-is-open="popoverIsOpen"
  ng-class="{'bg-blue white active': popoverIsOpen,'bg-white': !popoverIsOpen}"
  ng-click="popoverIsOpen = !popoverIsOpen")
  span(ng-show="!popoverIsOpen && !warning") ?
  span(ng-show="!popoverIsOpen && warning") !
  i.ti-close.white(ng-show="popoverIsOpen", class="close-helper")
