.progress.mbn(ng-show="password")
  .progress-bar(
    ng-class="barColor"
    role="progressbar"
    aria-valuenow="{{score}}"
    aria-valuemin="0"
    aria-valuemax="100"
    ng-style="{width:score+'%'}") {{strength}}
