.qr-scan-popover
  bc-qr-reader(
    ng-hide="scanComplete"
    on-result="onCameraResult"
    on-error="onCameraError"
    active="cameraOn"
    camera-status="cameraOn")
  .qr-result.flex-justify.flex-center(ng-show="scanComplete")
    .flex-center.flex-column(ng-show="scanSuccess")
      i.ti-check.bright-green
      span.bright-green(translate="SCAN_SUCCESS")
    .flex-center.flex-column(ng-hide="scanSuccess")
      i.ti-close.security-red
      span.security-red(ng-hide="scanResultError" translate="SCAN_FAILED")
      span.security-red(ng-show="scanResultError") {{ scanResultError | translate }}
