.quick-start.col-md-6.col-sm-12.col-xs-12.pln.prn
  .pt-30.pb-30.ph-15.phm.border
    form(name="fiatForm" ng-submit="!status.busy && fiatForm.$valid && triggerSell()" novalidate)
      .flex-row.flex-between
        .flex-center
          label.em-500(translate="ENTER_AMOUNT:")
        .flex-center(ng-show="exchangeRate.fiat" ng-hide="status.fetching")
          span.type-sm.em-500 1 BTC = {{sellCurrencySymbol.symbol}}{{ sellExchangeRate.fiat }}
          helper-button(content="EXCHANGE_RATE_HELPER")
        .flex-row.flex-center(ng-show="status.fetching")
          img(src="img/spinner.gif")
      fieldset(ng-disabled="tradingDisabled")
        .flex-row.flex-between.flex-center.flex-column-tablet
          section.input-group.width-45
            input.form-control.brdrn(
              type="number"
              ng-model="sellTransaction.btc"
              name="btc"
              step="any"
              prevent-event="mousewheel"
              tabindex="1"
              min="0.00000001"
              ng-change="updateLastInput('btc'); getQuote();"
              ng-model-options="{debounce: 250}"
              placeholder="{{placeholder}}"
              ng-class="{'input-error': error.moreThanInWallet}"
              required)
            div.input-group-btn
              button.btn.btn-default.brdrn(ng-click="$event.preventDefault()" ng-class="{'input-error': error.moreThanInWallet}") BTC
          i.ti-arrows-horizontal.mhm.type-h4.hidden-sm.hidden-xs
          i.ti-arrows-vertical.mvs.type-h4.visible-sm.visible-xs
          section.input-group.width-45
            input.form-control.brdrn(
              type="number"
              ng-model="sellTransaction.fiat"
              name="fiat"
              tabindex="1"
              focus-when="status.ready"
              ng-change="updateLastInput('fiat'); getQuote();"
              ng-model-options="{debounce: 250}"
              placeholder="{{placeholder}}"
              min="{{limits.card.min}}"
              max="{{sellLimit}}"
              step="any"
              prevent-event="mousewheel"
              ng-class="{'input-error': error.moreThanInWallet}"
              required)
            div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
              button.btn.btn-default.dropdown-toggle.brdrn(type="button" uib-dropdown-toggle aria-haspopup="true" ng-class="{'input-error': error.moreThanInWallet}")
                span {{ sellTransaction.currency.code }}
                span.caret
              ul.uib-dropdown-menu.dropdown-menu.currency-dropdown(role="menu")
                li(ng-repeat="currency in currencies"
                   role="menuitem"
                   ng-click="changeSellCurrency({currency: currency}); getExchangeRate(); changeSymbol({currency: currency});"
                   ng-class="{active: isCurrencySelected(currency)}")
                  a(ng-click="$event.preventDefault()") {{ currency.code }}
        .mts.pos-rel.mb-10.mtm.pbl(ng-show="showZeroBalance")
          | &#x1F622;
          |
          span.type-sm(translate="SELL.ZERO_BALANCE")
          | &nbsp;
          a(ng-click="request()") Request
          | &nbsp;
          span or
          | &nbsp;
          a(ng-click="$ctrl.selectTab({tab:'BUY_BITCOIN'})") Buy.
        .pos-rel.mt-10(ng-hide="tradingDisabled")
          span.type-sm.state-danger-text(ng-show="fiatForm.fiat.$error.min" translate="SELL_AMT_LOW" translate-values="{limit: limits.card.min, symbol: sellCurrencySymbol.symbol}")
          span.type-sm.state-danger-text(ng-show="fiatForm.fiat.$error.max && !error.moreThanInWallet" translate="SELL_AMT_HIGH")
        .mtm.pos-rel.mb-10(ng-if="error.moreThanInWallet")
          span.state-danger-text(ng-show="error.moreThanInWallet" translate="SELL.MORE_THAN_BALANCE")
          br
          a.type-sm(ng-show="error.moreThanInWallet" ng-click="useAll()" translate="SELL.SELL_ALL")
        .mts.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'disabled'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="TRADING_IS_DISABLED")
        .mts.mb-15.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'after_first_trade'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="BUY_AMT_IS" translate-values="{symbol: currencySymbol.symbol, amount: 0}")
            span &nbsp;
            a(popup
              popup-days="{{$ctrl.getDays()}}"
              popup-name="coinify-verification"
              translate="WHY")
        .mts.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'awaiting_first_trade_completion'")
          span.pos-abs.type-sm(ng-show="isPendingTradeState('awaiting_transfer_in')")
            span.blue.pointer(ng-click="openPendingTrade()" translate="FINISH")
            |
            span(translate="OR")
            |
            span.blue.pointer(ng-click="cancelTrade()" translate="CANCEL")
            |
            span(translate="PURCHASE_PENDING")
            |
            span {{ format(pendingTrade.sendAmount / 100, {code: pendingTrade.inCurrency}, true) }}
            | .
          span.pos-abs.type-sm(ng-show="isPendingTradeState('reviewing')")
            span.blue.pointer(ng-click="openPendingTrade()" translate="PURCHASE_PENDING_CANT_CANCEL")
      .flex-row.mt-5(ng-hide="")
        div(ng-hide="!exchange._user || error.moreThanInWallet || tradingDisabled")
          span(translate="SELL.MAX_DAILY")
          | &nbsp;
          span {{limitsCurrencySymbol.symbol}}{{sellLimit}}.
          | &nbsp;
          a(ng-click="$ctrl.onTrigger()") Increase my limit
      .flex-end.pos-rel
        button.button-primary.mt-10(ladda-translate="Sell Bitcoin" type="submit" ng-disabled="!fiatForm.$valid || status.busy || tradingDisabled || error.moreThanInWallet" data-style="expand-left" ui-ladda="status.waiting")
