.quick-start.col-md-6.col-sm-12.col-xs-12.pln.prn
  .pt-30.pb-30.ph-15.phm.border
    form(name="fiatForm" ng-submit="!status.busy && fiatForm.$valid && triggerSell()" novalidate)
      .flex-row.flex-center.flex-between
        span.f-14.em-500.colon Select your currency
        //- .flex-row.flex-center
        //-   span.f-12 1 BTC = {{currencySymbol.symbol}}{{ exchangeRate.fiat }}
        //-   helper-button(content="EXCHANGE_RATE_HELPER")
      .flex-row.flex-between
        ui-select.mtm.width-45.width-45-tablet.width-45-mobile(placeholder="Select Currency" ng-model="transaction.currency" on-select="$ctrl.changeSellCurrency($item); getExchangeRate()")
          ui-select-match(placeholder="Select currency") {{transaction.currency.code}}
          ui-select-choices(repeat="currency in currencies")
            span {{currency.name}}
        .flex-row.flex-center.width-45(ng-hide="status.fetching")
          span.f-14 1 BTC = {{currencySymbol.symbol}}{{ exchangeRate.fiat }}
          helper-button(content="EXCHANGE_RATE_HELPER")
        .flex-row.flex-center.width-45(ng-show="status.fetching")
          img(src="img/spinner.gif")
      .flex-row.flex-between.pt-20
        .flex-center
          label.em-500(translate="ENTER_AMOUNT:")
          //- helper-button(ng-disabled="false" ng-show="limits.card.min && limits.card.max" content="MAX_MIN_HELPER" values="{cardMax: limits.card.max, min: limits.card.min, bankMax: limits.bank.max, symbol: currencySymbol.symbol}")
        .flex-center(ng-show="exchangeRate.fiat")
          //- span.type-sm.em-500 1 BTC = {{currencySymbol.symbol}}{{ exchangeRate.fiat }}
          //- helper-button(content="EXCHANGE_RATE_HELPER")
      fieldset(ng-disabled="tradingDisabled")
        .flex-row.flex-between.flex-center.flex-column-tablet
          section.input-group.width-45
            input.form-control.brdrn(
              type="number"
              ng-model="transaction.btc"
              name="btc"
              step="any"
              prevent-event="mousewheel"
              tabindex="1"
              min="0.00000001"
              ng-change="updateLastInput('btc'); getQuote();"
              ng-model-options="{debounce: 350}"
              placeholder="{{placeholder}}"
              ng-class="{'input-error': error.moreThanInWallet}"
              required)
            div.input-group-btn
              button.btn.btn-default.brdrn.disabled(ng-disabled="true") BTC
          i.ti-arrows-horizontal.mhm.type-h4.hidden-sm.hidden-xs
          i.ti-arrows-vertical.mvs.type-h4.visible-sm.visible-xs
          section.input-group.width-45
            input.form-control.brdrn(
              type="number"
              ng-model="transaction.fiat"
              name="fiat"
              tabindex="1"
              focus-when="status.ready"
              ng-change="updateLastInput('fiat'); getQuote();"
              ng-model-options="{debounce: 350}"
              placeholder="{{placeholder}}"
              min="{{limits.card.min}}"
              max="{{sellLimit}}"
              step="any"
              prevent-event="mousewheel"
              required)
            div.input-group-btn
              button.btn.btn-default.disabled(ng-disabled="true")
                span {{ transaction.currency.code }}
        .mtm.pos-rel.mb-10(ng-if="error.moreThanInWallet")
          span.pos-abs.type-sm.state-danger-text(ng-show="fiatForm.fiat.$error.min" ng-hide="error.moreThanInWallet" translate="SELL_AMT_LOW")
          span.pos-abs.type-sm.state-danger-text(ng-show="fiatForm.fiat.$error.max && !error.moreThanInWallet" translate="SELL_AMT_HIGH")
          //- span.pos-abs.type-sm.state-danger-text(ng-show="error.moreThanInWallet") The amount is more than what is available in this wallet.
          span(ng-show="error.moreThanInWallet") The amount entered is more than your balance.
          | &nbsp;
          a.type-sm(ng-show="error.moreThanInWallet" ng-click="useAll()") Sell all minus BTC fee
        .mts.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'disabled'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="TRADING_IS_DISABLED")
        .mts.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'after_first_trade'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="BUY_AMT_IS" translate-values="{symbol: currencySymbol.symbol, amount: 0}")
            span
            span.blue.pointer(popup
                              popup-days="{{getDays()}}"
                              popup-name="coinify-verification"
                              translate="WHY")
        .mts.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'awaiting_first_trade_completion'")
          span.pos-abs.type-sm(ng-show="isPendingTradeState('awaiting_transfer_in')")
            span.blue.pointer(ng-click="openPendingTrade()" translate="FINISH")
            |
            span(translate="OR")
            |
            span.blue.pointer(ng-click="cancelTrade()" translate="CANCEL")
            |
            span(translate="PURCHASE_PENDING")
            |
            span {{ format(pendingTrade.sendAmount / 100, {code: pendingTrade.inCurrency}, true) }}
            | .
          span.pos-abs.type-sm(ng-show="isPendingTradeState('reviewing')")
            span.blue.pointer(ng-click="openPendingTrade()" translate="PURCHASE_PENDING_CANT_CANCEL")
      .flex-row.mtm.mb-10(ng-hide="!exchange._user || error.moreThanInWallet")
        span Maximum daily sell amount is €{{sellLimit}}.
        | &nbsp;
        a(ng-click="$ctrl.onTrigger()") Increase my limit>
      .flex-end.pos-rel
        //- span.coinify-logo.coinify-logo-left
        //-   span.mrs.type-sm(translate="POWERED_BY")
        //-   a(href="https://www.coinify.com/" target="_blank" rel="noopener noreferrer")
        //-     img(src="img/coinify-logo.svg")
        //-     span.pos-abs.fade.height-100.width-100(uib-tooltip="{{'PROCESSED_BY_EXCHANGE' | translate}}" tooltip-append-to-body="true")
        button.button-primary.mt-10(ladda-translate="Sell Bitcoin" type="submit" ng-disabled="!fiatForm.$valid || status.busy || tradingDisabled || error.moreThanInWallet" data-style="expand-left" ui-ladda="status.waiting")
