.quick-start.col-md-6.col-sm-12.col-xs-12.pln.prn
  .pv-30.ph-30.border
    form(name="fiatForm" ng-submit="!status.busy && fiatForm.$valid && triggerSell()" novalidate)
      .flex-row.flex-between
        .flex-center
          label.em-500(translate="ENTER_AMOUNT:")
        .flex-center(ng-hide="$ctrl.status.fetching || $ctrl.serviceSuspended")
          span.type-sm.em-500 1 BTC = {{ exchangeRate.fiat }} {{$ctrl.transaction.currency.code}}
          helper-button(content="EXCHANGE_RATE_HELPER")
        .flex-row.flex-center(ng-show="$ctrl.status.fetching")
          img(src="img/spinner.gif")
      fieldset(ng-disabled="tradingDisabled")
        .flex-row.flex-between.flex-center.flex-column-tablet
          section.input-group.width-45
            input.form-control.brdrn(
              type="number"
              ng-model="$ctrl.transaction.btc"
              name="btc"
              step="any"
              prevent-event="mousewheel"
              tabindex="1"
              min="0.00000001"
              ng-change="updateLastInput('btc'); $ctrl.transaction.btc && getQuote();"
              ng-model-options="{debounce: 250}"
              placeholder="{{placeholder}}"
              ng-class="{'input-error': $ctrl.error.moreThanInWallet}"
              required)
            div.input-group-btn
              button.btn.btn-default.brdrn(ng-click="$event.preventDefault()" ng-class="{'input-error': $ctrl.error.moreThanInWallet}") BTC
          i.ti-arrows-horizontal.mhm.type-h4.hidden-sm.hidden-xs
          i.ti-arrows-vertical.mvs.type-h4.visible-sm.visible-xs
          section.input-group.width-45
            input.form-control.brdrn(
              type="number"
              ng-model="$ctrl.transaction.fiat"
              name="fiat"
              tabindex="1"
              focus-when="status.ready"
              ng-change="updateLastInput('fiat'); $ctrl.transaction.fiat && getQuote();"
              ng-model-options="{debounce: 250}"
              placeholder="{{placeholder}}"
              min="{{limits.bank.min[$ctrl.transaction.currency.code]}}"
              max="{{limits.bank.maxOutRemaining[$ctrl.transaction.currency.code]}}"
              step="any"
              prevent-event="mousewheel"
              ng-class="{'input-error': $ctrl.error.moreThanInWallet}"
              required)
            div.input-group-btn(uib-dropdown uib-keyboard-nav-style)
              button.btn.btn-default.dropdown-toggle.brdrn(type="button" uib-dropdown-toggle aria-haspopup="true" ng-class="{'input-error': $ctrl.error.moreThanInWallet}")
                span {{ $ctrl.transaction.currency.code }}
                span.caret
              ul.uib-dropdown-menu.dropdown-menu.currency-dropdown(role="menu")
                li(ng-repeat="currency in currencies"
                   role="menuitem"
                   ng-click="handleCurrencyClick({currency: currency}); getQuote();"
                   ng-class="{active: isCurrencySelected(currency)}")
                  a(ng-click="$event.preventDefault()") {{ currency.code }}
        .mts.pos-rel.mb-10(ng-show="!$ctrl.serviceSuspended && showZeroBalance && !isPendingSellTrade()")
          | &#x1F622;
          |
          span.type-sm(translate="SELL.ZERO_BALANCE")
          | &nbsp;
          a(ng-click="request()") Request
          | &nbsp;
          span or
          | &nbsp;
          a(ng-click="$ctrl.selectTab({tab:'BUY_BITCOIN'})") Buy.
        .mts.pos-rel(ng-hide="tradingDisabled || $ctrl.error.moreThanInWallet")
          span.pos-abs.type-sm.state-danger-text(ng-click="setFiat(limits.bank.min[$ctrl.transaction.currency.code]); updateLastInput('fiat'); $ctrl.transaction.fiat && getQuote();" ng-show="fiatForm.fiat.$error.min" translate="SELL_AMT_LOW" translate-values="{limit: limits.bank.min[$ctrl.transaction.currency.code], symbol: $ctrl.sellCurrencySymbol.symbol}")
          span.pos-abs.type-sm.state-danger-text(ng-click="setFiat(limits.bank.maxOutRemaining[$ctrl.transaction.currency.code]); updateLastInput('fiat'); $ctrl.transaction.fiat && getQuote();" ng-show="fiatForm.fiat.$error.max" translate="SELL_AMT_HIGH" translate-values="{limit: limits.bank.maxOutRemaining[$ctrl.transaction.currency.code], symbol: $ctrl.sellCurrencySymbol.symbol}")
        .mts.pos-rel(ng-show="$ctrl.serviceSuspended && $ctrl.serviceSuspendedReason === 'service_temporarily_unavailable'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="TRADING_SERVICE_IS_DISABLED")
        .mtm.pos-rel(ng-show="!$ctrl.serviceSuspended && $ctrl.error.moreThanInWallet && !fiatForm.fiat.$error.min && !fiatForm.fiat.$error.max")
          span.pos-abs.state-danger-text(ng-show="$ctrl.error.moreThanInWallet && !multipleAccounts()" translate="SELL.MORE_THAN_BALANCE")
          span.pos-abs.state-danger-text(ng-show="$ctrl.error.moreThanInWallet && multipleAccounts()" translate="SELL.MORE_THAN_BALANCE_LABELS" translate-values="{account: defaultAccount()}")
          br
          a.pos-abs.type-sm(ng-show="$ctrl.error.moreThanInWallet" ng-click="useAll()" translate="SELL.SELL_ALL")
        .mts.pos-rel(ng-show="tradingDisabled && tradingDisabledReason === 'disabled'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="TRADING_IS_DISABLED")
        .mts.pos-rel(ng-show="$ctrl.tradingDisabled && $ctrl.tradingDisabledReason === 'awaiting_first_trade_completion'")
          span.pos-abs.type-sm(ng-show="isPendingSellTrade()")
            span.state-danger-text(translate="SELL.WAIT_FOR_TRADE_COMPLETE")
          span.pos-abs.type-sm(ng-show="isPendingTradeState('awaiting_transfer_in')" ng-hide="isPendingSellTrade()")
            a(ng-click="$ctrl.openPendingTrade()" translate="FINISH")
            | &nbsp;
            span(translate="OR")
            | &nbsp;
            a(ng-click="cancelTrade()" translate="CANCEL")
            | &nbsp;
            span(translate="PURCHASE_PENDING")
            | &nbsp;
            span {{ format($ctrl.pendingTrade.sendAmount / 100, {code: $ctrl.pendingTrade.inCurrency}, true) }}
            | .
        .mts.mb-15.pos-rel(ng-show="$ctrl.tradingDisabled && $ctrl.tradingDisabledReason === 'after_first_trade'")
          span.pos-abs.type-sm
            span.state-danger-text(translate="BUY_AMT_IS" translate-values="{symbol: $ctrl.sellCurrencySymbol.symbol, amount: 0}")
            span &nbsp;
            a(popup
              popup-days="{{$ctrl.getDays()}}"
              popup-name="coinify-verification"
              translate="WHY")
      .flex-row.mt-5(ng-hide="$ctrl.tradingDisabled")
        div.pos-abs(ng-hide="!$ctrl.exchange.user || $ctrl.error.moreThanInWallet || $ctrl.tradingDisabled || fiatForm.fiat.$error.min || fiatForm.fiat.$error.max")
          span(ng-hide="hideIncreaseLimit" translate="SELL.LIMIT_REMAINING" translate-values="{symbol: limitsCurrencySymbol.symbol, remaining: remaining, limit: sellLimit}")
          | &nbsp;
          a(ng-click="$ctrl.onTrigger()" ng-hide="hideIncreaseLimit") here
          span(ng-show="hideIncreaseLimit" translate="SELL.LEVEL_2_LIMIT_REMAINING" translate-values="{symbol: limitsCurrencySymbol.symbol, remaining: remaining, limit: sellLimit}")
      .flex-end.pos-rel.mt-30
        button.button-primary(ladda-translate="Sell Bitcoin" type="submit" ng-disabled="!fiatForm.$valid || $ctrl.status.busy || $ctrl.tradingDisabled || $ctrl.error.moreThanInWallet" data-style="expand-left" ui-ladda="status.waiting")
