.flex-column
  .flex-align-end.flex-end.pbl
    .flex-column.col-md-3.col-sm-12.col-xs-12
      span.timestamp.pbm.type-sm.basic-grey
        date {{ tx.time * 1000 | date:'MMMM d @ hh:mm a' }}
      .flex-center
        span.action(
          ng-class="{\
            incoming_tx : tx.txType === 'received',\
            outgoing_tx : tx.txType === 'sent',\
            local_tx    : tx.txType === 'transfer'\
          }"
          translate="{{ getAction(tx.txType) }}").prm
        i.ti-notepad.aaa.plm(ng-show="tx.note").prm
        span.label.label-default(translate="WATCH_ONLY", ng-show="((tx.txType === 'received' || tx.txType === 'transfer') && tx.toWatchOnly) ||  (tx.txType === 'sent' && tx.fromWatchOnly)")
    .hidden-xs.hidden-sm.destination.em-400.col-md-8(
      ng-class="tx.toggled ? 'dark-grey' : 'basic-grey'")
      .flex.row
        span.text.col-md-1(
          ng-show="tx.txType === 'transfer' || tx.txType === 'received'") {{::'FROM' | translate}}:
        span.text.col-md-1(
          ng-show="tx.txType === 'sent'") {{::'TO' | translate}}
        span.hidden-sm.hidden-xs.col-md-11.mlm(
          ng-bind-html="getLabels(tx).primary | escapeHtml | highlight:search")
    .hidden-xs.hidden-sm.col-md-1
  .flex-center.border-top.ptl.hidden-xs.hidden-sm.dark-grey(
    ng-show="tx.toggled")
    .col-md-3
    .col-md-8.destination.em-400
      .flex.row
        span.text.col-md-1(
          ng-show="tx.txType === 'transfer' || tx.txType === 'received'") {{::'TO' | translate}}:
        span.text.col-md-1(
          ng-show="tx.txType === 'sent'") {{::'FROM' | translate}}
        span.hidden-sm.hidden-xs.col-md-11.mlm(
          ng-bind-html="getLabels(tx).secondary | escapeHtml | highlight:search")
      .flex.row.mtm(ng-show="tx.note")
        span.text.col-md-1(translate="NOTE_LC")
        span.break-word.hidden-sm.hidden-xs.col-md-11.mlm {{ tx.note }}
      .flex.row.mtm.timestamp.aaa(
        ng-show="tx.confirmations === 0")
        span.text.col-md-12(translate="UNCONFIRMED_WARNING")
    .col-md-1
