.flex-column
  .flex-start.flex-between
    .flex-1.flex-column.pointer(ng-click="tx.toggled = !tx.toggled")
      span.timestamp.pbm.type-sm.basic-grey
        date {{:: tx.time * 1000 | date:'MMMM d @ hh:mm a' }}
      .flex-center.lh1
        span.action.prm(
          ng-class=":: txClass"
          translate="{{:: txDirection }}")
        span.label.label-default(translate="WATCH_ONLY" ng-show=":: txWatchOnly")
    .flex-2.hidden-xs.hidden-sm.destination.em-400.basic-grey.pointer(ng-click="tx.toggled = !tx.toggled")
      div
        span(
          ng-show=":: tx.txType === 'transfer' || tx.txType === 'received'") {{:: 'FROM' | translate}}:
        span(
          ng-show=":: tx.txType === 'sent'") {{:: 'TO' | translate}}:
        span.hidden-sm.hidden-xs.mlm(
          ng-bind-html="txLabels.primary | escapeHtml | highlight:search")
      div
        span(
          ng-show=":: tx.txType === 'transfer' || tx.txType === 'received'") {{:: 'TO' | translate}}:
        span(
          ng-show=":: tx.txType === 'sent'") {{:: 'FROM' | translate}}:
        span.hidden-sm.hidden-xs.mlm(
          ng-bind-html="txLabels.secondary | escapeHtml | highlight:search")
        span.mlm.aaa(ng-show="label")
          i.ti-notepad.mrm.aaa
          span.aaa {{ label }}
    .flex-1.hidden-xs
      transaction-note(transaction="tx", account="account")
    .flex-1.amount.flex-end
      span 
        amount(transaction="tx")
  //- toggled and mobile
  .hidden-desktop.mtl.mbs(ng-show="tx.toggled")
    transaction-note(transaction="tx")
  .flex-start.flex-column.hidden-desktop.mvm(ng-show="tx.toggled")
    div
      span(
        ng-show=":: tx.txType === 'transfer' || tx.txType === 'received'") {{:: 'FROM' | translate}}:
      span(
        ng-show=":: tx.txType === 'sent'") {{:: 'TO' | translate}}:
      span.mlm(
        ng-bind-html="txLabels.primary | escapeHtml | highlight:search")
    div
      span(
        ng-show=":: tx.txType === 'transfer' || tx.txType === 'received'") {{:: 'TO' | translate}}:
      span(
        ng-show=":: tx.txType === 'sent'") {{:: 'FROM' | translate}}:
      span.mlm(
        ng-bind-html="txLabels.secondary | escapeHtml | highlight:search")
  //- toggled and mobile
  .hidden-desktop.mts.mbl(ng-show="tx.toggled")
    transaction-status(transaction="tx")
    div(ng-show="!complete")
      uib-progressbar(value="tx.confirmations" max="3")
        span.plm {{ tx.confirmations }}/3
        span.pls(translate="CONFIRMATIONS")
    div(ng-show="complete")
      uib-progressbar(value="tx.confirmations" max="3" type="success")
        span.plm {{ tx.confirmations }} 
        | 
        span.pls(translate="CONFIRMATIONS")
  //- toggled
  .flex-start.flex-between.dark-grey(ng-show="tx.toggled")
    .flex-1.flex-column.flex-end
      a.underline.bc-link(href="{{rootURL}}tx/{{:: tx.hash }}", target="_blank")
       span(translate="VERIFY_ON_BCI")
    .flex-2.hidden-xs.destination.flex-align-self-end
      transaction-status(transaction="tx")
      div(ng-show="!complete")
        uib-progressbar(value="tx.confirmations" max="3")
          span.plm {{ tx.confirmations }}/3
          span.pls(translate="CONFIRMATIONS")
      div(ng-show="complete")
        uib-progressbar(value="tx.confirmations" max="3" type="success")
          span.plm {{ tx.confirmations }} 
          | 
          span.pls(translate="CONFIRMATIONS")
    .flex-1.hidden-xs.pointer(ng-click="tx.toggled = !tx.toggled")
      div
    .flex-1.flex-column.flex-align-end.mtvl
      .flex-row
        p.mbn(translate="VALUE_AT_SEND" ng-show=":: tx.txType === 'sent' || tx.txType === 'transfer'")
        p.mbn(translate="VALUE_WHEN_RECEIVED" ng-show=":: tx.txType === 'received'")
        | :&nbsp;
        fiat.em-600(btc=":: tx.amount" date=":: tx.time")
      .flex-row.fee(ng-hide=":: tx.txType === 'received'")
        helper-button(content="{{ 'TX_FEE_EXPLAINATION' | translate }}")
        p.mbn(translate="TX_FEE")
        | :&nbsp;
        fiat.em-600(btc=":: tx.fee")
